<div class="page-head">
    <div class="container page-head__container">
        <ul class="bcrumbs page-head__bcrumbs">
            <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
            <li><a href="#">Obituaries</a></li>
            <li>Past</li>
        </ul>
    </div>
</div>

<div class="step-1">
    <h2 class="step-1__main-title title-l">
        Завести новую страницу памяти
    </h2>

    <div class="container stap-1__container">
        <div class="stap-1__head section-head text-center">
            <h3 class="title-l">Шаг 1</h3>
            <p class="description">Описание шага 1: Проверяем, что такой страницы (по ФИО) еще нет......</p>
        </div>
    </div>
</div>