<div class="page-head">
    <div class="container page-head__container">
        <ul class="bcrumbs page-head__bcrumbs">
            <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
            <li><a href="#">Obituaries</a></li>
            <li>Past</li>
        </ul>
    </div>
</div>

<div class="about-us">
    <div class="container about-us__container">
        <div class="about-us__head section-head text-center">
            <h1 class="title-l title-l_smaller about-us__title">О нас</h1>
        </div>
        <div class="about-us__text text-center">
            <p>
                Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то тексттут какой то текст тут какой то 
            </p>
            <div class="about-us__subtext">
                <div class="about-us__photo">
                    <img src="./img/angel-roses.png" alt="img">
                </div>
                <p>
                    текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то тексттут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
                </p>
            </div>
        </div>    
        <img class="about-us__img about-us__img_1" src="./img/pigeon-1.png" alt="img">
        <img class="about-us__img about-us__img_2" src="./img/pigeon-2.png" alt="img">
        <img class="about-us__img about-us__img_3" src="./img/pigeon-3.png" alt="img">
        <img class="about-us__img about-us__img_4" src="./img/pigeon-4.png" alt="img">
        <img class="about-us__img about-us__img_5" src="./img/icon-lamp.png" alt="img">
    </div>
    <div class="about-us__wrap">
        <div class="container about-us__container">
            <div class="about-us__questions">
                <img src="./img/angel-roses.png" alt="img">
                <ul class="accordeon about-us__accordeon">
                    <li class="accordeon__item">
                        <div class="accordeon__head title-s"> Вопрос о работе портала идет тут? <span class="accordeon__icon"></span> </div>
                        <div class="accordeon__body" style="display: none;">
                            <p> Embalming sanitizes andpreserves the body, retards the decomposition process, and enhances the appearance of a body disfigured by traumatic death or illness. </p>
                            <p> Embalming makes it possible to lengthen the time between death and the final disposition, thus allowing family members time to arrange and participate in the type of service most comforting to them. </p>
                        </div>
                    </li>
                    <li class="accordeon__item">
                        <div class="accordeon__head title-s"> Какой-то еще вопрос о портале? <span class="accordeon__icon"></span> </div>
                        <div class="accordeon__body">
                            <p> Embalming sanitizes andpreserves the body, retards the decomposition process, and enhances the appearance of a body disfigured by traumatic death or illness. </p>
                            <p> Embalming makes it possible to lengthen the time between death and the final disposition, thus allowing family members time to arrange and participate in the type of service most comforting to them. </p>
                        </div>
                    </li>
                    <li class="accordeon__item">
                        <div class="accordeon__head title-s"> Вопрос о портале с развернутым описанием? <span class="accordeon__icon"></span> </div>
                        <div class="accordeon__body">
                            <p> Embalming sanitizes andpreserves the body, retards the decomposition process, and enhances the appearance of a body disfigured by traumatic death or illness. </p>
                            <p> Embalming makes it possible to lengthen the time between death and the final disposition, thus allowing family members time to arrange and participate in the type of service most comforting to them. </p>
                        </div>
                    </li>
                    <li class="accordeon__item">
                        <div class="accordeon__head title-s"> Вопрос о портале? <span class="accordeon__icon"></span> </div>
                        <div class="accordeon__body">
                            <p> Embalming sanitizes andpreserves the body, retards the decomposition process, and enhances the appearance of a body disfigured by traumatic death or illness. </p>
                            <p> Embalming makes it possible to lengthen the time between death and the final disposition, thus allowing family members time to arrange and participate in the type of service most comforting to them. </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>