<div class="about-advantages">
        <div class="container about-advantages__container">
            <div class="about-advantages__head section-head text-center">
                <h1 class="title-l title-l_smaller about-advantages__title">Наши преимущества</h1>
            </div>
            <div class="about-advantages__body">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <!-- begin person -->
                        <a href="#" class="person">
                            <div class="person__img">
                                <span class="person__icon">{{ mixins.icon('people') }}</span>
                            </div>
                            <div class="person__descr">
                                <div class="person__name-wrap">
                                    <div class="person__name">Новые клиенты</div>
                                </div>
                                <div class="person__text">
                                        We offer useful advice on how to help friends and relatives in grief.
                                </div>
                            </div>
                        </a>
                        <!-- end person -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <!-- begin person -->
                        <a href="#" class="person">
                            <div class="person__img">
                                <span class="person__icon">{{ mixins.icon('crown') }}</span>
                            </div>
                            <div class="person__descr">
                                <div class="person__name-wrap">
                                    <div class="person__name">Престиж</div>
                                </div>
                                <div class="person__text">
                                        We answer some of the common questions people have.
                                </div>
                            </div>
                        </a>
                        <!-- end person -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <!-- begin person -->
                        <a href="#" class="person">
                            <div class="person__img">
                                <span class="person__icon">{{ mixins.icon('support') }}</span>
                            </div>
                            <div class="person__descr">
                                <div class="person__name-wrap">
                                    <div class="person__name">Личный менеджер</div>
                                </div>
                                <div class="person__text">
                                        We hope that these sample sympathy letters will make it easier for you.
                                </div>
                            </div>
                        </a>
                        <!-- end person -->
                    </div>
                        <!-- </div> -->
                    <!-- <div class="row"> -->
                    <div class="col-md-4 col-sm-6 col-md-offset-2 col-xs-12">
                        <!-- begin person -->
                        <a href="#" class="person">
                            <div class="person__img">
                                <span class="person__icon">{{ mixins.icon('24-hours-support') }}</span>
                            </div>
                            <div class="person__descr">
                                <div class="person__name-wrap">
                                    <div class="person__name">Поддержка</div>
                                </div>
                                <div class="person__text">
                                        Our Set Funeral Plans make planning a funeral incredibly straightforward.
                                </div>
                            </div>
                        </a>
                        <!-- end person -->
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <!-- begin person -->
                        <a href="#" class="person">
                            <div class="person__img">
                                <span class="person__icon">{{ mixins.icon('pig') }}</span>
                            </div>
                            <div class="person__descr">
                                <div class="person__name-wrap">
                                    <div class="person__name">Экономия</div>
                                </div>
                                <div class="person__text">
                                        Many people gain comfort from having a memorial as a lasting memory.
                                </div>
                            </div>
                        </a>
                        <!-- end person -->
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="bottom-image">
            <img class="js-lazy" data-src="img/rose-angel.png" alt="rose-angel">
        </div>
</div>