<div class="wrapper">
	<div class="clearfix"></div>
	<div class="page_head ">
		<div class="container">
			<ul class="bcrumbs pull-left">
				<li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
				<li><a href="#">Obituaries</a></li>
				<li>Blog</li>
			</ul>
		</div>
	</div>
	<div class="new-companys">
		<div class="new-companys__container container">
			<div class="new-companys__wrap js-accordion-wrap">
				<div class="new-companys__head section-head">
					<h1 class="new-companys__title title-l">Добавление новой компании</h1>
					<p>Написать подзаголовок, если нужно</p>
				</div>
				<form class="company-form" action="/">
					<div class="company-form__row">
						<div class="row">
							<div class="col-md-3">
								<div class="file-upload">
									<label class="file-upload__wrap" for="file-upload1">
										<span class="file-upload__icon">
											{{ mixins.icon('camera') }}
										</span>
										<span class="file-upload__description">
											Загрузите логотип
										</span>
										<span class="file-upload__photo" style="background-image: url();">
										</span>
									</label>
									<input type="file" name="file-upload1" id="file-upload1" class="file-upload__input">
								</div>
							</div>
							<div class="col-md-9">
								<div class="post-form">
									<div class="post-form__col">
										<span class="post-form__title-row">
											Название компании:
										</span>
										<input class="post-form__input" type="text" id="name-company" value="" name="name-company" placeholder="Введите название компании">
										<div class="hints">
											<div class="hints__icon">
												<i class="fa fas fa-question"></i>
											</div>
											<div class="hints__text">
												Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
											</div>
										</div>
									</div>
									<div class="post-form__col">
										<span class="post-form__title-row">
											Специализация:
										</span>
										<input class="post-form__input" type="text" id="specialization" value="" name="specialization" placeholder="Пример: салон ритуальных услуг">
										<div class="hints">
											<div class="hints__icon">
												<i class="fa fas fa-question"></i>
											</div>
											<div class="hints__text">
												Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
											</div>
										</div>
									</div>
									<div class="select-wrap">
										<span class="post-form__title-row">
											Год создания компании:
										</span>
										<div class="select">
											<select name="year-company" id="years" style="width: 100%" class="js-select">
												<option value="1">2018</option>
												<option value="2">2017</option>
												<option value="3">2016</option>
												<option value="4">2015</option>
												<option value="5">2014</option>
											</select>
										</div>
										<div class="hints">
											<div class="hints__icon">
												<i class="fa fas fa-question"></i>
											</div>
											<div class="hints__text">
												Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="company-form__row company-form__row_mod">
						<div class="row">
							<div class="col-md-12">
								<div class="basic-services js-accord">
									<div class="basic-services__header title-box">
										<h4 class="title-box__title title-m">
											Основные услуги
										</h4>
										<button type="button" class="title-box__btn hide-block-btn js-accord-btn">
											<span class="js-accord-text-btn">Скрыть</span> раздел
										</button>
									</div>
									<div class="select-wrap js-accordion__hide-block">
										<span class="post-form__title-row">
											Выберите из списка:
										</span>
										<div class="select select_mod">
											<select class="js-select-mult" name="character" multiple="multiple">
	                                            <option value="Lois">Ритуальный салон</option>
	                                            <option value="Chris">Художественная ковка</option>
	                                            <option value="Meg">Услуга 3</option>
	                                            <option value="Stewie">Памятники</option>
	                                            <option value="Cleveland">Кованая мебель</option>
	                                            <option value="Joe">Кованая мебель</option>
	                                            <option value="Quagmire">Памятники</option>
	                                        </select>
										</div>
										<div class="hints">
											<div class="hints__icon">
												<i class="fa fas fa-question"></i>
											</div>
											<div class="hints__text">
												Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="company-form__row">
						<div class="row">
							<div class="col-md-12">
								<div class="basic-contacts js-accord">
									<div class="basic-contacts__header title-box">
										<h4 class="title-box__title title-m">
											Контакты
										</h4>
										<button type="button" class="title-box__btn hide-block-btn js-accord-btn">
											<span class="js-accord-text-btn">Скрыть</span> раздел
										</button>
									</div>
									<div class="basic-contacts__wrap js-accordion__hide-block">
										<div class="post-form post-form__mods">
											<div class="post-form__col">
												<span class="post-form__title-row">
													Адрес компании:Выбрать услугу из списка
												</span>
												<input class="post-form__input" type="text" id="adress-company" value="" name="adress-company" placeholder="Адрес будет написан тут">
												<div class="hints">
													<div class="hints__icon">
														<i class="fa fas fa-question"></i>
													</div>
													<div class="hints__text">
														Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
													</div>
												</div>
											</div>
										</div>
										<div class="basic-services__map">
											<!-- begin map -->
											<div class="map-wrap">
												<div class="js-map map" id="mapInfobox" data-center-lat="-34.097" data-center-lng="150.644"></div>
												{% set tamplate = '<div class="baloon mob-hide">
													<!-- <button class="baloon__close js-infobox-close"></button> -->
													<div class="baloon__content">
														<div class="baloon__row">
															<div class="baloon__col">
																{{? baloon.img }}
																<div class="baloon__img"><img src="{{=baloon.img}}" alt="{{=baloon.imgAlt}}"></div>
																{{?}}
																{{? baloon.title }}
																<div class="baloon__title">{{=baloon.title}}</div>
																{{?}}
																{{? baloon.linkText }}
																<div class="baloon__footer">
																	<a href="{{=baloon.linkUrl}}" class="btn btn_small">{{=baloon.linkText}}<i class="fi flaticon-arrows"></i></a>
																</div>
																{{?}}
															</div>
															<div class="baloon__col">
																{{? baloon.address }}
																	<div class="baloon__item"><i class="fa fa-map-marker"></i>{{=baloon.address}}</div>
																{{?}}
																{{? baloon.address }}
																	<div class="baloon__item"><i class="fi flaticon-technology"></i>{{=baloon.phone}}</div>
																{{?}}
																{{? baloon.address }}
																	<div class="baloon__item"><i class="fi flaticon-black"></i>{{=baloon.email}}</div>
																{{?}}
																{{? baloon.address }}
																	<div class="baloon__item"><i class="fi flaticon-clock"></i>{{=baloon.time}}</div>
																{{?}}
															</div>
														</div>
													</div>
												</div>' %}
												{% set array = '[
														{
															"content": {
																"title": "1. Название компании",
																"linkUrl": "#",
																"linkText": "Перейти",
																"img": "./img/map-img.png",
																"imgAlt": "img",
																"address": "Хабаровск, Гоголя, 8",
																"phone": "8 (111) 123 123",
																"email": "dmitryz5700@gmail.com",
																"time": "С 7.00 до 21.00, без выходных",
																"list": [
																	{
																		"bla": "bla"
																	},
																	{
																		"bla": "bla"
																	}
																]
															},
															"marker": {
																"id": 2,
																"position": {
																	"lat": -34.397,
																	"lng": 151.044
																},
																"icon": {
																	"default": "img/marker.png",
																	"active": "img/marker.png",
																	"size": {
																		"x": 50,
																		"y": 64
																	},
																	"centering": {
																		"x": 20,
																		"y": 58
																	}
																}
															}
														},
														{
															"content": {
																"title": "1. Название компании",
																"linkUrl": "#",
																"linkText": "Перейти",
																"img": "./img/map-img.png",
																"imgAlt": "img",
																"address": "Хабаровск, Гоголя, 8",
																"phone": "8 (111) 123 123",
																"email": "dmitryz5700@gmail.com",
																"time": "С 7.00 до 21.00, без выходных",
																"list": [
																	{
																		"bla": "bla"
																	},
																	{
																		"bla": "bla"
																	}
																]
															},
															"marker": {
																"id": 3,
																"position": {
																	"lat": -34.397,
																	"lng": 151.444
																},
																"icon": {
																	"default": "img/marker.png",
																	"active": "img/marker.png",
																	"size": {
																		"x": 50,
																		"y": 64
																	},
																	"centering": {
																		"x": 20,
																		"y": 58
																	}
																}
															}
														}
													]' %}
												<script type="text/template" class="js-mapInfobox">
													{{ tamplate | safe }}
												</script>
												<script>
													document.addEventListener('DOMContentLoaded', function(){
														window.mapInfobox.add({{array | safe}})
													});
												</script>
											</div>
											<!-- end map -->
										</div>
										<div class="contact-form">
											<div class="row">
												<div class="col-md-6">
													<div class="post-form">
														<div class="post-form__col">
															<span class="post-form__title-row">
																Телефон 1:
															</span>
															<input class="post-form__input" type="text" id="phone1" value="" name="phone1" placeholder="+7 (111) 123-45-67">
														</div>
														<div class="post-form__col">
															<span class="post-form__title-row">
																Email:
															</span>
															<input class="post-form__input" type="text" id="email1" value="" name="email1" placeholder="vashemail@mail.ru">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="post-form">
														<div class="post-form__col">
															<span class="post-form__title-row">
																Телефон 2:
															</span>
															<input class="post-form__input" type="text" id="phone2" value="" name="phone2" placeholder="+7 (111) 123-45-67">
														</div>
														<div class="post-form__col">
															<span class="post-form__title-row">
																Ваш сайт:
															</span>
															<input class="post-form__input" type="text" id="site1" value="" name="site1" placeholder="vash-site.com">
														</div>
													</div>
												</div>
											</div>
											<div class="contact-form__textarea">
												<div class="row">
													<div class="col-md-12">
														<div class="post-form">
															<div class="post-form__col">
																<span class="post-form__title-row">
																	Описание:
																</span>
																<textarea class="post-form__textarea" id="message" name="message" placeholder="Описание"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="post-form">
														<div class="post-form__col">
															<span class="post-form__title-row">
																График работы 1:
															</span>
															<input class="post-form__input" type="text" id="graphic-work1" value="" name="graphic-work1" placeholder="ПН-ВТ: 09:00-19:00">
														</div>
														<div class="post-form__col">
															<span class="post-form__title-row">
																Перерыв:
															</span>
															<input class="post-form__input" type="text" id="break" value="" name="break" placeholder="13:00-14:00">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="post-form">
														<div class="post-form__col">
															<span class="post-form__title-row">
																График работы 2:
															</span>
															<input class="post-form__input" type="text" id="graphic-work2" value="" name="graphic-work2" placeholder="СБ-ВС: 10:00-18:00">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="company-form__row">
						<div class="row">
							<div class="col-md-12">
								<div class="upload-photo js-accord">
									<div class="upload-photo__header title-box">
										<h4 class="title-box__title title-m">
											Добавление фото
										</h4>
										<button type="button" class="title-box__btn hide-block-btn js-accord-btn">
											<span class="js-accord-text-btn">Скрыть</span> раздел
										</button>
									</div>
									<div class="upload-photo__wrap js-accordion__hide-block">
										<div class="row">
											<div class="upload-photo__gallery">
												<a href="#" class="upload-photo__item col-md-3 col-sm-4 col-xs-6">
													<span class="upload-photo__icon">
														{{ mixins.icon('camera') }}
													</span>
													<span class="upload-photo__description">
														Добавить фото
													</span>
													<div class="upload-photo__photo" style="background-image: url(img/upload.png);">
													</div>
												</a>
												<a href="#" class="upload-photo__item col-md-3 col-sm-4 col-xs-6">
													<span class="upload-photo__icon">
														{{ mixins.icon('camera') }}
													</span>
													<span class="upload-photo__description">
														Добавить фото
													</span>
													<div class="upload-photo__photo" style="background-image: url(img/upload.png);">
													</div>
												</a>
												<a href="#" class="upload-photo__item col-md-3 col-sm-4 col-xs-6">
													<span class="upload-photo__icon">
														{{ mixins.icon('camera') }}
													</span>
													<span class="upload-photo__description">
														Добавить фото
													</span>
													<div class="upload-photo__photo" style="background-image: url();">
													</div>
												</a>
											</div>
										</div>
										<div class="row">
											<div class="upload-gallery">
												<div class="post-form col-md-7">
													<span class="title-hint">
														Выберите файл формата jpg, Размер файла не более 6 Мб
													</span>	
													<div class="file-upload">
														<div class="post-form__col">
															<input class="post-form__input" type="text" id="way1" value="" name="way1" placeholder=":/Путь файла будет тут.....">
															<label class="post-form__icon" for="file-upload-photo1"><i class="fa fas fa-camera"></i></label>
														</div>
														<label class="file-upload__label btn btn_big" for="file-upload-photo1">
															Добавить
														</label>
														<input type="file" name="file-upload-photo1" id="file-upload-photo1" class="file-upload__input">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="company-form__row">
						<div class="row">
							<div class="col-md-12">
								<div class="upload-photo js-accord">
									<div class="upload-photo__header title-box">
										<h4 class="title-box__title title-m">
											Каталог товаров/услуг
										</h4>
										<button type="button" class="title-box__btn hide-block-btn js-accord-btn">
											<span class="js-accord-text-btn">Скрыть</span>
											раздел
										</button>
									</div>
									<div class="upload-photo__wrap js-accordion__hide-block">
										<div class="upload-photo__nav">
											<div class="row">
												<div class="col-md-10">
													<div class="sorting">
														<div class="sorting__col">
															<span class="sorting__title">
																Сортировать по
															</span>
															<div class="sorting__dropdown">
																<span class="sorting__active-name">
																	рейтингу
																	<span class="sorting__icon">
																		{{ mixins.icon('arrow') }}
																	</span>
																</span>
																<ul class="sorting__list">
																	<li class="sorting__item">
																		<a href="#" class="sorting__link">
																			дате
																		</a>
																	</li>
																	<li class="sorting__item">
																		<a href="#" class="sorting__link">
																			популярности
																		</a>
																	</li>
																	<li class="sorting__item">
																		<a href="#" class="sorting__link">
																			просмотрам
																		</a>
																	</li>
																</ul>
															</div>
														</div>
														<div class="sorting__col">
															<span class="sorting__title">
																Показывать по
															</span>
															<div class="sorting__dropdown">
																<span class="sorting__active-name">
																	10
																	<span class="sorting__icon">
																		{{ mixins.icon('arrow') }}
																	</span>
																</span>
																<ul class="sorting__list">
																	<li class="sorting__item">
																		<a href="#" class="sorting__link">
																			5
																		</a>
																	</li>
																	<li class="sorting__item">
																		<a href="#" class="sorting__link">
																			10
																		</a>
																	</li>
																	<li class="sorting__item">
																		<a href="#" class="sorting__link">
																			15
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-2">
													<nav class="navigation-page">
													    <ul class="page-nav">
													        <li class="page-nav__item active">
													        	<a class="page-nav__link" href="#">1</a>
													        </li>
													        <li class="page-nav__item">
													        	<a class="page-nav__link" href="#">2</a>
													        </li>
													        <li class="page-nav__item">
													        	<a class="page-nav__link" href="#">3</a>
													        </li>
													        <li class="page-nav__item">
													        	<a class="page-nav__link" href="#">4</a>
													        </li>
													        <li class="page-nav__item">
													        	<a class="page-nav__link" href="#">...</a>
													        </li>
													    </ul>
													</nav>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												{% include "partials/new-company/_table.html" %}
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="add-product">
													<a href="#" class="add-product__btn">
														+
													</a>
													<span class="add-product__text">
														Добавить услугу/товар
													</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3">
												<div class="upload-photo">
													<a href="#" class="upload-photo__gallery upload-photo__gallery_mod">
														<div class="upload-photo__item upload-photo__item_mod">
															<span class="upload-photo__icon">
																{{ mixins.icon('camera') }}
															</span>
															<span class="upload-photo__description">
																Добавить фото
															</span>
															<div class="upload-photo__photo" style="background-image: url();">
															</div>
														</div>
													</a>
												</div>
											</div>
											<div class="col-md-9">
												<div class="post-form">
													<div class="post-form__col">
														<span class="post-form__title-row">
															Название:
														</span>
														<input class="post-form__input" type="text" id="name-product2" value="" name="name-product2">
														<label class="post-form__label" for="name-product2">
															Написать название
														</label>
														<div class="hints">
															<div class="hints__icon">
																<i class="fa fas fa-question"></i>
															</div>
															<div class="hints__text">
																Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
															</div>
														</div>
													</div>
													<div class="select-wrap">
														<span class="post-form__title-row">
															Группа:
														</span>
														<div class="select">
															<select name="group-product" id="group-product" style="width: 100%" class="js-select">
																<option value="1">Выбрать из списка подходящее</option>
																<option value="2">2017</option>
																<option value="3">2016</option>
																<option value="4">2015</option>
																<option value="5">2014</option>
															</select>
														</div>
														<div class="hints">
															<div class="hints__icon">
																<i class="fa fas fa-question"></i>
															</div>
															<div class="hints__text">
																Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
															</div>
														</div>
													</div>
													<div class="post-form__col">
														<span class="post-form__title-row">
															Цена:
														</span>
														<input class="post-form__input" type="text" id="price-product" value="" name="price-product">
														<label class="post-form__label" for="price-product">
															1000 руб.
														</label>
														<div class="hints">
															<div class="hints__icon">
																<i class="fa fas fa-question"></i>
															</div>
															<div class="hints__text">
																Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- <div class="row">
											<div class="upload-gallery">
												<div class="post-form col-md-7">
													<span class="title-hint">
														Выберите файл формата jpg, Размер файла не более 6 Мб
													</span>	
													<div class="file-upload">
														<div class="post-form__col">
															<input class="post-form__input" type="text" id="way1" value="" name="way1" placeholder=":/Путь файла будет тут.....">
															<label class="post-form__icon" for="file-upload-photo1"><i class="fa fas fa-camera"></i></label>
														</div>
														<label class="file-upload__label btn btn_big" for="file-upload-photo1">
															Добавить
														</label>
														<input type="file" name="file-upload-photo1" id="file-upload-photo1" class="file-upload__input" value="">
													</div>
												</div>
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="company-form__row">
						<div class="row">
							<div class="col-md-12">
								<div class="basic-services js-accord">
									<div class="basic-services__header title-box">
										<h4 class="title-box__title title-m">
											Подробности о товаре/услуге
										</h4>
										<button type="button" class="title-box__btn hide-block-btn js-accord-btn">
											<span class="js-accord-text-btn">Скрыть</span> раздел
										</button>
									</div>
									<div class="details js-accordion__hide-block">
										<div class="contact-form">
											<div class="row">
												<div class="col-md-6">
													<!-- <div class="post-form"> -->
														<div class="post-form__col">
															<div class="select-wrap">
																<span class="post-form__title-row">
																	Характеристика 1
																</span>
																<div class="select">
																	<select name="group-product1" id="group-product1" style="width: 100%" class="js-select">
																		<option value="1">Выбрать из списка подходящее</option>
																		<option value="2">2017</option>
																		<option value="3">2016</option>
																		<option value="4">2015</option>
																		<option value="5">2014</option>
																	</select>
																</div>
															</div>
														</div>
													<!-- </div> -->
												</div>
												<div class="col-md-6">
													<!-- <div class="post-form"> -->
														<div class="post-form__col">
															<div class="select-wrap">
																<span class="post-form__title-row">
																	Характеристика 1
																</span>
																<div class="select">
																	<select name="group-product2" id="group-product2" style="width: 100%" class="js-select">
																		<option value="1">Выбрать из списка подходящее</option>
																		<option value="2">2017</option>
																		<option value="3">2016</option>
																		<option value="4">2015</option>
																		<option value="5">2014</option>
																	</select>
																</div>
															</div>
														</div>
													<!-- </div> -->
												</div>
											</div>
											<div class="contact-form__textarea">
												<div class="row">
													<div class="col-md-12">
														<div class="post-form">
															<div class="post-form__col">
																<span class="post-form__title-row">
																	Описание:
																</span>
																<textarea class="post-form__textarea" id="characteristics-message" name="characteristics-message" placeholder="Описание"></textarea>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="details__save">
													<button type="submit" class="details__save-btn btn btn_big">
														Сохранить и добавить
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="new-companys__footer">
								<div class="basic-services">
									<div class="basic-services__header title-box">
										<h4 class="title-box__title title-m">
											Сохранение и просмотр компании
										</h4>
									</div>
								</div>
								<div class="row">
									<div class="details__save">
										<button type="submit" class="details__save-btn btn btn_border btn_big">
											Предпросмотр
										</button>
									</div>
									<div class="details__save">
										<button type="submit" class="details__save-btn btn btn_big">
											Сохранить и компанию
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div class="bottom-image">
					<img src="img/rose-angel.png" alt="rose-angel">
				</div>
			</div>
		</div>
	</div>
</div>