<!-- begin table -->
<div class="table">
	<div class="table__thead mob-hide">
		<div class="table__tr">
			<div class="table__th" data-column="photo">
				Добавленные товары/услуги
			</div>
			<div class="table__th" data-column="qua">
				Порядок
			</div>
			<div class="table__th" data-column="price">
				Стоимость
			</div>
			<div class="table__th table__th_mod" data-column="group">
				Группа
			</div>
			<div class="table__th" data-column="group">
				
			</div>
		</div>
	</div>
	<div id="style-scroll" class="table__tbody">
		<div class="table__tr">
			<div class="table__td" data-column="photo">
				<div class="table__img">
					<img src="img/picture.png" class="table__img-in" alt="image">
				</div>
			</div>
			<div class="table__td" data-column="photo">
				<div class="table__name">
					<div class="table__name-label">
						Название услуги или товара
					</div>
				</div>
			</div>
			<div class="table__td" data-column="qua">
				<div class="table__counter">
					<div class="counter-price">
						<span class="counter-price__input">1</span>
						<button class="counter-price__plus" type="button">
							{{ mixins.icon('arrow') }}
						</button>
					</div>
				</div>
			</div>
			<div class="table__td" data-column="price">
				<div class="table__value">
					1 000 руб.
				</div>
			</div>
			<div class="table__td" data-column="group">
				<div class="table__group">
					Подходящая категория
				</div>
			</div>
			<div class="table__block-btn">
				<button class="table__btn">
					{{ mixins.icon('filse-copy') }}
		  		</button>
		  		<a class="table__btn" href="#">
		  			{{ mixins.icon('pen') }}
		  		</a>
				<button class="table__btn">
					{{ mixins.icon('close') }}
		  		</button>
			</div>
		</div>
		<div class="table__tr">
			<div class="table__td" data-column="photo">
				<div class="table__img">
					<img src="img/picture.png" class="table__img-in" alt="image">
				</div>
			</div>
			<div class="table__td" data-column="photo">
				<div class="table__name">
					<div class="table__name-label">
						Название услуги или товара
					</div>
				</div>
			</div>
			<div class="table__td" data-column="qua">
				<div class="table__counter">
					<div class="counter-price">
						<span class="counter-price__input">1</span>
						<button class="counter-price__plus" type="button">
							{{ mixins.icon('arrow') }}
						</button>
					</div>
				</div>
			</div>
			<div class="table__td" data-column="price">
				<div class="table__value">
					1 000 руб.
				</div>
			</div>
			<div class="table__td" data-column="group">
				<div class="table__group">
					Подходящая категория
				</div>
			</div>
			<div class="table__block-btn">
				<button class="table__btn">
					{{ mixins.icon('filse-copy') }}
		  		</button>
		  		<a class="table__btn" href="#">
		  			{{ mixins.icon('pen') }}
		  		</a>
				<button class="table__btn">
					{{ mixins.icon('close') }}
		  		</button>
			</div>
		</div>
		<div class="table__tr">
			<div class="table__td" data-column="photo">
				<div class="table__img">
					<img src="img/picture.png" class="table__img-in" alt="image">
				</div>
			</div>
			<div class="table__td" data-column="photo">
				<div class="table__name">
					<div class="table__name-label">
						Название услуги или товара
					</div>
				</div>
			</div>
			<div class="table__td" data-column="qua">
				<div class="table__counter">
					<div class="counter-price">
						<span class="counter-price__input">1</span>
						<button class="counter-price__plus" type="button">
							{{ mixins.icon('arrow') }}
						</button>
					</div>
				</div>
			</div>
			<div class="table__td" data-column="price">
				<div class="table__value">
					1 000 руб.
				</div>
			</div>
			<div class="table__td" data-column="group">
				<div class="table__group">
					Подходящая категория
				</div>
			</div>
			<div class="table__block-btn">
				<button class="table__btn">
					{{ mixins.icon('filse-copy') }}
		  		</button>
		  		<a class="table__btn" href="#">
		  			{{ mixins.icon('pen') }}
		  		</a>
				<button class="table__btn">
					{{ mixins.icon('close') }}
		  		</button>
			</div>
		</div>
		<div class="table__tr">
			<div class="table__td" data-column="photo">
				<div class="table__img">
					<img src="img/picture.png" class="table__img-in" alt="image">
				</div>
			</div>
			<div class="table__td" data-column="photo">
				<div class="table__name">
					<div class="table__name-label">
						Название услуги или товара
					</div>
				</div>
			</div>
			<div class="table__td" data-column="qua">
				<div class="table__counter">
					<div class="counter-price">
						<span class="counter-price__input">1</span>
						<button class="counter-price__plus" type="button">
							{{ mixins.icon('arrow') }}
						</button>
					</div>
				</div>
			</div>
			<div class="table__td" data-column="price">
				<div class="table__value">
					1 000 руб.
				</div>
			</div>
			<div class="table__td" data-column="group">
				<div class="table__group">
					Подходящая категория
				</div>
			</div>
			<div class="table__block-btn">
				<button class="table__btn">
					{{ mixins.icon('filse-copy') }}
		  		</button>
		  		<a class="table__btn" href="#">
		  			{{ mixins.icon('pen') }}
		  		</a>
				<button class="table__btn">
					{{ mixins.icon('close') }}
		  		</button>
			</div>
		</div>
		<div class="table__tr">
			<div class="table__td" data-column="photo">
				<div class="table__img">
					<img src="img/picture.png" class="table__img-in" alt="image">
				</div>
			</div>
			<div class="table__td" data-column="photo">
				<div class="table__name">
					<div class="table__name-label">
						Название услуги или товара
					</div>
				</div>
			</div>
			<div class="table__td" data-column="qua">
				<div class="table__counter">
					<div class="counter-price">
						<span class="counter-price__input">1</span>
						<button class="counter-price__plus" type="button">
							{{ mixins.icon('arrow') }}
						</button>
					</div>
				</div>
			</div>
	  		<div class="table__td" data-column="price">
				<div class="table__value">
					1 000 руб.
				</div>
	  		</div>
			<div class="table__td" data-column="group">
				<div class="table__group">
					Подходящая категория
				</div>
			</div>
			<div class="table__block-btn">
				<button class="table__btn">
					{{ mixins.icon('filse-copy') }}
		  		</button>
		  		<a class="table__btn" href="#">
		  			{{ mixins.icon('pen') }}
		  		</a>
				<button class="table__btn">
					{{ mixins.icon('close') }}
		  		</button>
			</div>
		</div>
		<div class="table__tr">
			<div class="table__td" data-column="photo">
				<div class="table__img">
					<img src="img/picture.png" class="table__img-in" alt="image">
				</div>
			</div>
			<div class="table__td" data-column="photo">
				<div class="table__name">
					<div class="table__name-label">
						Название услуги или товара
					</div>
				</div>
			</div>
			<div class="table__td" data-column="qua">
				<div class="table__counter">
					<div class="counter-price">
						<span class="counter-price__input">1</span>
						<button class="counter-price__plus" type="button">
							{{ mixins.icon('arrow') }}
						</button>
					</div>
				</div>
			</div>
			<div class="table__td" data-column="price">
				<div class="table__value">
					1 000 руб.
				</div>
			</div>
			<div class="table__td" data-column="group">
				<div class="table__group">
					Подходящая категория
				</div>
			</div>
			<div class="table__block-btn">
				<button class="table__btn">
					{{ mixins.icon('filse-copy') }}
		  		</button>
		  		<a class="table__btn" href="#">
		  			{{ mixins.icon('pen') }}
		  		</a>
				<button class="table__btn">
					{{ mixins.icon('close') }}
		  		</button>
			</div>
		</div>
	</div>
</div>
<!-- end table -->