body
	background: #FFF
	+css-lock(16, 50, 600, 1000)
	line-height: 1.4

.title-l
	font-weight: 600
	font-size: 45px
	line-height: 1.4
	font-family: $cormorant_infant
	color: $brown

.title-m
	font-weight: 600
	font-size: 30px
	line-height: 1
	font-family: $cormorant_infant
	color: $brown