body
	background: #FFF
	+css-lock(16, 50, 600, 1000)
	line-height: 1.4

.title-l
	font-weight: 600
	font-size: 45px
	line-height: 1.2
	font-family: $cormorant_infant
	color: $brown
	&_mod
		font-weight: 600
		font-size: 45px
		line-height: 1.2
		font-family: $cormorant_infant
		color: $white

.title-m
	font-weight: 600
	font-size: 30px
	line-height: 1.1
	font-family: $cormorant_infant
	color: $brown



.btn
	transition: color .4s, background-color .4s, border-color .4s

.btn-prymery-mod
	position: relative
	padding: 11px 25px
	background-color: $gray_brown
    border-radius: 5px
    font-size: 14px
    font-weight: 400
    font-family: $tahoma
    color: $brown