body
	background: #FFF
	line-height: 1.4
	min-width: 320px

.inner
	+sm
		padding: 0 25px

.title-l
	font-weight: 600
	font-size: 45px
	line-height: 1.2
	font-family: $cormorant_infant
	color: $brown
	+sm
		line-height: 1
		font-size: 25px
	&_mod
		font-weight: 600
		font-size: 45px
		line-height: 1.2
		font-family: $cormorant_infant
		color: $white
		+sm
			font-size: 30px
	+sm
		font-size: 25px

.title-m
	font-weight: 600
	font-size: 30px
	line-height: 1.1
	font-family: $cormorant_infant
	color: $brown
	+sm
		font-size: 20px!important

.title-sm
	font-family: $cormorant_infant
	+f(20px, 700, 1.2)
	text-transform: uppercase

.btn
	transition: color .4s, background-color .4s, border-color .4s

.btn-prymery-mod
	position: relative
	padding: 11px 25px
	background-color: $gray_brown
	border-radius: 5px
	font-size: 14px
	font-weight: 400
	font-family: $tahoma
	color: $brown
	+sm
		padding: 10px 20px

.btn-prymery-hover
	position: relative
	padding: 11px 25px
	background-color: $gray_brown
	border-radius: 5px
	font-size: 14px
	font-weight: 400
	font-family: $tahoma
	color: $brown
	&:hover
		background-color: $hover_btn
		color: $white
	+sm
		padding: 10px 20px

.line
	height: 1px
	width: 100%
	background-color: rgba(#ffffff,.5)
	margin-bottom: 20px
	+sm
		background-color: rgba(#d9c8ab,.2)

.mob-hide
	+sm
		display: none !important

.page_head
	border-bottom: 1px solid rgba(#f1ede8,.5)

.hidein
	+sm
		display: none

.show
	+sm
		display: block		