.simple-section
    padding: 42px 0 570px
    background-position: 50% 100%
    background-repeat: no-repeat
    overflow: hidden
    .section-head
        max-width: 1050px
        margin: 0 auto
        .title-l
            margin-bottom: 8px
        p
            margin-bottom: 9px

.step3
    padding-bottom: 665px

.all-alone
    padding-bottom: 628px
    .section-head
        .description
                display: block
                font-size: 15px
                font-family: $tahoma
                font-weight: normal
                margin-bottom: 44px
