.simple-section
    padding: 70px 0 570px
    background: url(../img/step1/agent-selection.png) no-repeat 50% 164px
    overflow: hidden
    .section-head
        max-width: 1050px
        margin: 0 auto
        .title-l
            margin-bottom: 8px
        p
            margin-bottom: 9px