.simple-section
    padding: 58px 0 570px
    background-position: 50% 100%
    background-repeat: no-repeat
    overflow: hidden
    .section-head
        max-width: 1050px
        margin: 0 auto
        .title-l
            margin-bottom: 23px
        p
            margin-bottom: 9px

.step3
    padding-bottom: 665px
    .section-head
        .title-l
            margin-bottom: 37px
        p
            margin-bottom: 8px

.all-alone
    padding-bottom: 628px
    background-size: cover
    .section-head
        .title-l
            margin-bottom: 11px
        .description
                display: block
                font-size: 15px
                font-family: $tahoma
                font-weight: normal
                margin-bottom: 45px

.after-funeral
    background-size: contain
    padding: 111px 0 518px
    .section-head
        position: relative
        max-width: 570px
        z-index: 3
        p
            margin-bottom: 16px
    &__img
        position: absolute
        top: -77px
        right: -388px
        z-index: -1
