<div class="invitation">
	<div class="invitation__container container">
		<div class="invitation__head section-head text-center">
			<h3 class="title-l invitation__title">
				Текст приглашения
			</h3>
		</div>
		<div class="invitation__text bordered-text">
			<h4 class="bordered-text__title title-sm">
				Приглашение на похороны Иванова Сергея Петровича
			</h4>
			<p>
				Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
			</p>
			<p>
				Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст 
			</p>
		</div>
		<form class="invitation-form">
			<div class="invitation-form__top">
				<h4 class="invitation-form__title invitation-form__title_bordered title-sm">
					Регистрация ответственного лица
				</h4>
				<div class="invitation-form__row row">
					<div class="invitation-form__col col-md-6">
						<input class="invitation-form__input" type="text" id="name" placeholder="ФИО ответственного лица">
					</div>
					<div class="invitation-form__col col-md-6">
						<input class="invitation-form__input" type="email" id="email" placeholder="Email">
					</div>
				</div>
				<div class="invitation-form__row row">
					<div class="invitation-form__col col-md-6">
						<input class="invitation-form__input" type="text" id="login" placeholder="Логин">
					</div>
					<div class="invitation-form__col col-md-6">
						<input class="invitation-form__input" type="password" id="password" placeholder="Пароль">
					</div>
				</div>
				<h4 class="invitation-form__title title-sm">
					Введите Ваш номер телефона (на него будет выслан проверочный код):
				</h4>
				<div class="invitation-form__row row">
					<div class="invitation-form__col col-md-6">
						<input class="invitation-form__input" type="text" id="tel" placeholder="+7 (123) 456 78 90">
					</div>
					<div class="invitation-form__col col-md-6">
						<div class="invitation-form__row row">
							<div class="invitation-form__col col-md-8">
								<a href="#" class="btn btn_bold btn_fat">
									Запросить пароль по СМС
								</a>
							</div>
							<div class="invitation-form__col col-md-4">
								<input class="invitation-form__input" type="text" id="code" placeholder="Код из смс">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="invitation-form__bottom">
				<h4 class="invitation-form__title title-sm text-center">
					Список приглашенных
				</h4>
				<div class="invitation-form__row row">
					<div class="invitation-form__col col-md-4 col-sm-4">
						<div class="invited-list">
							<div class="invited">
								<span class="invited__name js-tooltip" data-tooltip-content="#tooltip_content">
									Иванов Иван Иванович
								</span>
								<div class="tooltip_templates">
										<div id="tooltip_content">
											<div class="hint">
												<div class="hint-telephone">
													+7 (123) 456 78 90
												</div>
												<div class="hint-email">
													example@example.com
												</div>
											</div>
										</div>
									</div>
								<span class="invited__icon js-tooltip">
									<i class="fi flaticon-cross-1"></i>
								</span>
								<input type="text" class="invited__input">
							</div>
							<div class="invited">
								<span class="invited__name js-tooltip" data-tooltip-content="#tooltip_content">
									Иванов Иван Иванович
								</span>
								<span class="invited__icon">
									<i class="fi flaticon-cross-1"></i>
								</span>
								<input type="text" class="invited__input">
							</div>
							<div class="invited">
								<span class="invited__name js-tooltip" data-tooltip-content="#tooltip_content">
									Иванов Иван Иванович
								</span>
								<span class="invited__icon">
									<i class="fi flaticon-cross-1"></i>
								</span>
								<input type="text" class="invited__input">
							</div>
						</div>
						
					</div>
					<div class="invitation-form__col col-md-4 col-sm-4">
						<div class="invited-list">
							<div class="invited">
								<span class="invited__name js-tooltip" data-tooltip-content="#tooltip_content">
									Иванов Иван Иванович
								</span>
								<span class="invited__icon">
									<i class="fi flaticon-cross-1"></i>
								</span>
								<input type="text" class="invited__input">
							</div>
							<div class="invited">
								<span class="invited__name js-tooltip" data-tooltip-content="#tooltip_content">
									Иванов Иван Иванович
								</span>
								<span class="invited__icon">
									<i class="fi flaticon-cross-1"></i>
								</span>
								<input type="text" class="invited__input">
							</div>
							<div class="invited">
								<span class="invited__name js-tooltip" data-tooltip-content="#tooltip_content">
									Иванов Иван Иванович
								</span>
								<span class="invited__icon">
									<i class="fi flaticon-cross-1"></i>
								</span>
								<input type="text" class="invited__input">
							</div>
						</div>
					</div>
					<div class="invitation-form__col col-md-4 col-sm-4">
						<div class="invited-list">
							<div class="invited">
								<span class="invited__name js-tooltip" data-tooltip-content="#tooltip_content">
									Иванов Иван Иванович
								</span>
								<span class="invited__icon">
									<i class="fi flaticon-cross-1"></i>
								</span>
								<input type="text" class="invited__input">
							</div>
							<div class="invited">
								<span class="invited__name js-tooltip" data-tooltip-content="#tooltip_content">
									Иванов Иван Иванович
								</span>
								<span class="invited__icon">
									<i class="fi flaticon-cross-1"></i>
								</span>
								<input type="text" class="invited__input">
							</div>
							<div class="invited">
								<span class="invited__name js-tooltip" data-tooltip-content="#tooltip_content">
									Иванов Иван Иванович
								</span>
								<span class="invited__icon">
									<i class="fi flaticon-cross-1"></i>
								</span>
								<input type="text" class="invited__input">
							</div>
						</div>
					</div>
				</div>
				<div class="invitation-form__row row text-center margin-bottom-20">
					<button class="btn btn_bold btn_fat">
						<span>
							<i class="fa fa-plus-circle"></i>
						</span>
						Добавить приглашенного
					</button>
				</div>
				
				<div class="invitation-form__row row">
					<div class="invitation-form__col col-md-4 col-sm-4">
						<input class="invitation-form__input" type="text" placeholder="Фамилия, Имя">
					</div>
					<div class="invitation-form__col col-md-4 col-sm-4">
						<input class="invitation-form__input" type="text" placeholder="+7 (123) 456 78 90">
					</div>
					<div class="invitation-form__col col-md-4 col-sm-4">
						<input class="invitation-form__input" type="email" placeholder="Email">
					</div>
				</div>
			</div>
			<div class="invitation-form__bg text-center js-lazy" data-src="./img/invitation-bg.png">
				<button class="btn btn_border btn_bg-light">
					Отправить приглашение
				</button>
			</div>
		</form>
	</div>
</div>
<div class="container">
	<h4 class="subtitle">Заголовок текста для СЕО</h4>
	<!-- drop -->
	<div class="drop js-drop">
		<div class="drop__wrap bottom-text js-drop-wrap">
			<div class="drop__show js-drop-shows">
				<p>Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то </p>
			</div>
			<div class="drop__hidden js-drop-hidden">
				<p>Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то </p>
			</div>
		</div>
		{{ mixins.readAll('Больше информации', 'mob-hide') }}
	</div>
	<!-- ¯\_(ツ)_/¯ -->
	<div class="bottom-image">
		<img class="js-lazy" data-src="img/rose-angel.png" alt="rose-angel">
	</div>
</div>

