<div class="wrapper">
	<div class="clearfix"></div>
	<div class="page-head">
		<div class="container page-head__container">
			<ul class="bcrumbs page-head__bcrumbs">
				<li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
				<li><a href="#">Obituaries</a></li>
				<li>Past</li>
			</ul>
		</div>
	</div>
	<div class="top-steps">
		<div class="top-steps__container container">
			<div class="top-steps__head section-head text-center">
				<h1 class="title-l top-steps__title">Пригласить родственников и знакомых</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp </p>
				<div class="top-steps__img-left img-left md-hide">
					<img src="./img/rose.png" alt="img">
				</div>
				<div class="top-steps__img-right img-right md-hide">
					<img src="./img/candle.png" alt="img">
				</div>
				<div class="top-steps__img-right-2 img-right md-hide">
					<img src="./img/candle-big.png" alt="img">
				</div>
			</div>
			<div class="top-steps__steps-list">
				<div class="steps top-steps__steps">
					<div class="steps__box top-steps__item">
						<div class="steps__number top-steps__number">1</div>
						<div class="steps__text top-steps__text">
							<span class="steps__description top-steps__description">Шаг 1</span>
							<p>
								Заполните карточку мероприятия для родственника
							</p>
						</div>
					</div>
					<div class="steps__box top-steps__item">
						<div class="steps__number top-steps__number">2</div>
						<div class="steps__text top-steps__text">
							<span class="steps__description top-steps__description">Шаг 2</span>
							<p>
								Заполните карточку мероприятия для родственника
							</p>
						</div>
					</div><div class="steps__box top-steps__item">
						<div class="steps__number top-steps__number">3</div>
						<div class="steps__text top-steps__text">
							<span class="steps__description top-steps__description">Шаг 3</span>
							<p>
								Заполните карточку мероприятия для родственника
							</p>
						</div>
					</div><div class="steps__box top-steps__item">
						<div class="steps__number top-steps__number">4</div>
						<div class="steps__text top-steps__text">
							<span class="steps__description top-steps__description">Шаг 4</span>
							<p>
								Заполните карточку мероприятия для родственника
							</p>
						</div>
					</div>
				</div>
				<div class="top-steps__bg mob-hide"><img src="./img/steps-bg.jpg" alt="img"></div>
			</div>
		</div>
	</div>
</div>