<div id="advantages" class="advantages js-navigation-section md-hide">
	<div class="row">
		<div class="wind">
			{{ mixins.windHead('Салон художественной ковки') }}
			<div class="wind__row row">
				
				<div class="wind__preson col-md-4 col-sm-4 col-sm-12">
					<!-- begin person -->
					<a href="#" class="person">
						<div class="person__img">
							<span class="person__icon">{{ mixins.icon('people') }}</span>
						</div>
						<div class="person__name-wrap">
							<div class="person__name">Профессиональная команда</div>
						</div>
						<div class="person__text mob-hide">
							ПТекст описания преимущества тут в две три строки Текст описания Текст описания преимущества тут
						</div>
					</a>
					<!-- end person -->
				</div>
				<div class="wind__preson col-md-4 col-sm-4 col-sm-12">
					<!-- begin person -->
					<a href="#" class="person">
						<div class="person__img">
							<span class="person__icon">{{ mixins.icon('tombstone') }}</span>
						</div>
						<div class="person__name-wrap">
							<div class="person__name">Магазин ритуальных товаров</div>
						</div>
						<div class="person__text mob-hide">
							Текст описания преимущества тут в две три строки Текст описания Текст описания преимущества тут 
						</div>
					</a>
					<!-- end person -->
				</div>
				<div class="wind__preson col-md-4 col-sm-4 col-sm-12">
					<!-- begin person -->
					<a href="#" class="person">
						<div class="person__img">
							<span class="person__icon">{{ mixins.icon('document') }}</span>
						</div>
						<div class="person__name-wrap">
							<div class="person__name">Лицензии и сертификаты</div>
						</div>
						<div class="person__text mob-hide">
							Текст описания преимущества тут в две три строки Текст описания Текст описания преимущества тут
						</div>
					</a>
					<!-- end person -->
				</div>
			</div>
			<div class="wind__row row">
				<div class="wind__preson col-md-4 col-sm-4 col-sm-12">
					<!-- begin person -->
					<a href="#" class="person">
						<div class="person__img">
							<span class="person__icon">{{ mixins.icon('candle') }}</span>
						</div>
						<div class="person__name-wrap">
							<div class="person__name">Свеча памяти</div>
						</div>
						<div class="person__text mob-hide">
							Текст описания преимущества тут в две три строки Текст описания Текст описания преимущества тут
						</div>
					</a>
					<!-- end person -->
				</div>
				<div class="wind__preson col-md-4 col-sm-4 col-sm-12">
					<!-- begin person -->
					<a href="#" class="person">
						<div class="person__img">
							<span class="person__icon">{{ mixins.icon('church') }}</span>
						</div>
						<div class="person__name-wrap">
							<div class="person__name">Организация отпевания</div>
						</div>
						<div class="person__text mob-hide">
							Текст описания преимущества тут в две три строки Текст описания Текст описания преимущества тут
						</div>
					</a>
					<!-- end person -->
				</div>
				<div class="wind__preson col-md-4 col-sm-4 col-sm-12">
					<!-- begin person -->
					<a href="#" class="person">
						<div class="person__img">
							<span class="person__icon">{{ mixins.icon('rose') }}</span>
						</div>
						<div class="person__name-wrap">
							<div class="person__name">Обслуживание после похорон</div>
						</div>
						<div class="person__text mob-hide">
							Текст описания преимущества тут в две три строки Текст описания Текст описания преимущества тут
						</div>
					</a>
					<!-- end person -->
				</div>
			</div>
			<div class="wind__bg" style="background-image: url(./img/wind-bg.jpg);"></div>
		</div>
	</div>
</div>