<div id="delivery" class="delivery js-navigation-section">
	<div class="wind">
		{{ mixins.windHead('Салон художественной ковки') }}
		<div class="wind__row row">
			<div class="variants col-md-12">
				<h5 class="variants__title title-s_mod">
					Доступные варианты доставки:
				</h5>
				<div class="variants__block">
					<h6 class="variants__block-title">
						<i class="fa fas fa-check-circle"></i>
						Вариант доставки 1
					</h6>
					<p>
						Текстовое описание условий акции идет тут в несколько строк. Текстовое описание условий акции идет тут в несколько строк.Текстовое описание условий акции идет тут в несколько строк.
					</p>
				</div>
				<div class="variants__block">
					<h6 class="variants__block-title">
						<i class="fa fas fa-check-circle"></i>
						Вариант доставки 2
					</h6>
					<p>
						Текстовое описание условий акции идет тут в несколько строк. Текстовое описание условий акции идет тут в несколько строк.Текстовое описание условий акции идет тут в несколько строк.
					</p>
				</div>
			</div>
		</div>
		<div class="delivery-block">
			<div class="wind__row row">
				<h5 class="wind__title title-s_mod">
					Доступные варианты доставки:
				</h5>
				<div class="wind__preson col-md-4 col-sm-4">
					<!-- begin person -->
					<div class="person">
						<div class="person__img">
							<span class="sberbank-icon"></span>
						</div>
						<div class="person__name-wrap">
							<div class="person__name">Сбербанк онлайн</div>
						</div>
						<div class="person__text">
							<ul class="pay-list">
								<li class="pay-list">
									Номер карты:
								</li>
								<li class="pay-list">
									1234 1234 5678 5678
								</li>
							</ul>
						</div>
					</div>
					<!-- end person -->
				</div>
				<div class="wind__preson col-md-4 col-sm-4">
					<!-- begin person -->
					<div class="person">
						<div class="person__img">
							<span class="person__icon">{{ mixins.icon('bank') }}</span>
						</div>
						<div class="person__name-wrap">
							<div class="person__name">Безналичным платежом</div>
						</div>
						<div class="person__text">
							<ul class="pay-list">
								<li class="pay-list">
									Реквизиты:
								</li>
								<li class="pay-list">
									ОГРН: 12345660908
								</li>
								<li class="pay-list">
									ИНН: 122344
								</li>
								<li class="pay-list">
									ОКПО: 8975983793
								</li>
								<li class="pay-list">
									что-то еще....
								</li>
							</ul>
						</div>
					</div>
					<!-- end person -->
				</div>
				<div class="wind__preson col-md-4 col-sm-4">
					<!-- begin person -->
					<div class="person">
						<div class="person__img">
							<span class="person__icon">{{ mixins.icon('card') }}</span>
						</div>
						<div class="person__name-wrap">
							<div class="person__name">Перевод с карты на карту</div>
						</div>
						<div class="person__text">
							<ul class="pay-list">
								<li class="pay-list">
									Номер карты:
								</li>
								<li class="pay-list">
									1234 1234 5678 5678
								</li>
							</ul>
						</div>
					</div>
					<!-- end person -->
				</div>
			</div>    
			<div class="wind__row row">    
				<div class="wind__preson col-md-4 col-sm-4">
					<!-- begin person -->
					<div class="person">
						<div class="person__img">
							<span class="person__icon">{{ mixins.icon('banknote') }}</span>
						</div>
						<div class="person__name-wrap">
							<div class="person__name">Наличный расчет</div>
						</div>
						<div class="person__text">
							<ul class="pay-list">
								<li class="pay-list">
									Оплатите по адресу:
								</li>
								<li class="pay-list">
									г. Хабаровск, ул. Название, д.1
								</li>
							</ul>
						</div>
					</div>
					<!-- end person -->
				</div>
				<div class="wind__preson col-md-4 col-sm-4">
					<!-- begin person -->
					<div class="person">
						<div class="person__img">
							<span class="yandex-pay-icon"></span>
						</div>
						<div class="person__name-wrap">
							<div class="person__name">
								Электронные платежи Яндекс Деньги, Webmoney, Qiwi кошелек
							</div>
						</div>
						<div class="person__text">
							<ul class="pay-list">
								<li class="pay-list">
									Яндекс кошелек:
								</li>
								<li class="pay-list">
									123456744574
								</li>
							</ul>
						</div>
					</div>
					<!-- end person -->
				</div>
			</div>
		</div>
		<div class="row md-hide">
			<div class="col-md-12">
				<div class="work">
					<h5 class="work__title title-s_mod">Как мы работаем:</h5>
					<div class="steps">
						<div class="steps__box">
							<div class="steps__number">1</div>
							<span class="steps__description">Шаг 1</span>
							<p>
								Краткое описание шага номер 1
							</p>
						</div>
						<div class="steps__box">
							<div class="steps__number">2</div>
							<span class="steps__description">Шаг 2</span>
							<p>
								Краткое описание шага в две или три строки
							</p>
						</div>
						<div class="steps__box">
							<div class="steps__number">3</div>
							<span class="steps__description">Шаг 3</span>
							<p>
								Краткое описание шага номер 3
							</p>
						</div>
						<div class="steps__box">
							<div class="steps__number dis-none">4</div>
							<span class="steps__description">Шаг 4</span>
							<p>
								Краткое описание шага в две или три строки
							</p>
						</div>
					</div>
					<div class="drop js-drop">
						<div class="drop__wrap js-drop-wrap">
							<div class="drop__show js-drop-shows">
								<p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
							</div>
							<div class="drop__hidden js-drop-hidden">
								<p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
							</div>
						</div>
						{{ mixins.readAll(null, 'mob-hide') }}
					</div>
				</div>
			</div>
		</div>
		<div class="wind__bg " style="background-image: url(./img/wind-bg.jpg);"></div>
	</div>
</div>