<div id="feedback" class="feedback js-navigation-section">
	<div class="wind">
		{{ mixins.windHead('Салон художественной ковки') }}
		<div class="row">
			<div class="col-md-12">
				<div class="feedback__contact">
					<div class="feedback__contact-col">
						<p>Звоните нам по телефону: <br><i class="fa fas fa-phone"></i><span> 8 (111) 123 123</span></p>
					</div>
					<div class="feedback__contact-col">
						<span>Или заполните форму ниже и мы свяжемся с Вами:</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="feedback-form">
				<form class="post-form col-md-7">
					<span class="post-form__icon">
						{{ mixins.icon('flaticon') }}
					</span>
					<h5 class="post-form__title title-m">Оставить сообщение</h5>
					<div class="post-form__row row">
						<div class="post-form__col">
							<input class="post-form__input" type="text" id="names">
							<label class="post-form__label" for="names">Ваше имя</label>
						</div>
						<div class="post-form__col">
							<input class="post-form__input" type="text" id="emails">
							<label class="post-form__label" for="emails">Email</label>
						</div>
						<div class="post-form__col">
							<input class="post-form__input" type="text" id="phones">
							<label class="post-form__label" for="phones">Телефон</label>
						</div>
						<div class="post-form__col">
							<textarea class="post-form__textarea" id="messages"></textarea>
							<label class="post-form__label" for="messages">Комментарий</label>
						</div>
					</div>
					<button type="submit" class="btn btn-md">Отправить</button>
				</form>
				<div class="col-md-5 hide-md md-hide">
					<div class="feedback-form__image">
						<img class="js-lazy" data-src="img/feedback-img.png" alt="feedback-img">
					</div>
				</div>
			</div>
		</div>
		<div class="wind__bg js-lazy" data-src="./img/wind-bg.jpg"></div>
	</div>
</div>