<div id="license" class="license js-navigation-section md-hide">
	<div class="wind">
		{{ mixins.windHead('Салон художественной ковки') }}
		<div class="row">
			<div class="col-md-12">
				<div class="certificate">
					<div class="certificate__box">
						<img src="img/certificate.png" alt="certificate">
					</div>
					<div class="certificate__box">
						<img src="img/certificate.png" alt="certificate">
					</div>
					<div class="certificate__box">
						<img src="img/certificate.png" alt="certificate">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="certificate__text col-md-12">
				<p>
					Текстовое описание условий акции идет тут в несколько строк. Текстовое описание условий акции идет тут в несколько строк.Текстовое описание условий акции идет тут в несколько строк.
				</p>
				<p>
					Текстовое описание условий акции идет тут в несколько строк. Текстовое описание условий акции идет тут в несколько строк.Текстовое описание условий акции идет тут в несколько строк.
				</p>
			</div>
		</div>
		<div class="wind__bg" style="background-image: url(./img/wind-bg.jpg);"></div>
	</div>
</div>