<div class="main-services">
    <div class="main-services__title title-sm">Основные услуги:</div>
    <div class="main-services__body">
        {% set services = [
            {
                name: "Ритуальный салон"
            },
            {
                name: "Художественная ковка"
            },
            {
                name: "Услуга 3"
            },
            {
                name: "Памятники"
            },
            {
                name: "Кованая мебель"
            },
            {
                name: "Кованая мебель"
            },
            {
                name: "Оградка"
            },
            {
                name: "Художественная ковка"
            },
            {
                name: "Оградка"
            }
        ] %}
        {% for i in services %}
        <a href="#"><div class="main-services__item">{{i.name}}</div></a>
        {% endfor %}
    </div>
</div>