<div class="our-contacts js-navigation-section" id="our-contacts">
    <div class="wind our-contacts__body">
        {{ mixins.windHead('Салон художественной ковки') }}
        <!-- begin agency -->
        <div class="wind__agency agency">
            <div class="agency__table">
                <div class="agency__table-cell">
                    <div class="agency__logo agency__logo_md">
                        <img src="./img/map-img.png" alt="img">
                    </div>
                    <div class="agency__stars">
                        <span class="ratings">
                            <span class="fi flaticon-favorite"></span>
                            <span class="fi flaticon-favorite"></span>
                            <span class="fi flaticon-favorite"></span>
                            <span class="fi flaticon-favorite"></span>
                            <span class="fi flaticon-favorite"></span>
                            <span class="ratings__appraisal">5.0</span>
                        </span>
                    </div>
                </div>
                <div class="agency__table-cell">
                    <div class="contacts-item"><i class="fa fa-map-marker"></i>Хабаровск, Гоголя, 8</div>
                    <div class="contacts-item"><i class="fi flaticon-black"></i>dmitryz5700@gmail.com</div>
                </div>
                <div class="agency__table-cell agency__table-cell_mob">
                    <div class="contacts-item"><i class="fi flaticon-technology"></i>8 (111) 123 123</div>
                    <div class="contacts-item"><i class="fi flaticon-clock"></i>С 7.00 до 21.00, без выходных</div>
                </div>
            </div>
        </div>
        <!-- end agency -->
        <h3 class="our-contacts__title title-m text-center">Как добраться</h3>
        <div class="c-info">
            <span class="fa fa-map-marker"></span>
            <h4>Funeral Home California</h4>
            <p class="abbr">
                <i class="fa fa-map-marker"></i> 484 Arbor Court Mountain View 129
                <br>
                <i class="flaticon-black"></i> support@funeral-home-cali.com
                <br>
                <i class="flaticon-technology"></i> (012) 345 - 6789
                <br>
            </p>
        </div>
    <div class="wind__bg" style="background-image: url(./img/wind-bg.jpg);"></div>
    </div>
</div>