<!-- begin photoalbum -->
<div class="photoalbum js-navigation-section" id="photoalbum">
	<div class="photoalbum__wind wind">
		{{ mixins.windHead('Салон художественной ковки') }}
		<div class="full-slider js-full-slider">
			<div class="full-slider__slide">
				<a href="./img/full-slider-img.jpg" data-fancybox="gallery" class="full-img">
					{{ mixins.icon('full') }}
					<img class="js-lazy" data-src="./img/full-slider-img.jpg" alt="img">
				</a>
			</div>
			<div class="full-slider__slide">
				<a href="./img/full-slider-img.jpg" data-fancybox="gallery" class="full-img">
					{{ mixins.icon('full') }}
					<img class="js-lazy" data-src="./img/full-slider-img.jpg" alt="img">
				</a>
			</div>
			<div class="full-slider__slide">
				<a href="./img/full-slider-img.jpg" data-fancybox="gallery" class="full-img">
					{{ mixins.icon('full') }}
					<img class="js-lazy" data-src="./img/full-slider-img.jpg" alt="img">
				</a>
			</div>
		</div>
		<div class="wind__bg js-lazy" data-src="./img/wind-bg.jpg"></div>
	</div>
</div>
<!-- end photoalbum -->