<div id="review-customer" class="review-customer js-navigation-section">
	<div class="wind">
		{{ mixins.windHead('Салон художественной ковки') }}
		<div class="row">
			<div class="col-md-12">
				<div class="tab-content">
					<div id="menu2" class="tab-pane facilities fade in active">
						<div class="team-info">
							<div class="social pull-right">
								<a class="social__link" href="#">
									<i class="fa fab fa-facebook-f social__icon"></i>
								</a>
								<a class="social__link" href="#">
									<i class="fa fab fa-odnoklassniki social__icon"></i>
								</a>
								<a class="social__link" href="#">
									<i class="fi flaticon-social-1 social__icon"></i>
								</a>
								<a class="social__link" href="#">
									<i class="fa fab fa-vk social__icon"></i>
								</a>
							</div>
							<div class="col-md-3">
								<div class="posts-image posts-image_mod" style="background-image: url(img/user.png);">
								</div>
							</div>
							<div class="col-md-9">
								<div class="staff">
									<div class="staff__title-block">
										<span class="staff__title">Имя Фамилия</span>
										<span class="staff__description">Funeral Director/Embalmer</span>
									</div>
									<p>
										I like to call Funeral Home my home. It was in Sun Prairie, Wisconsin where I graduated from high school in 1969 and lettered in football at Sun prairie High school.
									</p>
									<p>
										<i class="fi flaticon-black"></i> carla@funeral-home.com
									</p>
								</div>
							</div>
						</div>
						<div class="team-info">
							<div class="social pull-right">
								<a class="social__link" href="#">
									<i class="fa fab fa-facebook-f social__icon"></i>
								</a>
								<a class="social__link" href="#">
									<i class="fa fab fa-odnoklassniki social__icon"></i>
								</a>
								<a class="social__link" href="#">
									<i class="fi flaticon-social-1 social__icon"></i>
								</a>
								<a class="social__link" href="#">
									<i class="fa fab fa-vk social__icon"></i>
								</a>
							</div>
							<div class="col-md-3">
								<div class="posts-image posts-image_mod" style="background-image: url(img/user1.png);">
								</div>
							</div>
							<div class="col-md-9">
								<div class="staff">
									<div class="staff__title-block">
										<span class="staff__title">Имя Фамилия</span>
										<span class="staff__description">Funeral Director/Embalmer</span>
									</div>
									<p>
										Thank you for visiting Funeral Home. As a member of the family and leadership team, I want to make myself available to visit with you at your convenience for any need you may have.
									</p>
									<p>
										<i class="fi flaticon-black"></i> jody@funeral-home.com
									</p>
								</div>
							</div>
						</div>
						<div class="team-info">
							<div class="social pull-right">
								<a class="social__link" href="#">
									<i class="fa fab fa-facebook-f social__icon"></i>
								</a>
								<a class="social__link" href="#">
									<i class="fa fab fa-odnoklassniki social__icon"></i>
								</a>
								<a class="social__link" href="#">
									<i class="fi flaticon-social-1 social__icon"></i>
								</a>
								<a class="social__link" href="#">
									<i class="fa fab fa-vk social__icon"></i>
								</a>
							</div>
							<div class="col-md-3">
								<div class="posts-image posts-image_mod" style="background-image: url(img/user1.png);">
								</div>
							</div>
							<div class="col-md-9">
								<div class="staff">
									<div class="staff__title-block">
										<span class="staff__title">Имя Фамилия</span>
										<span class="staff__description">Funeral Director/Embalmer</span>
									</div>
									<p>
										Lisa graduated from the University of Minnesota in 1996, with a B.S. in mortuary science. She previously was a licensed funeral director in California before she obtained her funeral directors license in Wisconsin in 2001. Lisa resides in Sun Prairie with her husband and two children.
									</p>
									<p>
										<i class="fi flaticon-black"></i> lisa@funeral-home.com
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wind__bg" style="background-image: url(./img/wind-bg.jpg);"></div>
	</div>
</div>