<div class="reviews-block js-navigation-section">
	<div class="wind">
		{{ mixins.windHead('Салон художественной ковки') }}
		<div class="row">
			<div class="col-md-12">
				<div class="team-info">
					<form class="post-form">
						<div class="post-form__row row">
							<div class="post-form__col col-md-7 col-xs-12">
								<label for="">Введите свое имя, чтобы оно отображалось в сообщении</label>
								<input class="post-form__input" type="text" id="name">
							</div>
							<div class="post-form__col col-md-7 col-xs-12">
								<label for="email">Введите Ваш email</label>
								<input class="post-form__input" type="text" id="email">
							</div>
							<div class="post-form__col col-md-7 col-xs-12">
								<label for="position">Введите Вашу должность (при желании)</label>
								<input class="post-form__input" type="text" id="position">
							</div>
							<div class="post-form__col col-md-12 col-xs-12">
								<label for="message">Ваш отзыв</label>
								<textarea class="post-form__textarea" id="message"></textarea>
							</div>
						</div>
						<p class="text-left">
							Ваш отзыв будет проверен модератором. После этого он появится на сайте.
						</p>
						<div class="post-form__btn">
							<button type="submit" class="btn btn-md">Отправить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="wind__bg" style="background-image: url(./img/wind-bg.jpg);"></div>
	</div>
</div>