<div id="schedule" class="schedule js-navigation-section md-hide">
    <div class="row">
        <div class="col-md-12 col-sm-8">
            <h4 class="schedule__title title-m">
                Заголовок для блока рейтингов
            </h4>
            <div class="schedule__wrap">
                <div class="schedule__block">
                    <img class="js-lazy" data-src="img/schedule.png" alt="schedule">
                </div>
                <div class="aside-block">
                    <div class="aside-block__wrap">
                        <h5 class="aside-block__title">
                            Обозначения:
                        </h5>
                        <ul class="aside-block__list">
                            <li class="aside-block__item beige">
                                <span class="aside-block__icon">
                                {{ mixins.icon('square') }}
                                </span>
                                - Обозначение метки на графике
                            </li>
                            <li class="aside-block__item brown">
                                <span class="aside-block__icon">
                                {{ mixins.icon('square') }}
                                </span>
                                - Обозначение метки на графике
                            </li>
                            <li class="aside-block__item yellow">
                                <span class="aside-block__icon">
                                {{ mixins.icon('square') }}
                                </span>
                                - Обозначение на графике
                            </li>
                            <li class="aside-block__item red">
                                <span class="aside-block__icon">
                                {{ mixins.icon('square') }}
                                </span>
                                - Обозначение метки на графике
                            </li>
                            <li class="aside-block__item purpule">
                                <span class="aside-block__icon">
                                {{ mixins.icon('square') }}
                                </span>
                                - Обозначение на графике
                            </li>
                            <li class="aside-block__item gray">
                                <span class="aside-block__icon">
                                {{ mixins.icon('square') }}
                                </span>
                                - Обозначение метки на графике
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        