<div class="row">
    <aside class="col-md-3 col-sm-4 sidebar padding-aside bg-color">
    </aside>
    <div class="col-md-9 col-sm-8">
        <h4 class="schedule__title title-m">
            Заголовок для блока рейтингов
        </h4>
        <div class="schedule__wrap">
            <div class="schedule__block">
                <img src="img/schedule.png" alt="schedule">
            </div>
            <div class="schedule__aside aside-block">
                <div class="aside-block__wrap">
                    <h5 class="aside-block__title">
                        Обозначения:
                    </h5>
                    <ul class="aside-block__list">
                        <li class="aside-block__item">
                            <span class="aside-block__icon">
                            {{ mixins.icon('square') }}
                            </span>
                            - Обозначение метки на графике
                        </li>
                        <li class="aside-block__item">
                            <span class="aside-block__icon">
                            {{ mixins.icon('square') }}
                            </span>
                            - Обозначение метки на графике
                        </li>
                        <li class="aside-block__item">
                            <span class="aside-block__icon">
                            {{ mixins.icon('square') }}
                            </span>
                            - Обозначение на графике
                        </li>
                        <li class="aside-block__item">
                            <span class="aside-block__icon">
                            {{ mixins.icon('square') }}
                            </span>
                            - Обозначение метки на графике
                        </li>
                        <li class="aside-block__item">
                            <span class="aside-block__icon">
                            {{ mixins.icon('square') }}
                            </span>
                            - Обозначение на графике
                        </li>
                        <li class="aside-block__item">
                            <span class="aside-block__icon">
                            {{ mixins.icon('square') }}
                            </span>
                            - Обозначение метки на графике
                        </li>
                    </ul>
                </div>
            </div>
        </div>    
        <!-- Start page-nav -->
            {% include "partials/blogs/_page-nav.html" %}
        <!-- End page-nav -->
        <div class="single-meta mob-hide">
            <!-- Start counter -->
           {% include "partials/post/_counter.html" %}
            <!-- End counter -->
        </div>
        <div class="side-widget hidein">
            <div class="banner">
                <img src="img/banner1.png" alt="banner">
            </div>
        </div>
    </div>
</div>