 <div class="aside js-aside">
    <div class="aside__container">
    	<div class="aside__item">
    		<!-- begin review -->
    		<div class="review">
    			<div class="review__img"></div>
    			<div class="review__rating"></div>
    			<div class="review__link"></div>
    		</div>
    		<!-- end review -->
    		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reprehenderit nihil nobis nulla. Officia, necessitatibus! Quam beatae a excepturi repellat id, odio facere porro. Minima necessitatibus, pariatur repudiandae atque neque.
    		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reprehenderit nihil nobis nulla. Officia, necessitatibus! Quam beatae a excepturi repellat id, odio facere porro. Minima necessitatibus, pariatur repudiandae atque neque.
    	</div>
    	
    </div>
</div>