 <div class="aside js-aside">
    <div class="aside__container">
    	<div class="aside__item">
    		<!-- begin review -->
    		<div class="aside__review review">
    			<div class="review__img" style="background-image: url(./img/review-img.png);"></div>
    			<div class="review__rating">
					<span class="ratings">
						<span class="fi flaticon-favorite"></span>
                        <span class="fi flaticon-favorite"></span>
                        <span class="fi flaticon-favorite"></span>
                        <span class="fi flaticon-favorite"></span>
                        <span class="fi flaticon-favorite no"></span>
                        <span class="ratings__appraisal">
                        	<span>4</span>
                        	{{ mixins.icon('users') }}
                        	<span>(1)</span>
                    	</span>
                    </span>
    			</div>
    			<div class="review__link">Добавить отзыв</div>
    		</div>
    		<!-- end review -->
    	</div>
    	<div class="aside__item">
    		<div class="contacts-item"><i class="fa fa-map-marker"></i>Хабаровск, Гоголя, 8</div>
    		<div class="contacts-item"><i class="fi flaticon-black"></i>dmitryz5700@gmail.com</div>
    	</div>
    	<div class="aside__item">
    		<!-- begin menu -->
    		<ul class="menu">
    			{% for item in [
    				{
    					icon: "about",
    					text: "О компании",
    					href: "about-company"

    				},
    				{
    					icon: "mark",
    					text: "На карте",
    					href: "on-map"

    				},
    				{
    					icon: "mark",
    					text: "Наши контакты",
    					href: "our-contacts"
    				},
    				{
    					icon: "photo",
    					text: "Фотоальбом",
    					href: "photoalbum"

    				},
    				{
    					icon: "star",
    					text: "Отзывы заказчиков",
    					href: "review-customer"

    				},
    				{
    					icon: "feedback",
    					text: "Обратная связь",
    					href: "reviews-block"

    				},
    				{
    					icon: "products",
    					text: "Все товары и услуги",
    					href: "feedback"

    				},
    				{
    					icon: "sales",
    					text: "Акции и спецпредложения",
    					href: "shares"

    				},
    				{
    					icon: "certificates",
    					text: "Сертификаты и лицензии",
    					href: "license"

    				},
    				{
    					icon: "vacances",
    					text: "Вакансии",
    					href: "vacancies"

    				},
    				{
    					icon: "delivery",
    					text: "Доставка и оплата",
    					href: "delivery"

    				},
    				{
    					text: "Наши преимущества",
    					href: "advantages"
    				},
    				{
    					text: "Наша команда",
    					href: "team"
    				}
    				] %}
    				<li class="menu__item{% if loop.first %} is-active{% endif %}">
    					<a href="#{{ item.href }}" class="menu__link js-menu-link">
    						{% if item.icon %}{{ mixins.icon(item.icon) }}{% endif %}
    						<span class="menu__link-text">{{ item.text }}</span>
    						<span class="fi flaticon-arrows-1"></span>
    					</a>
    				</li>
    				{% endfor %}
    		</ul>
    		<!-- end menu -->
    	</div>
    </div>
</div>