<div id="shares" class="shares js-navigation-section">
	<div class="row">
		<div class="wind">
			{{ mixins.windHead('Салон художественной ковки') }}
			<div class="wind__row row">
				<div class="col-md-12">
					<div class="tab-content">
						<div id="menu2" class="tab-pane facilities fade in active">
							<div class="team-info">
								<div class="col-md-4">
									<div class="posts-image posts-image_mod" style="background-image: url(img/shares.png);">
										<a href="#" class="posts-image__sale">-20%</a>
									</div>
								</div>
								<div class="col-md-8">
									<div class="staff">
										<div class="staff__title-block">
											<span class="staff__title">Название акции</span>
										</div>
										<div class="drop js-drop">
					                        <div class="drop__wrap js-drop-wrap">
					                            <div class="drop__show js-drop-shows">
					                            	<p>
					                            		Условия проведения:  Текстовое описание услови акции идет тут в нескольстрок. Текстовое опис....
					                            	</p>
					                            	<span>Срок действия акции:  до 31 декабря 2018 года</span>
					                                <p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
					                            </div>
					                            <div class="drop__hidden js-drop-hidden">
					                                <p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
					                            </div>
					                        </div>
					                        {{ mixins.readAll(null, 'mob-hide') }}
					                    </div>
									</div>
								</div>
							</div>
							<div class="team-info">
								<div class="col-md-4">
									<div class="posts-image posts-image_mod" style="background-image: url(img/shares.png);">
									</div>
								</div>
								<div class="col-md-8">
									<div class="staff">
										<div class="staff__title-block">
											<span class="staff__title">Название акции</span>
										</div>
										<div class="drop js-drop">
					                        <div class="drop__wrap js-drop-wrap">
					                            <div class="drop__show js-drop-shows">
					                            	<p>
					                            		Условия проведения:  Текстовое описание услови акции идет тут в нескольстрок. Текстовое опис....
					                            	</p>
					                            	<span>Срок действия акции:  до 31 декабря 2018 года</span>
					                                <p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
					                            </div>
					                            <div class="drop__hidden js-drop-hidden">
					                                <p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
					                            </div>
					                        </div>
					                        {{ mixins.readAll(null, 'mob-hide') }}
					                    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Start page-nav -->
                        {% include "partials/blogs/_page-nav.html" %}
                    <!-- End page-nav -->
				</div>
			</div>
			<div class="wind__bg" style="background-image: url(./img/wind-bg.jpg);"></div>
		</div>
	</div>
</div>