<div id= "team" class="team js-navigation-section">
    <div class="row">
        <div class="wind">
            {{ mixins.windHead('Ритуальный агент') }}
            <div class="wind__row row">
                <div class="wind__preson col-md-6 col-sm-6 col-xs-12">
                    <!-- begin person -->
                    <a href="#" class="person">
                        <div class="person__img js-lazy" data-src="./img/person-1.png"></div>
                        <div class="person__name-wrap">
                            <div class="person__name">Дарья иванова</div>
                        </div>
                        <div class="person__position">ритуальный агент</div>
                        <div class="person__text mob-hide">Текст описания работы сотрудника идет тут в две три строки Текст описания работы сотрудника идет тут в две три строки</div>
                        <div class="person__mail"><i class="fi flaticon-black"></i> carla@funeral-home.com</div>
                    </a>
                    <!-- end person -->
                </div>
                <div class="wind__preson col-md-6 col-sm-6 col-xs-12">
                    <!-- begin person -->
                    <a href="#" class="person">
                        <div class="person__img js-lazy" data-src="./img/person-1.png"></div>
                        <div class="person__name-wrap">
                            <div class="person__name">Дарья иванова</div>
                        </div>
                        <div class="person__position">ритуальный агент</div>
                        <div class="person__text mob-hide">Текст описания работы сотрудника идет тут в две три строки Текст описания работы сотрудника идет тут в две три строки</div>
                        <div class="person__mail"><i class="fi flaticon-black"></i> carla@funeral-home.com</div>
                    </a>
                    <!-- end person -->
                </div>
            </div>
            <div class="wind__bg md-hide js-lazy" data-src="./img/wind-bg.jpg"></div>
        </div>
    </div>
</div>