<div id="vacancies" class="vacancies js-navigation-section">
	<div class="row">
		<div class="wind">
			{{ mixins.windHead('Салон художественной ковки') }}
			<div class="wind__row row">
				<div class="col-md-12">
					<div class="tab-content">
						<div id="menu2" class="tab-pane facilities active">
							<div class="team-info">
								<div class="col-md-3 col-sm-3 col-xs-12">
									<div class="posts-image posts-image_full-md posts-image_full-radius" style="background-image: url(img/user.png);">
									</div>
								</div>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<div class="staff">
										<div class="staff__title-block">
											<span class="staff__title">Имя Фамилия</span>
										</div>
										<div class="drop js-drop">
					                        <div class="drop__wrap js-drop-wrap">
					                            <div class="drop__show js-drop-shows">
					                                <p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
					                            </div>
					                            <div class="drop__hidden js-drop-hidden">
					                                <p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
					                            </div>
					                        </div>
					                        {{ mixins.readAll(null, 'mob-hide') }}
					                    </div>
									</div>
								</div>
							</div>
							<div class="team-info">
								<div class="col-md-3 col-sm-3 col-xs-12">
									<div class="posts-image posts-image_full-md posts-image_full-radius" style="background-image: url(img/user1.png);">
									</div>
								</div>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<div class="staff">
										<div class="staff__title-block">
											<span class="staff__title">Имя Фамилия</span>
										</div>
										<div class="drop js-drop">
					                        <div class="drop__wrap js-drop-wrap">
					                            <div class="drop__show js-drop-shows">
					                                <p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
					                            </div>
					                            <div class="drop__hidden js-drop-hidden">
					                                <p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
					                            </div>
					                        </div>
					                        {{ mixins.readAll(null, 'mob-hide') }}
					                    </div>
									</div>
								</div>
							</div>
							<div class="team-info">
								<div class="col-md-3 col-sm-3 col-xs-12">
									<div class="posts-image posts-image_full-md posts-image_full-radius" style="background-image: url(img/user1.png);">
									</div>
								</div>
								<div class="col-md-9 col-sm-9 col-xs-12">
									<div class="staff">
										<div class="staff__title-block">
											<span class="staff__title">Имя Фамилия</span>
										</div>
										<div class="drop js-drop">
					                        <div class="drop__wrap js-drop-wrap">
					                            <div class="drop__show js-drop-shows">
					                                <p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
					                            </div>
					                            <div class="drop__hidden js-drop-hidden">
					                                <p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
					                            </div>
					                        </div>
					                        {{ mixins.readAll(null, 'mob-hide') }}
					                    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wind__bg" style="background-image: url(./img/wind-bg.jpg);"></div>
		</div>
	</div>
</div>