<div class="wrapper">
    <div class="clearfix"></div>
    <div class="page-head">
        <div class="container page-head__container">
            <div class="row">
                <div class="col-md-3 col-sm-12 page-head__col">
                    <ul class="bcrumbs page-head__bcrumbs">
                        <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
                        <li><a href="#">Obituaries</a></li>
                        <li>Past</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="vip-company">
        <div class="container">
            <div class="vip-company__wrap">
                <div class="row vip-company__row js-aside-container">
                    <aside class="col-md-3 col-sm-12">
                        {% include "partials/vip-company/_sedebar.html" %}
                    </aside>
                    <div class="col-md-9 col-sm-8 vip-company__col">
                        {% include "partials/vip-company/_about-company.html" %}
                        {% include "partials/vip-company/_on-map.html" %}
                        {% include "partials/vip-company/_our-contacts.html" %}
                        <!-- Start delivery -->
                        {% include "partials/vip-company/_delivery.html" %}
                        <!-- End delivery -->
                        <!-- Start advantages -->
                        {% include "partials/vip-company/_advantages.html" %}
                        <!-- End advantages -->
                        <!-- Start team -->
                        {% include "partials/vip-company/_team.html" %}
                        <!-- End team -->
                        <!-- Start schedule -->
                        {% include "partials/vip-company/_schedule.html" %}
                        <!-- End schedule -->
                        <!-- Start page-nav -->
                        {% include "partials/blogs/_page-nav.html" %}
                        <!-- End page-nav -->
                        <div class="single-meta mob-hide">
                            <!-- Start counter -->
                           {% include "partials/post/_counter.html" %}
                            <!-- End counter -->
                        </div>
                        <div class="side-widget hidein">
                            <div class="banner">
                                <img src="img/banner1.png" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>

            </div>    
            <div class="bottom-image">
                <img src="img/rose-angel.png" alt="rose-angel">
            </div>
        </div>
    </div>
</div>