<div class="wrapper">
        <div class="clearfix"></div>
        <div class="page-head">
            <div class="container page-head__container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 page-head__col">
                        <ul class="bcrumbs page-head__bcrumbs">
                            <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
                            <li><a href="#">Obituaries</a></li>
                            <li>Past</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="vip-company">
            <div class="container">
                <div class="vip-company__wrap">
                    <div class="vip-company__head section-head text-center">
                        <h3 class="vip-company__title title-l">Все компании</h3>
                        <p>Подзаголовок страницы</p>
                    </div>
                    <div class="row">
                        <div class="aside-position">
                            <aside class="col-md-3 col-sm-4 sidebar padding-aside bg-color">
                            
                            
                            <div class="side-widget hidein">
                                <div class="banner">
                                    <img src="img/banner.png" alt="banner">
                                </div>
                            </div>
                            </aside>
                        </div>
                        <div class="col-md-9 col-sm-8">
                            
                        </div>
                    </div>
                    <div class="bottom-image">
                        <img src="img/rose-angel.png" alt="rose-angel">
                    </div>
                </div>
            </div>
        </div>
    </div>