<div class="wrapper">
    <div class="clearfix"></div>
    <div class="page-head">
        <div class="container page-head__container">
            <div class="row">
                <div class="col-md-3 col-sm-4 page-head__col">
                    <ul class="bcrumbs page-head__bcrumbs">
                        <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
                        <li><a href="#">Obituaries</a></li>
                        <li>Past</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule">
        <div class="container">
            <!-- Start schedule -->
            {% include "partials/vip-company/_schedule.html" %}
            <!-- End schedule -->
            <div class="bottom-image">
                <img src="img/rose-angel.png" alt="rose-angel">
            </div>
        </div>
    </div>
</div>