<div class="after-funeral simple-section js-lazy" data-src="background-image: url(./img/after-funeral/after-funeral_bg.jpg)">
	<div class="container">
		<div class="section-head text-center">
			<h3 class="title-l">
				После похорон
			</h3>
			<p>
				Тут какой то текст тут какой то текст тут какой то текст тут какой то текст 
				тут какой то текст тут какой то текст тут ка
			</p>
			<a href="#" class="btn btn-prymery-hover">
				Заказать доставку цветов
			</a>
			<div class="after-funeral__img">
				<img class="js-lazy" data-src="./img/after-funeral/wheelbarrow.jpg" alt="">
			</div>
		</div>
	</div>
</div>