<div class="all-alone simple-section"  style="background-image: url(./img/all-alone/background.jpg)">
    <div class="container">
        <div class="section-head text-center">
            <h3 class="title-l">Похороны своими силами</h3>
            <p class="description">Что делать если случилась беда</p>
            <p>Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то</p>
            <a href="#" class="btn btn-prymery-hover">Перейти в интернет-магазин</a>
        </div>
    </div>
</div>