<div class="home-content blog-content obituaries-content">
	<div class="container">
		<div class="section-head text-center">
			<h3 class="title-l">Страницы памяти</h3>
			<p>
				Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то.
			</p>
		</div>
		<div class="row">
			<div class="col-md-6">
				<article class="article_mod padding-bottom-25 text-center shadow">
					<a class="card-link" href="#">
						<img class="img-responsive js-lazy" data-src="img/793.jpg" alt="#">
						<h4 class="title-m">
							Фамилия Имя Отчество
						</h4>
						<div class="post-meta">
							<span class="dis-block">
								Дата рождения: Вт. 03-12-1954
							</span>
							<span class="dis-block">
								Дата смерти: Вт. 03-12-2016
							</span>
							<span class="dis-block margin-bottom-20">
								Возраст: 62
							</span>
							<div class="line"></div>
							<span>
								<span>
									{{ mixins.icon('calendar') }}
								</span>
								<span class="bold">
									Дата похорон:
								</span> 
								Вт. 03-12-2018
							</span>
							<div class="margin-bottom-15"></div>
						</div>
						<div class="btn btn-prymery-mod btn-md padding-horizontal-30">
							Подробнее
							<div class="candles-image">
								<img class="js-lazy" data-src="img/candles.gif" alt="candles">
							</div>
						</div>
					</a>
				</article>
			</div>
			<div class="col-md-6">
				<article class="padding-bottom-25 text-center shadow">
					<a class="card-link" href="#">
						<img data-src="img/793.jpg" class="img-responsive js-lazy" alt="#">
						<h4 class="title-m">
							Фамилия Имя Отчество
						</h4>
						<div class="post-meta">
							<span class="dis-block">
								Дата рождения: Вт. 03-12-1954
							</span>
							<span class="dis-block">
								Дата смерти: Вт. 03-12-2016
							</span>
							<span class="dis-block margin-bottom-20">
								Возраст: 62
							</span>
							<div class="line"></div>
							<span>
								<span>
									{{ mixins.icon('calendar') }}
								</span>
									<span class="bold">
										Дата похорон:
									</span> 
								Вт. 03-12-2018
							</span>
							<div class="margin-bottom-15"></div>
						</div>
						<div class="btn btn-prymery-mod btn-md padding-horizontal-30">Подробнее
							<div class="candles-image">
								<img class="js-lazy" data-src="img/candles.gif" alt="candles">
							</div>
						</div>
					</a>
				</article>
			</div>
		</div>
	</div>
</div>