<div class="key-questions">
    <div class="container key-questions__container">
        <div class="section-head text-center">
            <h3 class="title-l"><span>Шаг 2.</span> Ключевые вопросы</h3>
            <p class="description">Этот выбор было бы лучше сделать Вам самостоятельно:</p>
        </div>
        <ul class="key-qeustions__list list">
            <li class="list__item key-item">
                <div class="key-item__body">
                    <h5 class="key-item__title">Зал для прощания</h5>
                    <p class="key-item__text">Whenever you work in a profession that is centered around an event whether it’s putting together.</p>
                    <a href="#" class="btn btn-default btn-md">Read this Article</a>
                </div>
                <div class="key-item__img" style="background-image: url(../img/key-questions/1.jpg)">
                </div>
            </li>
            <li class="list__item key-item">
                <div class="key-item__body">
                    <h5 class="key-item__title">6 Ways To Help Families Honor</h5>
                    <p class="key-item__text">Surrounding our line of work is this idea that funeral professionals somehow become desensitized.</p>
                    <a href="#" class="btn btn-default btn-md">Read this Article</a>
                </div>
                <div class="key-item__img" style="background-image: url(../img/key-questions/2.jpg)">
                </div>
            </li>
            <li class="list__item key-item">
                <div class="key-item__body">
                    <h5 class="key-item__title">Зал для прощания</h5>
                    <p class="key-item__text">Whenever you work in a profession that is centered around an event whether it’s putting together.</p>
                    <a href="#" class="btn btn-default btn-md">Read this Article</a>
                </div>
                <div class="key-item__img" style="background-image: url(../img/key-questions/3.jpg)">
                </div>
            </li>
            <li class="list__item key-item">
                <div class="key-item__body">
                    <h5 class="key-item__title">6 Ways To Help Famil</h5>
                    <p class="key-item__text">Surrounding our line of work is this idea that funeral professionals somehow become desensitized.</p>
                    <a href="#" class="btn btn-default btn-md">Read this Article</a>
                </div>
                <div class="key-item__img" style="background-image: url(../img/key-questions/4.jpg)">
                </div>
            </li>
        </ul>
    </div>
</div>