<div class="newsletter-wrap js-lazy" data-src="./img/365.jpg">
	<div class="container inner">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="text-center">
					<h3 class="title-l_mod">
						Мы с Вами 365 дней в году
					</h3>
					<p>
						Всегда актуальные ритуальные услуги и сопутствующие товары компаний Хабаровска
					</p>
				</div>
				<form class="subscribe" action="php/subscribe.php" id="invite" method="POST">
					<input type="email" class="e-mail" placeholder="Ваш Email" name="email" id="address" data-validate="validate(required, email)">
					<button type="submit">
						<i class="fi flaticon-letter"></i>
						<span class="icon-send-btn"></span>
					</button>
				</form>
				<span id="result"></span>
			</div>
		</div>
	</div>
</div>