<div class="step3 simple-section js-lazy" data-src="./img/step3/step3-bg.png">
	<div class="container">
		<div class="section-head text-center">
			<h3 class="title-l">
				<span>Шаг 3.</span> 
				Пригласить родственников и знакомых
			</h3>
			<p>
				Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то 
			</p>
			<a href="#" class="btn btn-prymery-hover">
				Заполнить карточку мероприятия
			</a>
		</div>
	</div>
</div>