<div class="wrapper">
    <div class="clearfix"></div>
    <div class="page_head">
        <div class="container">
            <ul class="bcrumbs pull-right">
                <li><a href="#">Home</a></li>
                <li>Facilities</li>
            </ul>
        </div>
    </div>
    <div class="facilities">
        <div class="container">
            <div class="section-head text-center">
                <h3 class="h2">Our Locations</h3>
                <p>We have multiple locations</p>
            </div>
            <div class="location-carousel-wrap">
                <div class="location-carousel">
                    <div class="c-info">
                        <span class="fa fa-map-marker"></span>
                        <h4>Funeral Home California</h4>
                        <p class="abbr">
                            <i class="fa fa-map-marker"></i>
                             484 Arbor Court Mountain View 129
                            <br>
                            <i class="fa fi flaticon-black"></i>
                             support@funeral-home-cali.com
                            <br>
                            <i class="fa flaticon-technology"></i>
                             (012) 345 - 6789
                            <br>
                        </p>
                    </div>
                    <div class="c-info">
                        <span class="fa fa-map-marker"></span>
                        <h4>Funeral Home California</h4>
                        <p class="abbr">
                            <i class="fa fa-map-marker"></i> 
                            484 Arbor Court Mountain View 129
                            <br>
                            <i class="fa fi flaticon-black"></i> 
                            support@funeral-home-cali.com
                            <br>
                            <i class="fa flaticon-technology"></i> 
                            (012) 345 - 6789
                            <br>
                        </p>
                    </div>
                    <div class="c-info">
                        <span class="fa fa-map-marker"></span>
                        <h4>Funeral Home California</h4>
                        <p class="abbr">
                            <i class="fa flaticon-clock"></i>
                             484 Arbor Court Mountain View 129
                            <br>
                            <i class="fa fi flaticon-black"></i>
                             support@funeral-home-cali.com
                            <br>
                            <i class="fa flaticon-technology"></i>
                             (012) 345 - 6789
                            <br>
                        </p>
                    </div>
                </div>
                <div class="prev"><i class="fa flaticon-arrows-1"></i></div>
                <div class="next"><i class="fa flaticon-arrows-1"></i></div>
            </div>
            <div class="row">
                <aside class="col-md-3 col-sm-4">
                    <div class="links">
                        <a href="#">Amenities <i class="fa flaticon-arrows-1"></i></a>
                        <a class="active" href="#">Directions & Map <i class="fa flaticon-arrows-1"></i></a>
                        <a href="#">Staff <i class="fa flaticon-arrows-1"></i></a>
                        <a href="#">Contact Details <i class="fa flaticon-arrows-1"></i></a>
                        <a href="#">Contact Details <i class="fa flaticon-arrows-1"></i></a>
                        <a href="#">Contact Details <i class="fa flaticon-arrows-1"></i></a>
                    </div>
                </aside>
                <div class="col-md-9 col-sm-8">
                    <div class="location-info">
                        <div id="map"></div>
                        <div class="clearfix"></div>
                        {# <div class="row">
                            <div class="col-md-5 col-sm-6">
                                <div class="cinfo">
                                    <p class="abbr">
                                        <i class="fa fa-map-marker"></i>
                                         484 Arbor Court Mountain View 129
                                        <br>
                                        <i class="fa fi flaticon-black"></i>
                                         support@funeral-home-cali.com
                                        <br>
                                        <i class="fa flaticon-technology"></i>
                                         (012) 345 - 6789
                                        <br>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-6">
                                <div class="cinfo">
                                    <p class="abbr">
                                        <i class="fa flaticon-clock"></i> 
                                        Monday to Friday: 8:00am - 9:00pm
                                        <br>
                                        <i></i> Saturday:9:00pm - 5:00am
                                        <br>
                                        <i></i> Sunday: Closed
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div> #}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <div class="team-info">
                        <form class="post-form">
                            <div class="post-form__row row">
                                <div class="post-form__col col-md-12">
                                    <input class="post-form__input" type="text" id="name">
                                    <label class="post-form__label" for="name">Ваше имя</label>
                                </div>
                                <div class="post-form__col col-md-12">
                                    <input class="post-form__input" type="text" id="email">
                                    <label class="post-form__label" for="email">Email</label>
                                </div>
                                <div class="post-form__col col-md-12">
                                    <input class="post-form__input" type="text" id="email">
                                    <label class="post-form__label" for="email">Email</label>
                                </div>
                                <div class="post-form__col col-md-12">
                                    <input class="post-form__input" type="text" id="email">
                                    <label class="post-form__label" for="email">Email</label>
                                </div>
                                <div class="post-form__col col-md-12">
                                    <textarea class="post-form__textarea" id="message"></textarea>
                                    <label class="post-form__label" class="post-form__label" for="message">Комментарий</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-md">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <div class="team-info">
                        <form class="post-form">
                            <div class="post-form__row row">
                                <div class="post-form__col col-md-12">
                                    <input class="post-form__input" type="text" id="name">
                                    <label class="post-form__label" for="name">Ваше имя</label>
                                </div>
                                <div class="post-form__col col-md-12">
                                    <input class="post-form__input" type="text" id="email">
                                    <label class="post-form__label" for="email">Email</label>
                                </div>
                                <div class="post-form__col col-md-12">
                                    <input class="post-form__input" type="text" id="email">
                                    <label class="post-form__label" for="email">Email</label>
                                </div>
                                <div class="post-form__col col-md-12">
                                    <input class="post-form__input" type="text" id="email">
                                    <label class="post-form__label" for="email">Email</label>
                                </div>
                                <div class="post-form__col col-md-12">
                                    <textarea class="post-form__textarea" id="message"></textarea>
                                    <label class="post-form__label" class="post-form__label" for="message">Комментарий</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-md">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-7 single-info">
                    <div class="details">
                        <h5>Memories</h5>
                        <div class="gallery-carousel-wrap">
                            <div class="gallery-carousel">
                                <div data-thumb="img/gallery/thumb/1.jpg">
                                    <img src="img/gallery/1.jpg" class="img-responsive" alt="" />
                                </div>
                                <div data-thumb="img/gallery/thumb/2.jpg">
                                    <div class="video-wrap">
                                        <div class="play-button"><i class="flaticon-arrows-3"></i></div>
                                        <iframe id="video" src="https://player.vimeo.com/video/190537820?color=05fac1" width="640" height="267" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div data-thumb="img/gallery/thumb/3.jpg">
                                    <img src="img/gallery/3.jpg" class="img-responsive" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
