<div class="wrapper">
	<div class="clearfix"></div>
	<div class="page_head">
		<div class="container">
			<ul class="bcrumbs pull-left">
				<li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
				<li><a href="#">Obituaries</a></li>
				<li>Blog</li>
			</ul>
		</div>
	</div>
	<div class="facilities">
		<div class="container">
			<div class="goods_services">
				<div class="section-head text-center">
					<h3 class="section-head__title title-l">Название выбранного товара</h3>
				</div>
				<div class="services-block">
					<div class="row">
						<div class="col-md-5 col-sm-5">
							<div class="shop-carousel-wrap">
								<div class="shop-carousel">
									<a href="img/526.png" class="item"  data-thumb="img/525.png">
										<img src="img/526.png" data-fancybox="gallery" class="img-responsive" alt="526"/></a>
									<a href="img/526.png" class="item"  data-thumb="img/525.png">
										<img src="img/526.png" data-fancybox="gallery" class="img-responsive" alt="526"/></a>
									<a href="img/526.png" class="item"  data-thumb="img/525.png">
										<img src="img/526.png" data-fancybox="gallery" class="img-responsive" alt="526"/></a>
								</div>
								<span class="zoom-img">{{ mixins.icon('zoom') }}</span>
								<div class="prev8"><i class="fa fa-chevron-left"></i></div>
								<div class="next8"><i class="fa fa-chevron-right"></i></div>
							</div>
						</div>
						<div class="col-md-7 col-sm-7">
							{% include "partials/goods_services/_shop-single-price.html" %}
						</div>
					</div>
				</div>
				<div class="services-block">
					<div class="shop-reviews">
						<div class="row">
							<aside class="col-md-3 col-sm-4">
								<div class="links">
									<a href="#">О компании <i class="fa flaticon-arrows-1"></i></a>
									<a class="active" href="#">На карте города<i class="fa flaticon-arrows-1"></i></a>
									<a href="#">Отзывы заказчиков<i class="fa flaticon-arrows-1"></i></a>
									<a href="#">Добавить отзыв<i class="fa flaticon-arrows-1"></i></a>
									<a href="#">Обратная связь<i class="fa flaticon-arrows-1"></i></a>
									<a href="#">Все товары и услуги<i class="fa flaticon-arrows-1"></i></a>
								</div>
							</aside>
							<div class="col-md-9 col-sm-9">
								<div class="tab-content">
									<div id="menu2" class="tab-pane facilities fade in active">
										<div class="team-info">
											<div class="social pull-right">
											    <a class="social__link" href="#">
											    	<i class="fa fab fa-facebook-f social__icon"></i>
											    </a>
											    <a class="social__link" href="#">
											    	<i class="fa fab fa-odnoklassniki social__icon"></i>
											    </a>
											    <a class="social__link" href="#">
											    	<i class="fi flaticon-social-1 social__icon"></i>
											    </a>
											    <a class="social__link" href="#">
											    	<i class="fa fab fa-vk social__icon"></i>
											    </a>
											</div>
											<div class="col-md-3">
												<div class="posts-image posts-image_mod" style="background-image: url(img/user.png);">
												</div>
											</div>
											<div class="col-md-9">
												<div class="staff">
													<div class="staff__title-block">
														<span class="staff__title">Имя Фамилия</span>
														<span class="staff__description">Funeral Director/Embalmer</span>
													</div>
													<p>
														I like to call Funeral Home my home. It was in Sun Prairie, Wisconsin where I graduated from high school in 1969 and lettered in football at Sun prairie High school.
													</p>
													<p>
														<i class="fi flaticon-black"></i> carla@funeral-home.com
													</p>
												</div>
											</div>
										</div>
										<div class="team-info">
											<div class="social pull-right">
											    <a class="social__link" href="#">
											    	<i class="fa fab fa-facebook-f social__icon"></i>
											    </a>
											    <a class="social__link" href="#">
											    	<i class="fa fab fa-odnoklassniki social__icon"></i>
											    </a>
											    <a class="social__link" href="#">
											    	<i class="fi flaticon-social-1 social__icon"></i>
											    </a>
											    <a class="social__link" href="#">
											    	<i class="fa fab fa-vk social__icon"></i>
											    </a>
											</div>
											<div class="col-md-3">
												<div class="posts-image posts-image_mod" style="background-image: url(img/user1.png);">
												</div>
											</div>
											<div class="col-md-9">
												<div class="staff">
													<div class="staff__title-block">
														<span class="staff__title">Имя Фамилия</span>
														<span class="staff__description">Funeral Director/Embalmer</span>
													</div>
													<p>
														Thank you for visiting Funeral Home. As a member of the family and leadership team, I want to make myself available to visit with you at your convenience for any need you may have.
													</p>
													<p>
														<i class="fi flaticon-black"></i> jody@funeral-home.com
													</p>
												</div>
											</div>
										</div>
										<div class="team-info">
											<div class="social pull-right">
											    <a class="social__link" href="#">
											    	<i class="fa fab fa-facebook-f social__icon"></i>
											    </a>
											    <a class="social__link" href="#">
											    	<i class="fa fab fa-odnoklassniki social__icon"></i>
											    </a>
											    <a class="social__link" href="#">
											    	<i class="fi flaticon-social-1 social__icon"></i>
											    </a>
											    <a class="social__link" href="#">
											    	<i class="fa fab fa-vk social__icon"></i>
											    </a>
											</div>
											<div class="col-md-3">
												<div class="posts-image posts-image_mod" style="background-image: url(img/user1.png);">
												</div>
											</div>
											<div class="col-md-9">
												<div class="staff">
													<div class="staff__title-block">
														<span class="staff__title">Имя Фамилия</span>
														<span class="staff__description">Funeral Director/Embalmer</span>
													</div>
													<p>
														Lisa graduated from the University of Minnesota in 1996, with a B.S. in mortuary science. She previously was a licensed funeral director in California before she obtained her funeral directors license in Wisconsin in 2001. Lisa resides in Sun Prairie with her husband and two children.
													</p>
													<p>
														<i class="fi flaticon-black"></i> lisa@funeral-home.com
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="services-block">
					<div class="row">
						<aside class="col-md-3 col-sm-4">
							<div class="links">
								<a href="#">О компании <i class="fa flaticon-arrows-1"></i></a>
								<a class="active" href="#">На карте города<i class="fa flaticon-arrows-1"></i></a>
								<a href="#">Отзывы заказчиков<i class="fa flaticon-arrows-1"></i></a>
								<a href="#">Добавить отзыв<i class="fa flaticon-arrows-1"></i></a>
								<a href="#">Обратная связь<i class="fa flaticon-arrows-1"></i></a>
								<a href="#">Все товары и услуги<i class="fa flaticon-arrows-1"></i></a>
							</div>
						</aside>
						<div class="col-md-9 col-sm-8">
							<div class="location-info">
								<div id="map"></div>
								<div class="clearfix"></div>
								<div class="row">
									<div class="col-md-5 col-sm-6">
										<div class="cinfo">
											<p class="abbr">
												<i class="fa fa-map-marker"></i>
												 484 Arbor Court Mountain View 129
												<br>
												<i class="fa fi flaticon-black"></i>
												 support@funeral-home-cali.com
												<br>
												<i class="fa flaticon-technology"></i>
												 (012) 345 - 6789
												<br>
											</p>
										</div>
									</div>
									<div class="col-md-7 col-sm-6">
										<div class="cinfo">
											<p class="abbr">
												<i class="fa flaticon-clock"></i> 
												Monday to Friday: 8:00am - 9:00pm
												<br>
												<i></i> Saturday:9:00pm - 5:00am
												<br>
												<i></i> Sunday: Closed
												<br>
											</p>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div> -->
				<div class="row">
					<aside class="col-md-3 col-sm-4">
						<div class="links">
							<a href="#">О компании <i class="fa flaticon-arrows-1"></i></a>
							<a class="active" href="#">На карте города<i class="fa flaticon-arrows-1"></i></a>
							<a href="#">Отзывы заказчиков<i class="fa flaticon-arrows-1"></i></a>
							<a href="#">Добавить отзыв<i class="fa flaticon-arrows-1"></i></a>
							<a href="#">Обратная связь<i class="fa flaticon-arrows-1"></i></a>
							<a href="#">Все товары и услуги<i class="fa flaticon-arrows-1"></i></a>
						</div>
					</aside>
					<div class="col-md-9 col-sm-8">
						<div class="team-info">
							<form class="post-form">
								<div class="post-form__row row">
									<div class="post-form__col col-md-7">
										<label for="">Введите свое имя, чтобы оно отображалось в сообщении</label>
										<input class="post-form__input" type="text" id="name">
									</div>
									<div class="post-form__col col-md-7">
										<label for="email">Введите свое имя, чтобы оно отображалось в сообщении</label>
										<input class="post-form__input" type="text" id="email">
									</div>
									<div class="post-form__col col-md-7">
										<label for="position">Введите Вашу должность (при желании)</label>
										<input class="post-form__input" type="text" id="position">
									</div>
									<div class="post-form__col col-md-12">
										<label for="message">Ваш отзыв</label>
										<textarea class="post-form__textarea" id="message"></textarea>
									</div>
								</div>
								<p class="text-left">
									Ваш отзыв будет проверен модератором. После этого он появится на сайте.
								</p>
								<button type="submit" class="btn btn-md pull-right">Отправить</button>
							</form>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<aside class="col-md-3 col-sm-4">
						<div class="links">
							<a href="#">Amenities <i class="fa flaticon-arrows-1"></i></a>
							<a class="active" href="#">Directions & Map <i class="fa flaticon-arrows-1"></i></a>
							<a href="#">Staff <i class="fa flaticon-arrows-1"></i></a>
							<a href="#">Contact Details <i class="fa flaticon-arrows-1"></i></a>
							<a href="#">Contact Details <i class="fa flaticon-arrows-1"></i></a>
							<a href="#">Contact Details <i class="fa flaticon-arrows-1"></i></a>
						</div>
					</aside>
					<div class="col-md-9 col-sm-8">
						<div class="team-info">
							<form class="post-form">
								<div class="post-form__row row">
									<div class="post-form__col col-md-12">
										<input class="post-form__input" type="text" id="name">
										<label class="post-form__label" for="name">Ваше имя</label>
									</div>
									<div class="post-form__col col-md-12">
										<input class="post-form__input" type="text" id="email">
										<label class="post-form__label" for="email">Email</label>
									</div>
									<div class="post-form__col col-md-12">
										<input class="post-form__input" type="text" id="email">
										<label class="post-form__label" for="email">Email</label>
									</div>
									<div class="post-form__col col-md-12">
										<input class="post-form__input" type="text" id="email">
										<label class="post-form__label" for="email">Email</label>
									</div>
									<div class="post-form__col col-md-12">
										<textarea class="post-form__textarea" id="message"></textarea>
										<label class="post-form__label" class="post-form__label" for="message">Комментарий</label>
									</div>
								</div>
								<button type="submit" class="btn btn-md">Отправить</button>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<aside class="col-md-3 col-sm-4">
						<div class="links">
							<a href="#">Amenities <i class="fa flaticon-arrows-1"></i></a>
							<a class="active" href="#">Directions & Map <i class="fa flaticon-arrows-1"></i></a>
							<a href="#">Staff <i class="fa flaticon-arrows-1"></i></a>
							<a href="#">Contact Details <i class="fa flaticon-arrows-1"></i></a>
							<a href="#">Contact Details <i class="fa flaticon-arrows-1"></i></a>
							<a href="#">Contact Details <i class="fa flaticon-arrows-1"></i></a>
						</div>
					</aside>
					<div class="col-md-9 col-sm-7 single-info">
						<div class="details">
							<h5>Memories</h5>
							<div class="gallery-carousel-wrap">
								<div class="gallery-carousel">
									<div data-thumb="img/gallery/thumb/1.jpg">
										<img src="img/gallery/1.jpg" class="img-responsive" alt="" />
									</div>
									<div data-thumb="img/gallery/thumb/2.jpg">
										<div class="video-wrap">
											<div class="play-button"><i class="flaticon-arrows-3"></i></div>
											<iframe id="video" src="https://player.vimeo.com/video/190537820?color=05fac1" width="640" height="267" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
										</div>
									</div>
									<div data-thumb="img/gallery/thumb/3.jpg">
										<img src="img/gallery/3.jpg" class="img-responsive" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>
