<div class="shop-single-info">
	<div class="product-info">
		<div class="pr-ratings">
			<i class="fi flaticon-favorite"></i>
			<i class="fi flaticon-favorite"></i>
			<i class="fi flaticon-favorite"></i>
			<i class="fi flaticon-favorite"></i>
			<i class="fi no flaticon-favorite"></i>
			<span class="pr-ratings__left">4 <span class="pr-ratings__right">(10)</span></span>
		</div>
		<div class="product-reviews">
			<a class="product-reviews__link" href="#"><i class="fa fas fa-comment"></i>Добавить отзыв</a>
			<a class="product-reviews__link" href="#"><i class="fa fas fa-heart"></i>Добавить в избранное</a>
		</div>
	</div>
	<div class="product-prices">
		<div class="product-single-price">690 ₽<span> 890 ₽</span></div>
		<div class="product-single-price">
			<img src="img/logo1.png" alt="map-img">
		</div>
	</div>
	<p>
		В нашей торгово-производственной фирме Студия Ангел вы можете воспользоваться услугами ритуального агента, который возьмет на себя все обязанности по подготовке и организации похорон ваших близких людей.
	</p>
	<ul class="price-list">
		<span>Наш агент поможет вам осуществить:</span>
		<li class="price-list__item">
			подготовку усопшего, в которую входит омовение тела, бальзамирование, грим при необходимости, облаченье в одежды;
		</li>
		<li class="price-list__item">
			получение необходимых документов в районной поликлинике и органах ЗАГС;
		</li>
		<li class="price-list__item">
			выбор и доставку необходимых принадлежностей для похорон;
		</li>
		<li class="price-list__item">
			выбор места захоронения или получить разрешение на подзахоронение;
		</li>
	</ul>
	<div class="price-btn">
		<a href="#" class="btn"><i class="fi flaticon-web"></i> &nbsp;Добавить в корзину</a>
		<a href="#" class="price-btn__link">Читать всю информацию<i class="fa fas fa-angle-down"></i></a>
	</div>
</div>
