<div class="wrapper">
    <div class="clearfix"></div>
    <div class="page_head ">
        <div class="container">
            <ul class="bcrumbs pull-left">
                <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
                <li><a href="#">Obituaries</a></li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
    <div class="blog-content">
        <div class="container">
            <div class="section-head text-center">
                <h3 class="title-l">Блог</h3>
                <p>Написать подзаголовок, если нужно</p>
            </div>
            <div class="row">
                <aside class="col-md-3 col-sm-5 sidebar  position bg-color">
                    <div class="side-widget">
                        <h5>Поиск по статьям</h5>
                        <form class="search">
                            <input type="search" placeholder="Поиск">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="side-widget">
                        <h5>Рубрики</h5>
                        <ul class="side-cat">
                            <li><a href="#"><i class="fa fa-angle-right"></i> Arranging a funeral (5)</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Animals (10)</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Assisted dying (0)</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Assisted Suicide (1)</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Attitude to dead bodies (30)</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Attitude to death (10)</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Atheism (4)</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Bastards (5)</a></li>
                        </ul>
                        <button class="btn btn-prymery-hover btn-prymery-hover_pos">Применить</button>
                    </div>
                    <div class="side-widget width-img-angel hidein">
                        <img src="img/angel-statue.jpg" alt="angel-statue">
                    </div>
                    <div class="side-widget hidein">
                        <h5>Недавние публикации</h5>
                        <ul class="side-posts">
                            <li class="margin-bottom-30">
                                <div class="posts-image" style="background-image: url(img/aside-post-img.png);">
                                </div>
                                <p>
                                    Что такое сглаз и как от него избавится?
                                </p>
                                <span class="meta">Имя Фаилия</span>
                            </li>
                            <li class="margin-bottom-30">
                                <div class="posts-image" style="background-image: url(img/post-img.png);">
                                </div>
                                <p>
                                    Что снится к любви и наслаждению, а что – к разлуке и печали
                                </p>
                                <span class="meta">Имя Фаилия</span>
                            </li>
                            <li>
                                <div class="posts-image" style="background-image: url(img/aside-post-img.png);">
                                </div>
                                <p>
                                    Что такое сглаз и как от него избавится?
                                </p>
                                <span class="meta">Имя Фаилия</span>
                            </li>
                        </ul>
                    </div>
                    <div class="contact-widget text-center margin-bottom-50 hidein">
                        <p class="lead">Immediate Attention<span>Contact Us</span></p>
                        <h6>(012) 345 -6789</h6>
                        <p><i class="flaticon-black"></i> &nbsp;info@funeral-home.com</p>
                    </div>
                </aside>
                <div class="col-md-9 col-sm-7">
                    <article class="margin-bottom-50 ">
                        <h4><a href="#">Miscarriage and the Confusion of Sinful Grief: A Response</a></h4>
                        <div class="post-thumb"><img src="img/blog-img.jpg" class="img-responsive" alt="" /></div>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> 13.03.18</span>
                            <span><i class="fi flaticon-people"></i> Имя Фамилия</span>
                            <span><i class="fa fa-comments-o"></i> Рубрика</span>
                        </div>
                        <hr>
                        <p>I stumbled upon an article entitled Miscarriage and the Confusion of Sinful Grief that was posted at the Reformed Christian website "The Gospel Coalition".Jamie Carlson (who recently miscarried) wrote the post as a reflection on sin and grief. </p>
                        <a href="blog-single.html" class="btn btn-prymery-hover btn-md padding-horizontal-30">Читать статью</a>
                    </article>
                    <article class="margin-bottom-50 ">
                        <h4><a href="#">Miscarriage and the Confusion of Sinful Grief: A Response</a></h4>
                        <div class="post-thumb"><img src="img/blog-img.jpg" class="img-responsive" alt="" /></div>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> 13.03.18</span>
                            <span><i class="fi flaticon-people"></i> Имя Фамилия</span>
                            <span><i class="fa fa-comments-o"></i> Рубрика</span>
                        </div>
                        <hr>
                        <p>I stumbled upon an article entitled Miscarriage and the Confusion of Sinful Grief that was posted at the Reformed Christian website "The Gospel Coalition".Jamie Carlson (who recently miscarried) wrote the post as a reflection on sin and grief. </p>
                        <a href="blog-single.html" class="btn btn-prymery-hover btn-md padding-horizontal-30">Читать статью</a>
                    </article>
                    <article class="margin-bottom-50 ">
                        <h4><a href="#">Miscarriage and the Confusion of Sinful Grief: A Response</a></h4>
                        <div class="post-thumb"><img src="img/blog-img.jpg" class="img-responsive" alt="" /></div>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> 13.03.18</span>
                            <span><i class="fi flaticon-people"></i> Имя Фамилия</span>
                            <span><i class="fa fa-comments-o"></i> Рубрика</span>
                        </div>
                        <hr>
                        <p>I stumbled upon an article entitled Miscarriage and the Confusion of Sinful Grief that was posted at the Reformed Christian website "The Gospel Coalition".Jamie Carlson (who recently miscarried) wrote the post as a reflection on sin and grief. </p>
                        <a href="blog-single.html" class="btn btn-prymery-hover btn-md padding-horizontal-30">Читать статью</a>
                    </article>
                    <article class="margin-bottom-50 ">
                        <h4><a href="#">Miscarriage and the Confusion of Sinful Grief: A Response</a></h4>
                        <div class="post-thumb"><img src="img/blog-img.jpg" class="img-responsive" alt="" /></div>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> 13.03.18</span>
                            <span><i class="fi flaticon-people"></i> Имя Фамилия</span>
                            <span><i class="fa fa-comments-o"></i> Рубрика</span>
                        </div>
                        <hr>
                        <p>I stumbled upon an article entitled Miscarriage and the Confusion of Sinful Grief that was posted at the Reformed Christian website "The Gospel Coalition".Jamie Carlson (who recently miscarried) wrote the post as a reflection on sin and grief. </p>
                        <a href="blog-single.html" class="btn btn-prymery-hover btn-md padding-horizontal-30">Читать статью</a>
                    </article>
                    <article class="margin-bottom-50 ">
                        <h4><a href="#">Miscarriage and the Confusion of Sinful Grief: A Response</a></h4>
                        <div class="post-thumb"><img src="img/blog-img.jpg" class="img-responsive" alt="" /></div>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> 13.03.18</span>
                            <span><i class="fi flaticon-people"></i> Имя Фамилия</span>
                            <span><i class="fa fa-comments-o"></i> Рубрика</span>
                        </div>
                        <hr>
                        <p>I stumbled upon an article entitled Miscarriage and the Confusion of Sinful Grief that was posted at the Reformed Christian website "The Gospel Coalition".Jamie Carlson (who recently miscarried) wrote the post as a reflection on sin and grief. </p>
                        <a href="blog-single.html" class="btn btn-prymery-hover btn-md padding-horizontal-30">Читать статью</a>
                    </article>
                    <div class="page-nav text-center">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-angle-left"></i> &nbsp; Предыдущая</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">Следующая &nbsp; <i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bottom-image">
                <img src="img/rose-angel.png" alt="rose-angel">
            </div>
        </div>
    </div>
</div>