<div class="topbar topbar3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 hidden-xs">
                        <p><i class="fa fa-map-marker"></i> <a href="#">Our Locations</a></p>
                        <p class="hidden-sm"><i class="flaticon-technology"></i> Immediate Need: (012) 345 - 6789</p>
                        <div class="top-social">
                            <a href="#"><i class="flaticon-social"></i></a>
                            <a href="#"><i class="flaticon-social-1"></i></a>
                            <a href="#"><i class="flaticon-play"></i></a>
                            <a href="#"><i class="flaticon-vimeo"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="pull-right">
                            <p><i class="flaticon-nature"></i> <a href="#">Send Flowers Now &nbsp; <i class="fa fa-angle-right"></i></a></p>
                        </div>
                        <div class="lang-select pull-right">
                            <i class="fa fa-angle-down"></i>
                            <select>
                                <option value="">EN</option>
                                <option value="">PO</option>
                                <option value="">FR</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="header4 homepage-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-8">
                        <a href="./index.html" class="navbar-brand"><img src="img/logo1.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-4">
                        <div class="cart-header cart-show pull-right">
                            <i class="flaticon-web"></i>
                            <span>0</span>
                            <div class="cart-table">
                                <h3>My Cart (3 items)</h3>
                                <div class="margin-bottom-20"></div>
                                <ul class="cart-products dropdown-sp">
                                    <li>
                                        <img src="img/menu/01/1.jpg" alt="" />
                                        <p><a href="#">Enchanted Cottage</a></p>
                                        <h6>$87.00 <small>$99.00</small></h6>
                                        <em class="count">x1</em>
                                    </li>
                                    <li>
                                        <img src="img/menu/01/2.jpg" alt="" />
                                        <p><a href="#">Nice Sympathy</a></p>
                                        <h6>$59.99</h6>
                                        <em class="count">x1</em>
                                    </li>
                                    <li>
                                        <img src="img/menu/01/3.jpg" alt="" />
                                        <p><a href="#">Sentimental Dreams</a></p>
                                        <h6>$55.00 <small>$65.00</small></h6>
                                        <em class="count">x1</em>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <div class="cart-dual-btns">
                                    <a href="#" class="btn btn-primary btn-xs pull-left">View Cart</a>
                                    <a href="./shop-checkout.html" class="btn btn-primary btn-xs pull-right"><small class="fa fa-sign-out"></small> <cite class="hidden-xs">Proceed to</cite> Checkout</a>
                                </div>
                            </div>
                        </div>
                        <nav class="navbar navbar-default">
                            <div class="container">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    Menu
                                    <span>
                <em></em>
                <em></em>
                <em></em>
            </span>
                                </button>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="./index.html">Home</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Obituaries <span class="fa fa-angle-down"></span></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-8">
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4 dropdown-links">
                                                                    <h5>Links 1</h5>
                                                                    <a href="./obituary-single-condolences.html">Obituary - Condolences</a>
                                                                    <a href="./obituary-single-details.html">Obituary - Details</a>
                                                                    <a href="./obituary-single-flowers.html">Obituary - Flowers</a>
                                                                    <a href="./obituary-single-gallery.html">Obituary - Gallery</a>
                                                                    <a href="./obituary-single-light.html">Obituary - Light</a>
                                                                    <a href="./facilities-amenities.html">Facilities - Amenities</a>
                                                                    <a href="./facilities-contact.html">Facilities - Contact</a>
                                                                    <a href="./facilities-directions.html">Facilities - Directions</a>
                                                                    <a href="./facilities-staff.html">Facilities - Staff</a>
                                                                    <a href="./current-obituaries.html">Current Obituaries</a>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 dropdown-links">
                                                                    <h5>Links 2</h5>
                                                                    <a href="./our-history.html">Our History</a>
                                                                    <a href="./upcoming-funerals.html">Upcoming Funerals</a>
                                                                    <a href="./after-funeral.html">After Funeral</a>
                                                                    <a href="./pre-planning.html">Pre Planning</a>
                                                                    <a href="./past-obituaries.html">Past Obituaries</a>
                                                                    <a href="./faq.html">FAQ</a>
                                                                    <a href="./funeral-planning.html">Funeral Planning</a>
                                                                    <a href="./helpful-resources.html">Helpful Resources</a>
                                                                    <a href="./local-information.html">Local Information</a>
                                                                    <a href="./pricing.html">Pricing</a>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 dropdown-links">
                                                                    <h5>Links 3</h5>
                                                                    <a href="./about-us.html">About Us</a>
                                                                    <a href="./service-1.html">Our Services</a>
                                                                    <a href="./service-2.html">Our Services 2</a>
                                                                    <a href="./404.html">404</a>
                                                                    <a href="../default/index.html">Demo 1: Default</a>
                                                                    <a href="../expanded/index.html">Demo 2: Expanded</a>
                                                                    <a href="../modern/index.html">Demo 3: Modern</a>
                                                                    <a href="../classic/index.html">Demo 4: Classic</a>
                                                                    <a href="../split/index.html">Demo 5: Split</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4">
                                                            <h5>Video Presentation</h5>
                                                            <div class="clearfix"></div>
                                                            <div class="menu-video-block">
                                                                <a href="http://www.youtube.com/watch?v=XSGBVzeBUbk" data-lity>
                                        <img src="img/menu/3.jpg" class="img-responsive" alt=""/>
                                        <span class="fa fa-play"></span>
                                        </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="fa fa-angle-down"></span></a>
                                            <ul class="dropdown-menu dropdown-menu-v2">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <h5>Latest Product Added</h5>
                                                            <div class="send-flowers margin-bottom-50">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <a href="#">
                                                                            <div class="sf-thumb">
                                                                                <img src="img/menu/2.jpg" class="img-responsive" alt="">
                                                                                <i class="flaticon-link"></i>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="margin-bottom-30"></div>
                                                                        <h4>Simply Elegant Spathiply</h4>
                                                                        <span>$109.95</span>
                                                                        <em><i class="flaticon-transport"></i> Same-Day Hand Delivery</em>
                                                                        <a href="#" class="btn btn-primary btn-md"><i class="flaticon-web"></i> Order Now</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <h5>Demo</h5>
                                                            <div class="dropdown-info">
                                                                <img src="img/menu/1.jpg" class="img-responsive" alt="" />
                                                                <p>Death leaves a heartache no one can heal, love leaves a memory no one can steal. From an Irish headstone.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <h5>Special Products</h5>
                                                            <ul class="dropdown-sp">
                                                                <li>
                                                                    <img src="img/menu/01/1.jpg" alt="" />
                                                                    <p><a href="#">Enchanted Cottage</a></p>
                                                                    <h6>$87.00 <span>$99.00</span></h6>
                                                                </li>
                                                                <li>
                                                                    <img src="img/menu/01/2.jpg" alt="" />
                                                                    <p><a href="#">Nice Sympathy</a></p>
                                                                    <h6>$59.99</h6>
                                                                </li>
                                                                <li>
                                                                    <img src="img/menu/01/3.jpg" alt="" />
                                                                    <p><a href="#">Sentimental Dreams</a></p>
                                                                    <h6>$55.00 <span>$65.00</span></h6>
                                                                </li>
                                                                <li>
                                                                    <img src="img/menu/01/4.jpg" alt="" />
                                                                    <p><a href="#">Rose Tribute</a></p>
                                                                    <h6>$89.00</h6>
                                                                </li>
                                                                <li>
                                                                    <img src="img/menu/01/5.jpg" alt="" />
                                                                    <p><a href="#">Tender Flowerpack</a></p>
                                                                    <h6>$69.00 <span>$75.00</span></h6>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-normal">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Staff <span class="fa fa-angle-down"></span></a>
                                            <ul class="dropdown-menu dropdown-menu-v3">
                                                <li><a href="./our-staff.html">Staff</a></li>
                                                <li><a href="./our-staff-detail.html">Staff Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-normal">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <span class="fa fa-angle-down"></span></a>
                                            <ul class="dropdown-menu dropdown-menu-v3">
                                                <li><a href="./blog.html">Blog</a></li>
                                                <li><a href="./blog-single.html">Blog Single</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-normal">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="fa fa-angle-down"></span></a>
                                            <ul class="dropdown-menu dropdown-menu-v3">
                                                <li><a href="./shop.html">Shop</a></li>
                                                <li><a href="./shop-list.html">Shop List</a></li>
                                                <li><a href="./shop-single.html">Shop Single</a></li>
                                                <li><a href="./checkout.html">Shop Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-normal">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact Us <span class="fa fa-angle-down"></span></a>
                                            <ul class="dropdown-menu dropdown-menu-v3">
                                                <li><a href="./contact-v1.html">Contact</a></li>
                                                <li><a href="./contact-v2.html">Contact V2</a></li>
                                                <li><a href="./locations.html">Locations</a></li>
                                                <li><a href="./location-single.html">Location - Single</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!--/.nav-collapse -->
                            </div>
                            <!--/.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>