<div class="header-wrap js-header-wrap">
	<div class="topbar topbar3">
		<div class="container">
			<div class="topbar__wrap">
				<ul class="topbar__list list-dropdown">
					<li class="list-dropdown__item list-dropdown__item_mod">
						<div class="map-wrap__select">
							<span class="list-dropdown__icon">
								{{ mixins.icon('mark') }}
							</span>
							<div class="select">
								<select name="region" id="heade-region" style="width: 100%" class="js-select">
									<option value="1">Выберите район</option>
									<option value="2">Индустриальный</option>
									<option value="3">Кировский</option>
									<option value="4">Краснофлотский</option>
								</select>
							</div>
						</div>
					</li>
					<li class="list-dropdown__item">
						<a href="#" class="list-dropdown__link">
							<span class="list-dropdown__icon">
								{{ mixins.icon('user') }}
							</span>
							Войти
						</a>
					</li>
					<li class="list-dropdown__item">
						<span class="vertical-slash">|</span>
					</li>
					<li class="list-dropdown__item">
						<a href="#" class="list-dropdown__link">
							 Зарегистрироваться
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<header class="header4 header5 header-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-8">
					<a href="./index.html" class="navbar-brand">
						<img data-src="img/logo.png" class="img-responsive js-lazy" alt="logo">
					</a>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-4">
					<div class="header-top">
						<div class="cart-header2 hidden-xs cart-show pull-right">
							<i class="fi flaticon-web"></i>
							<span>My Cart (3)</span>
							<div class="cart-table">
								<h3>My Cart (3 items)</h3>
								<div class="margin-bottom-20"></div>
								<ul class="cart-products dropdown-sp">
									<li>
										<img class="js-lazy" data-src="img/menu/01/1.jpg" alt="img" />
										<p><a href="#">Enchanted Cottage</a></p>
										<h6>$87.00 <small>$99.00</small></h6>
										<em class="count">x1</em>
									</li>
									<li>
										<img class="js-lazy" data-src="img/menu/01/2.jpg" alt="img" />
										<p><a href="#">Nice Sympathy</a></p>
										<h6>$59.99</h6>
										<em class="count">x1</em>
									</li>
									<li>
										<img class="js-lazy" data-src="img/menu/01/3.jpg" alt="img" />
										<p><a href="#">Sentimental Dreams</a></p>
										<h6>$55.00 <small>$65.00</small></h6>
										<em class="count">x1</em>
									</li>
								</ul>
								<div class="clearfix"></div>
								<div class="cart-dual-btns">
									<a href="#" class="btn btn-primary btn-xs pull-left">View Cart</a>
									<a href="./shop-checkout.html" class="btn btn-primary btn-xs pull-right"><small class="fa fa-sign-out"></small> <cite class="hidden-xs">Proceed to</cite> Checkout</a>
								</div>
							</div>
						</div>
						<div class="pull-right">
							<p><i class="fi flaticon-nature"></i> <a href="#">Send Flowers Now</a></p>
						</div>
						<div class="pull-right">
							<p class="hidden-sm"><i class="fi flaticon-black"></i>  info@doverie27.ru</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<nav class="navbar navbar-default">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span>
								<em></em>
								<em></em>
								<em></em>
							</span>
						</button>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li><a href="./index.html">Главная</a></li>
								<li class="dropdown dropdown_mod">
									<a href="#" class="dropdown-toggle">Если случилось горе <span class="fa fa-angle-down"></span></a>
									<ul class="dropdown-menu dropdown-menu-v3">
										<li><a href="#">Блог</a></li>
										<li><a href="#">Блог 1</a></li>
										<li><a href="#">Блог 2</a></li>
									</ul>
								</li>
								<li><a href="#">После похорон</a></li>
								<li class="dropdown dropdown_mod">
									<a href="#" class="dropdown-toggle">
										Страницы памяти
										<span class="fa fa-angle-down"></span>
									</a>
									<ul class="dropdown-menu dropdown-menu-v3">
										<li>
											<a href="#">
												Каталог А-Я
											</a>
										</li>
										<li>
											<a href="#">
												Календарь похорон
											</a>
										</li>
										<li>
											<a href="./locations.html">
												Все никрологи
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<!--/.nav-collapse -->
						<!--/.container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header>
</div>
<div class="clearfix"></div>