<div class="home-content blog-content obituaries-content padding-top-100 padding-bottom-70">
    <div class="container">
        <div class="section-head text-center margin-bottom-50">
            <h3 class="title-l">Страницы памяти</h3>
            <div class="margin-bottom-30"></div>
            <p>Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <article class="margin-bottom-30 text-center">
                    <img src="img/793.jpg" class="img-responsive" alt="#">
                    <h4 class="title-m">Фамилия Имя Отчество</h4>
                    <div class="post-meta">
                        <span>Дата рождения: Вт. 03-12-1954</span>
                        <span>Дата смерти: Вт. 03-12-2016</span>
                        <span>Возраст: 62</span>
                        <div class="margin-bottom-25"></div>
                        <span><i class="fa fa-calendar"></i> Дата похорон: Вт. 03-12-2018</span>
                    </div>
                    <span class="btn btn-primary btn-md padding-horizontal-30">Подробнее</span>
                </article>
            </div>
            <div class="col-md-6">
                <article class="margin-bottom-30 text-center">
                    <img src="img/793.jpg" class="img-responsive" alt="#">
                    <h4 class="title-m">Фамилия Имя Отчество</h4>
                    <div class="post-meta">
                        <span>Дата рождения: Вт. 03-12-1954</span>
                        <span>Дата смерти: Вт. 03-12-2016</span>
                        <span>Возраст: 62</span>
                        <div class="margin-bottom-25"></div>
                        <span><i class="fa fa-calendar"></i> Дата похорон: Вт. 03-12-2018</span>
                    </div>
                    <span class="btn btn-primary btn-md padding-horizontal-30">Подробнее</span>
                </article>
            </div>
        </div>
    </div>
</div>