<div class="wrapper">
	<div class="promo">
		<div class="promo__bg" style="background-image: url(img/promo-bg.png);">
			<div class="promo__text">
				<h3 class="promo__title title-l">
					Портал ритуальных услуг Хабаровска
				</h3>
				<p>
					Ресурс создан для решения любых Ваших вопросов! Здесь вы найдете не только все необходимые погребальные атрибуты, но и сможете получить квалифицированную помощь ритуальных агентов, нотариусов и психологов.
				</p>
				<p>
					Сервис «Страницы памяти» помогут выразить соболезнования родным и близким, отправить цветы или венок. Рейтинг компаний позволит отобрать только лучшие ритуальные компании, а собранные многочисленные отзывы клиентов сделать верный выбор.
				</p>
			</div>
			<div class="promo__banner">
				<h4 class="promo__banner-title title-l">Скоро открытие !</h4>
				<p>
					Вы всегда нас найдете  в Yandex и Googl на первых страницах поиска!
				</p>
			</div>
		</div>
	</div>
</div>