{% set servicesCards1 = [
    {
        img: 'associated-goods-1.png',
        title: 'Урны для праха'
    },
    {
        img: 'associated-goods-2.png',
        title: 'Гробы'
    },
    {
        img: 'associated-goods-3.png',
        title: 'Памятники для могилы'
    },
    {
        img: 'associated-goods-4.png',
        title: 'Кресты могильные'
    }
] %}

{% set servicesCards2 = [
    {
        img: '1212.png',
        title: 'Венки и цветы ритуальные'
    },
    {
        img: '1213.png',
        title: 'Текстиль погребальный'
    },
    {
        img: '1214.png',
        title: 'Оградка, столик, скамейка'
    },
    {
        img: '1215.png',
        title: 'Обслуживание могил'
    }
] %}

<div class="associated-goods">
    <div class="container associated-goods__container">
        <div class="section-head associated-goods__head text-center">
            <h3 class="title-l associated-goods__title">Сопутствующие товары</h3>
        </div>
        <div class="associated-goods__body">
            <div class="associated-goods__row row">
                {% for item in servicesCards1 %}
                <div class="associated-goods__col col-md-3 col-sm-6">
                    <a href="#" class="associated-goods__card services-card">
                        <div class="services-card__img">
                            <img src="./img/{{item.img}}" alt="img">
                        </div>
                        <div class="services-card__title title-s">
                            {{item.title}} (<span>5</span>)
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="associated-goods__row row">
                {% for item in servicesCards2 %}
                <div class="associated-goods__col col-md-3 col-sm-6">
                    <a href="#" class="associated-goods__card services-card">
                        <div class="services-card__img">
                            <img src="./img/{{item.img}}" alt="img">
                        </div>
                        <div class="services-card__title title-s">
                            {{item.title}} (<span>5</span>)
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
