<div class="priority-issues">
    <div class="container priority-issues__container">
        <div class="section-head priority-issues__head text-center">
            <h3 class="title-l priority-issues__title">Похороны своими руками</h3>
        </div>
        <div class="priority-issues__accordeon">
            <ul class="accordeon">
                <li class="accordeon__item">
                    <div class="accordeon__head title-s">
                        Виды ритуальных венков
                        <span class="accordeon__icon"></span>
                    </div>
                    <div class="accordeon__body">
                        <p>
                            Embalming sanitizes andpreserves the body, retards the decomposition process, and enhances the appearance of a body disfigured by traumatic death or illness.
                        </p>
                        <p>
                            Embalming makes it possible to lengthen the time between death and the final disposition, thus allowing family members time to arrange and participate in the type of service most comforting to them.
                        </p>
                    </div>
                </li>
                <li class="accordeon__item">
                    <div class="accordeon__head title-s">
                        Список вещей для погребения
                        <span class="accordeon__icon"></span>
                    </div>
                    <div class="accordeon__body">
                        <p>
                            Embalming sanitizes andpreserves the body, retards the decomposition process, and enhances the appearance of a body disfigured by traumatic death or illness.
                        </p>
                        <p>
                            Embalming makes it possible to lengthen the time between death and the final disposition, thus allowing family members time to arrange and participate in the type of service most comforting to them.
                        </p>
                    </div>
                </li>
                <li class="accordeon__item">
                    <div class="accordeon__head title-s">
                        Сколько стоят похороны?
                        <span class="accordeon__icon"></span>
                    </div>
                    <div class="accordeon__body">
                        <p>
                            Embalming sanitizes andpreserves the body, retards the decomposition process, and enhances the appearance of a body disfigured by traumatic death or illness.
                        </p>
                        <p>
                            Embalming makes it possible to lengthen the time between death and the final disposition, thus allowing family members time to arrange and participate in the type of service most comforting to them.
                        </p>
                    </div>
                </li>
                <li class="accordeon__item">
                    <div class="accordeon__head title-s">
                        Остальные вопросы по порядку
                        <span class="accordeon__icon"></span>
                    </div>
                    <div class="accordeon__body">
                        <ul>
                            <li class="accordeon__item">
                                <div class="accordeon__head title-s">
                                    Виды ритуальных венков
                                    <span class="accordeon__icon"></span>
                                </div>
                                <div class="accordeon__body">
                                    <p>
                                        Embalming sanitizes andpreserves the body, retards the decomposition process, and enhances the appearance of a body disfigured by traumatic death or illness.
                                    </p>
                                    <p>
                                        Embalming makes it possible to lengthen the time between death and the final disposition, thus allowing family members time to arrange and participate in the type of service most comforting to them.
                                    </p>
                                </div>
                            </li>
                            <li class="accordeon__item">
                                <div class="accordeon__head title-s">
                                    Список вещей для погребения
                                    <span class="accordeon__icon"></span>
                                </div>
                                <div class="accordeon__body">
                                    <p>
                                        Embalming sanitizes andpreserves the body, retards the decomposition process, and enhances the appearance of a body disfigured by traumatic death or illness.
                                    </p>
                                    <p>
                                        Embalming makes it possible to lengthen the time between death and the final disposition, thus allowing family members time to arrange and participate in the type of service most comforting to them.
                                    </p>
                                </div>
                            </li>
                            <li class="accordeon__item">
                                <div class="accordeon__head title-s">
                                    Сколько стоят похороны?
                                    <span class="accordeon__icon"></span>
                                </div>
                                <div class="accordeon__body">
                                    <p>
                                        Embalming sanitizes andpreserves the body, retards the decomposition process, and enhances the appearance of a body disfigured by traumatic death or illness.
                                    </p>
                                    <p>
                                        Embalming makes it possible to lengthen the time between death and the final disposition, thus allowing family members time to arrange and participate in the type of service most comforting to them.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>