<div class="top-category mob-hide">
    <div class="container top-category__container">
        <div class="section-head top-category__head text-center">
            <h3 class="title-l top-category__title">ТОР-50 категории за месяц</h3>
        </div>
        <div class="top-category__body">            
            <div class="top-category__row row">
                <div class="top-category__col col-md-3">
                    <div class="top-category__list rating-bar">
                        <ul class="rating-bar__list rating-list">
                            {% for i in range(0, 10) %}
                                
                            <li class="rating-list__item rating-item">
                                <a href="#">
                                    {% if i < 3 %}
                                        <span class="rating-item__icon"><i class="fa fa-trophy" aria-hidden="true"></i></span>
                                    {% endif %}
                                    <div class="rating-item__name">
                                        Название компании
                                    </div>
                                    <div class="rating-item__description">
                                        Ритуальное агентство
                                    </div>
                                </a>
                            </li>

                            {% endfor %}
                        </ul>
                        <div class="rating-bar__nav">
                            <ul>
                                <li class="active">
                                    <a>1-10</a>
                                </li>
                                <li>
                                    <a href="#">10-20</a>
                                </li>
                                <li>
                                    <a href="#">20-30</a>
                                </li>
                                <li>
                                    <a href="#">30-40</a>
                                </li>
                                <li>
                                    <a href="#">40-50</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="top-category__col col-md-9">
                    
                        <!-- begin map -->
                        <div class="js-map map on-map__map top-category__map" id="mapTop" data-center-lat="-34.097" data-center-lng="150.644"></div>
                        {% set tamplate = '<div class="baloon">
                            <div class="baloon__content">
                                <div class="baloon__row">
                                    <div class="baloon__col">
                                        {{? baloon.img }}
                                        <div class="baloon__img"><img src="{{=baloon.img}}" alt="{{=baloon.imgAlt}}"></div>
                                        {{?}}
                                        {{? baloon.title }}
                                        <div class="baloon__title">{{=baloon.title}}</div>
                                        {{?}}
                                        {{? baloon.linkText }}
                                        <div class="baloon__footer">
                                            <a href="{{=baloon.linkUrl}}" class="btn btn_small">{{=baloon.linkText}}<i class="fi flaticon-arrows"></i></a>
                                        </div>
                                        {{?}}
                                    </div>
                                    <div class="baloon__col">
                                        {{? baloon.address }}
                                            <div class="baloon__item"><i class="fa fa-map-marker"></i>{{=baloon.address}}</div>
                                        {{?}}
                                        {{? baloon.address }}
                                            <div class="baloon__item"><i class="fi flaticon-technology"></i>{{=baloon.phone}}</div>
                                        {{?}}
                                        {{? baloon.address }}
                                            <div class="baloon__item"><i class="fi flaticon-black"></i>{{=baloon.email}}</div>
                                        {{?}}
                                        {{? baloon.address }}
                                            <div class="baloon__item"><i class="fi flaticon-clock"></i>{{=baloon.time}}</div>
                                        {{?}}
                                    </div>
                                </div>
                            </div>
                        </div>' %}
                        {% set array = '[
                                {
                                    "content": {
                                        "title": "1. Название компании",
                                        "linkUrl": "#",
                                        "linkText": "Перейти",
                                        "img": "./img/map-img.png",
                                        "imgAlt": "img",
                                        "address": "Хабаровск, Гоголя, 8",
                                        "phone": "8 (111) 123 123",
                                        "email": "dmitryz5700@gmail.com",
                                        "time": "С 7.00 до 21.00, без выходных",
                                        "list": [
                                            {
                                                "bla": "bla"
                                            },
                                            {
                                                "bla": "bla"
                                            }
                                        ]
                                    },
                                    "marker": {
                                        "id": 2,
                                        "position": {
                                            "lat": -34.397,
                                            "lng": 151.044
                                        },
                                        "icon": {
                                            "default": "img/marker.png",
                                            "active": "img/marker.png",
                                            "size": {
                                                "x": 50,
                                                "y": 64
                                            },
                                            "centering": {
                                                "x": 20,
                                                "y": 58
                                            }
                                        }
                                    }
                                },
                                {
                                    "content": {
                                        "title": "1. Название компании",
                                        "linkUrl": "#",
                                        "linkText": "Перейти",
                                        "img": "./img/map-img.png",
                                        "imgAlt": "img",
                                        "address": "Хабаровск, Гоголя, 8",
                                        "phone": "8 (111) 123 123",
                                        "email": "dmitryz5700@gmail.com",
                                        "time": "С 7.00 до 21.00, без выходных",
                                        "list": [
                                            {
                                                "bla": "bla"
                                            },
                                            {
                                                "bla": "bla"
                                            }
                                        ]
                                    },
                                    "marker": {
                                        "id": 3,
                                        "position": {
                                            "lat": -34.397,
                                            "lng": 151.444
                                        },
                                        "icon": {
                                            "default": "img/marker.png",
                                            "active": "img/marker.png",
                                            "size": {
                                                "x": 50,
                                                "y": 64
                                            },
                                            "centering": {
                                                "x": 20,
                                                "y": 58
                                            }
                                        }
                                    }
                                }
                            ]' %}
                        <script type="text/template" class="js-mapTop">
                            {{ tamplate | safe }}
                        </script>
                        <script>
                            document.addEventListener('DOMContentLoaded', function(){
                                window.mapTop.add({{array | safe}})
                            });
                        </script>
                    <!-- end map -->
                    
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="container">
        <h4 class="subtitle">Заголовок текста для СЕО</h4>
        <!-- drop -->
        <div class="drop js-drop">
            <div class="drop__wrap js-drop-wrap">
                <div class="drop__show js-drop-shows">
                    <p>
                        В нашей торгово-производственной фирме Студия Ангел вы можете воспользоваться услугами ритуального агента, который возьмет на себя все обязанности по подготовке и организации похорон ваших близких людей.
                    </p>
                    <p>
                        В нашей торгово-производственной фирме Студия Ангел вы можете воспользоваться услугами ритуального агента, который возьмет на себя все обязанности по подготовке и организации похорон ваших близких людей.
                    </p>
                    <div class="our-contacts__list">
                        <ul>
                            <li>подготовку усопшего;</li>
                            <li>получение необходимых;</li>
                            <li>выбор и доставку;</li>
                            <li>выбор места захоронения;</li>
                        </ul>
                    </div>
                </div>
                <div class="drop__hidden js-drop-hidden">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
            <div class="price-btn mob-hide">
            {{ mixins.readAll(null, 'mob-hide') }}
            </div>
        </div>
        <!-- ¯\_(ツ)_/¯ -->
        <div class="bottom-image">
            <img src="img/rose-angel.png" alt="rose-angel">
        </div>
    </div>