<div class="wrapper">
	<div class="user-account">
		<div class="page-head">
			<div class="container page-head__container">
				<div class="row">
					<div class="col-md-3 col-sm-12 page-head__col">
						<ul class="bcrumbs page-head__bcrumbs">
							<li>	
								<a href="#">
									<span class="showin">
										{{ mixins.icon('house') }}
									</span>
									<span class="hidein">Home</span>
								</a></li>
							<li>
								<a href="#">Obituaries</a>
							</li>
							<li>Past</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="user-account__wrap">
				<!-- Start schedule -->
				{% include "partials/user-account/_personal-info.html" %}
				<!-- End schedule -->
				<!-- Start schedule -->
				{% include "partials/user-account/_announcements.html" %}
				<!-- End schedule -->
			</div>
			<div class="bottom-image">
				<img src="img/rose-angel.png" alt="rose-angel">
			</div>
		</div>
	</div>
</div>