<div class="user-account__row row">
	<aside class="user-account__aside">
		<div class="col col-md-3 col-sm-4 col-xs-12">
			<div class="person-info__row">
				<div class="person-info__col">
					<div class="person-info__photo">
						<img class="js-lazy" data-src="./img/memory-item.jpg" alt="photo">
					</div>
				</div>
				<div class="person-info__col">
					<div class="person-info__general text-center">
						<p>
							Фамилия Имя Отчество
						</p>
					</div>
					<div class="user-account__nav">
						<ul class="user-account__info-list">
							<li class="user-account__info-item">
								На сайте с: 12.09.17
							</li>
							<li class="user-account__info-item">
								Последний визит: 12.09.17
							</li>
							<li class="user-account__info-item">
								Всего отзывов: 15
							</li>
							<li class="user-account__info-item">
								Всего статей: 11
							</li>
						</ul>
						<ul class="user-account__nav-list  mob-hide">
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Личная информация
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Мои объявления
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link is-active">
									<i class="fa fa-angle-right"></i>
									Баланс
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Мои посты
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Мои компании и товары
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Баннерная реклама
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<div class="col-md-9 col-sm-8 col-xs-12">
		<div class="balance memory-form__title_bordered">
			<form class="balance-form">
				<div class="row">
					<div class="col-md-7 col-sm-12">
						<div class="balance-form__box">
							<div class="paid-info">
								<div class="paid-info__balance title-s">
									Ваш текущий баланс  
									<span class="paid-info__balance-sum">355 ₽</span>
								</div>
							</div>
						</div>
						<div class="balance-form__row">
							<label for="pay1" class="balance-form__label">
								Пополнить на
							</label>
							<input type="text" class="balance-form__input" id="pay1">
							<label for="pay1" class="balance-form__label">
								₽
							</label>
						</div>
						<div class="balance-form__row">
							<h4 class="balance-form__title">
								Выбрать способ пополнения:
							</h4>
							<div class="form-radio">
								<div class="form-radio__radio">
									<input type="radio" id="pays3" name="memory-pay">
									<label for="pays3">Visa / Master card</label>
								</div>
								<div class="form-radio__radio">
									<input type="radio" id="pays2" name="memory-pay" checked="">
									<label for="pays2">Сбербанк онлайн</label>
								</div>
								<div class="form-radio__radio">
									<input type="radio" id="pays4" name="memory-pay">
									<label for="pays4">Яндекс деньги</label>
								</div>
							</div>	
							<div class="balance-form__btn-block">
								<button type="submit" class="form-radio__btn btn btn_bold">
									Пополнить
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<div class="balance-form__row">
							<h4 class="balance-form__title">
								История платежей:
							</h4>
							<ul class="balance-form__list">
								<li class="balance-form__item">
									<span class="balance-form__date">20.11.2017</span>
									<span class="balance-form__price">300 руб</span>
									<span class="balance-form__transaction-name">Пополнение баланса</span>
								</li>
								<li class="balance-form__item">
									<span class="balance-form__date">20.11.2017</span>
									<span class="balance-form__price">300 руб</span>
									<span class="balance-form__transaction-name">Пополнение баланса</span>
								</li>
								<li class="balance-form__item">
									<span class="balance-form__date">20.11.2017</span>
									<span class="balance-form__price">300 руб</span>
									<span class="balance-form__transaction-name">Пополнение баланса</span>
								</li>
								<li class="balance-form__item">
									<span class="balance-form__date">20.11.2017</span>
									<span class="balance-form__price">300 руб</span>
									<span class="balance-form__transaction-name">Пополнение баланса</span>
								</li>
								<li class="balance-form__item">
									<span class="balance-form__date">20.11.2017</span>
									<span class="balance-form__price">300 руб</span>
									<span class="balance-form__transaction-name">Пополнение баланса</span>
								</li>
								<li class="balance-form__item">
									<span class="balance-form__date">20.11.2017</span>
									<span class="balance-form__price">300 руб</span>
									<span class="balance-form__transaction-name">Пополнение баланса</span>
								</li>
							</ul>
							<!-- Start delete-account -->
								{% include "partials/blogs/_page-nav.html" %}
							<!-- End delete-account	 -->	
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- Start delete-account -->
			{% include "partials/user-account/_delete-account.html" %}
		<!-- End delete-account	 -->		
		<div class="bottom-image">
			<img class="js-lazy" data-src="img/rose-candle.png" alt="rose-angel">
		</div>
	</div>
</div>