<div class="user-account__row row hidein">
	<aside class="user-account__aside">
		<div class="col col-md-3 col-sm-4 col-xs-12">
			<div class="person-info__row">
				<div class="person-info__col">
					<div class="person-info__photo">
						<img class="js-lazy" data-src="./img/memory-item.jpg" alt="photo">
					</div>
				</div>
				<div class="person-info__col">
					<div class="person-info__general text-center">
						<p>
							Фамилия Имя Отчество
						</p>
					</div>
					<div class="user-account__nav">
						<ul class="user-account__info-list">
							<li class="user-account__info-item">
								На сайте с: 12.09.17
							</li>
							<li class="user-account__info-item">
								Последний визит: 12.09.17
							</li>
							<li class="user-account__info-item">
								Всего отзывов: 15
							</li>
							<li class="user-account__info-item">
								Всего статей: 11
							</li>
						</ul>
						<ul class="user-account__nav-list  mob-hide">
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Личная информация
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Мои объявления
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Баланс
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Мои посты
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Мои компании и товары
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link is-active">
									<i class="fa fa-angle-right"></i>
									Баннерная реклама
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<div class="col-md-9 col-sm-8 col-xs-12">
		<div class="banner-advertising">
			<form class="banner-advertising__form" action="/">
				<div class="banner-advertising__title-block memory-form__title_bordered">
					<h4 class="banner-advertising__title title-sm">
						Текущая рекламная компания 
					</h4>
				</div>
				<div class="row">
					<div class="col-md-10">
						<div class="ritual-agent">
							<h4 class="ritual-agent__title title-sm">
								Мастерская “Ангел”
							</h4>
							<div class="ritual-agent__label ritual-agent__label_mod">
								<input class="input-checkbox" type="checkbox" name="verify" id="banner1">
								<label for="banner1" class="label-checkbox"></label>
								<div class="banner-adver">
									<div class="banner-adver__row">
										<div class="banner-adver__left-col">
											<span class="banner-adver__row-number">
												1.
											</span>
										</div>
										<div class="banner-adver__right-col">
											<div class="banner-adver__col-header js-lazy" data-src="background-image: url(img/banner42.png)">
											</div>
											<div class="banner-adver__col-footer">
												<div class="cv">
													<div class="cv__views">
														<span class="cv__views-icon cv__views-icon_mod">
															{{ mixins.icon('calendar') }}
														</span>
														<span class="cv__date">
															25.03.18 - 25.03.18
														</span>
													</div>	
													|
													<div class="cv__views">
														<span class="cv__views-icon cv__views-icon_mod">
															{{ mixins.icon('eye') }}
														</span>
														<div class="banner-scale">
															<span class="banner-scale__line green"></span>
															<span class="banner-scale__line"></span>
															<span class="banner-scale__line"></span>
														</div>
													</div>
													|
													<div class="cv__views">
														<span class="cv__views-icon cv__views-icon_mod">
															{{ mixins.icon('filse-copy') }}
														</span>
														<span class="cv__text">
															Главная, Все посты
														</span>
													</div>
													|
													<div class="cv__views">
														<span class="cv__views-icon">
															{{ mixins.icon('line-chart') }}
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="ritual-agent">
							<h4 class="ritual-agent__title title-sm">
								Мастерская “Ангел”
							</h4>
							<div class="ritual-agent__label">
								<input class="input-checkbox" type="checkbox" name="verify" id="banner2">
								<label  for="banner2" class="label-checkbox"></label>
								<div class="banner-adver">
									<div class="banner-adver__row">
										<div class="banner-adver__left-col">
											<span class="banner-adver__row-number">
												2.
											</span>
										</div>
										<div class="banner-adver__right-col">
											<div class="banner-adver__col-header js-lazy" data-src="background-image: url(img/banner42.png)">
											</div>
											<div class="banner-adver__col-footer">
												<div class="cv">
													<div class="cv__views">
														<span class="cv__views-icon cv__views-icon_mod">
															{{ mixins.icon('calendar') }}
														</span>
														<span class="cv__date">
															25.03.18 - 25.03.18
														</span>
													</div>	
													|
													<div class="cv__views">
														<span class="cv__views-icon cv__views-icon_mod">
															{{ mixins.icon('eye') }}
														</span>
														<div class="banner-scale">
															<span class="banner-scale__line green"></span>
															<span class="banner-scale__line green"></span>
															<span class="banner-scale__line"></span>
														</div>
													</div>
													|
													<div class="cv__views">
														<span class="cv__views-icon cv__views-icon_mod">
															{{ mixins.icon('filse-copy') }}
														</span>
														<span class="cv__text">
															Главная, Все посты
														</span>
													</div>
													|
													<div class="cv__views">
														<span class="cv__views-icon">
															{{ mixins.icon('line-chart') }}
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="ritual-agent">
							<h4 class="ritual-agent__title title-sm">
								Мастерская “Ангел”
							</h4>
							<div class="ritual-agent__label ritual-agent__label_mod">
								<input class="input-checkbox" type="checkbox" name="verify" id="banner3">
								<label  for="banner3" class="label-checkbox"></label>
								<div class="banner-adver">
									<div class="banner-adver__row">
										<div class="banner-adver__left-col">
											<span class="banner-adver__row-number">
												3.
											</span>
										</div>
										<div class="banner-adver__right-col">
											<div class="banner-adver__col-header js-lazy" data-src="background-image: url(img/banner42.png)">
											</div>
											<div class="banner-adver__col-footer">
												<div class="cv">
													<div class="cv__views">
														<span class="cv__views-icon cv__views-icon_mod">
															{{ mixins.icon('calendar') }}
														</span>
														<span class="cv__date">
															25.03.18 - 25.03.18
														</span>
													</div>	
													|
													<div class="cv__views">
														<span class="cv__views-icon cv__views-icon_mod">
															{{ mixins.icon('eye') }}
														</span>
														<div class="banner-scale">
															<span class="banner-scale__line green"></span>
															<span class="banner-scale__line green"></span>
															<span class="banner-scale__line green"></span>
														</div>
													</div>
													|
													<div class="cv__views">
														<span class="cv__views-icon cv__views-icon_mod">
															{{ mixins.icon('filse-copy') }}
														</span>
														<span class="cv__text">
															Главная, Все посты
														</span>
													</div>
													|
													<div class="cv__views">
														<span class="cv__views-icon">
															{{ mixins.icon('line-chart') }}
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="ritual-agent">
							<div class="ritual-agent__label ritual-agent__label_top">
								<input class="input-checkbox" type="checkbox" name="verify" id="banner4">
								<label  for="banner4" class="label-checkbox"></label>
								<div class="banner-adver">
									<div class="banner-adver__row banner-adver__row_mod">
										<div class="banner-adver__left-col">
											<span class="banner-adver__row-number">
												4.
											</span>
										</div>
										<div class="banner-adver__right-col">
											<div class="banner-adver__right-wrap">
												<div class="banner-adver__col-header js-lazy" data-src="background-image: url(img/banner43.png)">
												</div>
												<div class="banner-adver__col-footer">
													<div class="cv">
														<div class="cv__views">
															<span class="cv__views-icon cv__views-icon_mod">
																{{ mixins.icon('calendar') }}
															</span>
															<span class="cv__date">
																25.03.18 - 25.03.18
															</span>
														</div>
														<div class="cv__views">
															<span class="cv__views-icon cv__views-icon_mod">
																{{ mixins.icon('eye') }}
															</span>
															<div class="banner-scale">
																<span class="banner-scale__line green"></span>
																<span class="banner-scale__line green"></span>
																<span class="banner-scale__line green"></span>
															</div>
														</div>
														<div class="cv__views">
															<span class="cv__views-icon cv__views-icon_mod">
																{{ mixins.icon('filse-copy') }}
															</span>
															<span class="cv__text">
																Главная, Все посты
															</span>
														</div>
														<div class="cv__views">
															<span class="cv__views-icon">
																{{ mixins.icon('line-chart') }}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="ritual-agent">
							<div class="ritual-agent__label ritual-agent__label_top ritual-agent__label_mod">
								<input class="input-checkbox" type="checkbox" name="verify" id="banner5">
								<label  for="banner5" class="label-checkbox"></label>
								<div class="banner-adver">
									<div class="banner-adver__row banner-adver__row_mod">
										<div class="banner-adver__left-col">
											<span class="banner-adver__row-number">
												5.
											</span>
										</div>
										<div class="banner-adver__right-col">
											<div class="banner-adver__right-wrap">
												<div class="banner-adver__col-header js-lazy" data-src="background-image: url(img/banner43.png)">
												</div>
												<div class="banner-adver__col-footer">
													<div class="cv">
														<div class="cv__views">
															<span class="cv__views-icon cv__views-icon_mod">
																{{ mixins.icon('calendar') }}
															</span>
															<span class="cv__date">
																25.03.18 - 25.03.18
															</span>
														</div>
														<div class="cv__views">
															<span class="cv__views-icon cv__views-icon_mod">
																{{ mixins.icon('eye') }}
															</span>
															<div class="banner-scale">
																<span class="banner-scale__line green"></span>
																<span class="banner-scale__line"></span>
																<span class="banner-scale__line"></span>
															</div>
														</div>
														<div class="cv__views">
															<span class="cv__views-icon cv__views-icon_mod">
																{{ mixins.icon('filse-copy') }}
															</span>
															<span class="cv__text">
																Главная, Все посты
															</span>
														</div>
														<div class="cv__views">
															<span class="cv__views-icon">
																{{ mixins.icon('line-chart') }}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="my-companies__title-block border_top border_bottom">
							<div class="my-companies__col">
								<div class="delete-account">
									<button type="submit" class="delete-account__btn">
										<span class="delete-account__text">
											Выбрать все
										</span>
									</button>
								</div>
							</div>
							<div class="my-companies__col">
								<span class="my-companies__select-text">Продлить выбранные на </span>
								<div class="select">
									<select name="year-company" id="period20" style="width: 100%" class="js-select">
										<option value="1">3 дня</option>
										<option value="2">1 день</option>
										<option value="3">2 дня</option>
										<option value="3">4 дня</option>
										<option value="3">5 дней</option>
										<option value="3">6 дней</option>
										<option value="3">7 дней</option>
									</select>
								</div>
							</div>
							<div class="my-companies__col">
								<div class="delete-account">
									<button type="submit" class="delete-account__btn">
										<span class="delete-account__icon">
											{{ mixins.icon('cancel') }}
										</span>
										<span class="delete-account__text">
											Удалить выбранное
										</span>
									</button>
								</div>
							</div>
							<div class="my-companies__col">
								<button type="submit" class="memory-form__btn btn">
									Новый баннер
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="type-banner">
							<div class="banner-advertising__title-block memory-form__title_bordered">
								<h4 class="banner-advertising__title title-sm">
									Тип баннера 
								</h4>
							</div>
							<div class="form-radio">
								<div class="form-radio__radio">
									<input type="radio" id="pays1" name="memory-pay" checked="">
									<label for="pays1">Горизонтальный</label>
								</div>
								<div class="form-radio__radio">
									<input type="radio" id="pays10" name="memory-pay">
									<label for="pays10">Вертикальный</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="load-banner">
							<div class="banner-advertising__title-block memory-form__title_bordered">
								<h4 class="banner-advertising__title title-sm">
									Загрузить готовый баннер
								</h4>
							</div>
							<div class="upload-gallery">
								<div class="post-form">
									<span class="title-hint">
										Выберите файл формата jpg, Размер файла не более 6 Мб
									</span>	
									<div class="file-upload">
										<div class="post-form__col">
											<input class="post-form__input" type="text" id="way1" name="way1" placeholder=":/Путь файла будет тут.....">
											<label class="post-form__icon" for="file-upload-banner1">
												<i class="fa fas fa-camera"></i>
											</label>
										</div>
										<label class="file-upload__label btn btn_big" for="file-upload-banner1">
											Добавить
										</label>
										<input type="file" name="file-upload-photo1" id="file-upload-banner1" class="file-upload__input">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="build-banner">
							<div class="build-banner__title-block memory-form__title_bordered">
								<h4 class="build-banner__title title-sm">
									Создать новый баннер
								</h4>
							</div>
							<div class="build-banner__wrap">
								<div class="post-form">
									<div class="post-form__row row">
										<div class="col-md-10">
											<div class="post-form__col">
												<input class="post-form__input" type="text" id="caption" value="" name="caption" placeholder="Заголовок">
												<label class="post-form__label" for="caption"></label>
												<div class="slidecontainer">
													<div class="slidecontainer__title">
														Цвет шрифта
													</div>
													<input id="range1" type="range" min="0" max="300" value="0">
													<label for="range1" class="slidecontainer__label js-color-slide"></label>
												</div>
											</div>
											<div class="post-form__col">
												<input class="post-form__input" type="text" id="advertising-slogan" value="" name="advertising-slogan" placeholder="Рекламный слоган">
												<label class="post-form__label" for="advertising-slogan"></label>
												<div class="slidecontainer">
													<input id="range2" type="range" min="0" max="300" value="0">
													<label for="range2" class="slidecontainer__label js-color-slide"></label>
												</div>
											</div>
											<div class="post-form__col">
												<input class="post-form__input" type="text" id="phone" value="" name="phone">
												<label class="post-form__label" for="phone">Телефон</label>
												<div class="slidecontainer">
													<input id="range3" type="range" min="0" max="300" value="0">
													<label for="range3" class="slidecontainer__label js-color-slide"></label>
												</div>
											</div>
											<div class="upload-gallery">
												<div class="post-form">
													<span class="title-hint">
														Загрузить фон баннера. Выберите файл формата jpg, Размер файла не более 6 Мб
													</span>	
													<div class="file-upload">
														<div class="post-form__col">
															<input class="post-form__input" type="text" id="way2" value="" name="way2" placeholder=":/Путь файла будет тут.....">
															<label class="post-form__icon" for="file-upload-banner2">
																<i class="fa fas fa-camera"></i>
															</label>
														</div>
														<label class="file-upload__label btn btn_big" for="file-upload-banner2">
															Сохранить готовый баннер
														</label>
														<input type="file" name="file-upload-banner2" id="file-upload-banner2" class="file-upload__input">
													</div>
												</div>
											</div>
										</div>
										<div class="banner-adver col-md-2">
											<div class="banner-adver__col-header js-lazy" data-src="background-image: url(img/banner43.png)">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="delivery-period">
							<div class="delivery-period__title-block memory-form__title_bordered">
								<h4 class="delivery-period__title title-sm">
									Период показа
								</h4>
							</div>
							<div class="delivery-period__wrap">
								<div class="delivery-period__row">
									<div class="agent border">
										<div class="agent__row">
											<div class="contacts-item">
												<span>с</span> 
												<div class="input-group date js-datepicker">
													<input type="text" class="form-control">
													<div class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</div>
												</div> 
											</div>
											<div class="contacts-item">
												<span>по</span> 
												<div class="input-group date js-datepicker">
													<input type="text" class="form-control">
													<div class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</div>
												</div> 
											</div>
											<div class="contacts-item">
												<span class="contacts-item__select-text">
													Интенсивность показа
												</span>
												<div class="select">
													<select name="year-company" id="period21" style="width: 100%" class="js-select">
														<option value="1">100/день</option>
														<option value="2">10/день</option>
														<option value="3">20/день</option>
														<option value="3">40/день</option>
														<option value="3">50/день</option>
														<option value="3">60/день</option>
														<option value="3">70/день</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="page-show memory-form__title_bordered">
							<div class="page-show__wrap">
								<div class="page-show__row">
									<span class="page-show__select-text">
										Страница для показа
									</span>
									<div class="select">
										<select name="year-company" id="period22" style="width: 100%;" class="js-select">
											<option value="1">Главная</option>
											<option value="2">Главная</option>
											<option value="3">Главная</option>
											<option value="3">Главная</option>
											<option value="3">Главная</option>
											<option value="3">Главная</option>
											<option value="3">Главная</option>
										</select>
										<span class="select__icon">
											{{ mixins.icon('eye') }}
										</span>
									</div>
								</div>
								<div class="page-show__row">
									<button type="submit" class="memory-form__btn btn">
										Сохранить и запустить новую рекламную компанию
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>   
			<!-- Start delete-account -->
				{% include "partials/user-account/_delete-account.html" %}
			<!-- End delete-account  -->
		</div>
	</div>
</div>