<div class="user-account__row row">
	<aside class="user-account__aside">
		<div class="col col-md-3 col-sm-4 col-xs-12">
			<div class="person-info__row">
				<div class="person-info__col">
					<div class="person-info__photo">
						<img src="./img/memory-item.jpg" alt="photo">
					</div>
				</div>
				<div class="person-info__col">
					<div class="person-info__general text-center">
						<p>
							Фамилия Имя Отчество
						</p>
					</div>
					<div class="user-account__nav">
						<ul class="user-account__info-list">
							<li class="user-account__info-item">
								На сайте с: 12.09.17
							</li>
							<li class="user-account__info-item">
								Последний визит: 12.09.17
							</li>
							<li class="user-account__info-item">
								Всего отзывов: 15
							</li>
							<li class="user-account__info-item">
								Всего статей: 11
							</li>
						</ul>
						<ul class="user-account__nav-list  mob-hide">
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link is-active">
									<i class="fa fa-angle-right"></i>
									Личная информация
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Мои объявления
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Баланс
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Мои посты
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Мои компании и товары
								</a>
							</li>
							<li class="user-account__nav-item">
								<a href="#" class="user-account__nav-link">
									<i class="fa fa-angle-right"></i>
									Баннерная реклама
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<div class="col-md-9 col-sm-8 col-xs-12">
		<div class="my-posts memory-form__title_bordered">
			<form class="my-posts-form">
				<div class="row">
					<div class="col-md-6">
						<article class="article-item ritual-agent">
							<input class="input-checkbox" type="checkbox" name="verify" id="article1">
							<label class="ritual-agent__label" for="article1">
								<div class="article-item__article">
									<div class="post-thumb">
										<img src="img/blog-img.jpg" class="img-responsive" alt="" />
									</div>
									<h4 class="article-item__title title-m">
										Miscarriage and the Confusion of Sinful Grief: A Response
									</h4>
									<div class="cv">
										<span class="cv__date">
											<i class="fa fa-calendar"></i>
											23.02.18
										</span>
										<span class="cv__text">
											<i class="fa fa-comments-o"></i>
											Рубрика
										</span>
										<div class="cv__views">
											<span class="cv__views-icon">
												{{ mixins.icon('eye') }}
											</span>
											<span class="cv__views-counter">47</span>
										</div>
									</div>
								</div>
								<div class="btn-panel">
									<div class="btn-panel__col">
										<a href="#" class="btn-panel__btn">
											<span class="btn-panel__btn-icon">
												{{ mixins.icon('pen') }}
											</span>
											Редактировать 
										</a>
									</div>
									<div class="btn-panel__col">
										<a href="#" class="btn-panel__btn">
											<span class="btn-panel__btn-icon">
												{{ mixins.icon('cancel') }}
											</span>
											Удалить
										</a>
									</div>
								</div>
							</label>
						</article>
					</div>
					<div class="col-md-6">
						<article class="article-item ritual-agent">
							<input class="input-checkbox" type="checkbox" name="verify" id="article2">
							<label class="ritual-agent__label" for="article2">
								<div class="article-item__article">
									<div class="post-thumb">
										<img src="img/blog-img.jpg" class="img-responsive" alt="" />
									</div>
									<h4 class="article-item__title title-m">
										Miscarriage and the Confusion of Sinful Grief: A Response
									</h4>
									<div class="cv">
										<span class="cv__date">
											<i class="fa fa-calendar"></i>
											23.02.18
										</span>
										<span class="cv__text">
											<i class="fa fa-comments-o"></i>
											Рубрика
										</span>
										<div class="cv__views">
											<span class="cv__views-icon">
												{{ mixins.icon('eye') }}
											</span>
											<span class="cv__views-counter">47</span>
										</div>
									</div>
								</div>
								<div class="btn-panel">
									<div class="btn-panel__col">
										<a href="#" class="btn-panel__btn">
											<span class="btn-panel__btn-icon">
												{{ mixins.icon('pen') }}
											</span>
											Редактировать 
										</a>
									</div>
									<div class="btn-panel__col">
										<a href="#" class="btn-panel__btn">
											<span class="btn-panel__btn-icon">
												{{ mixins.icon('cancel') }}
											</span>
											Удалить
										</a>
									</div>
								</div>
							</label>
						</article>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<article class="article-item ritual-agent">
							<input class="input-checkbox" type="checkbox" name="verify" id="article3">
							<label class="ritual-agent__label" for="article3">
								<div class="article-item__article">
									<div class="post-thumb">
										<img src="img/blog-img.jpg" class="img-responsive" alt="" />
									</div>
									<h4 class="article-item__title title-m">
										Miscarriage and the Confusion of Sinful Grief: A Response
									</h4>
									<div class="cv">
										<span class="cv__date">
											<i class="fa fa-calendar"></i>
											23.02.18
										</span>
										<span class="cv__text">
											<i class="fa fa-comments-o"></i>
											Рубрика
										</span>
										<div class="cv__views">
											<span class="cv__views-icon">
												{{ mixins.icon('eye') }}
											</span>
											<span class="cv__views-counter">47</span>
										</div>
									</div>
								</div>
								<div class="btn-panel">
									<div class="btn-panel__col">
										<a href="#" class="btn-panel__btn">
											<span class="btn-panel__btn-icon">
												{{ mixins.icon('pen') }}
											</span>
											Редактировать 
										</a>
									</div>
									<div class="btn-panel__col">
										<a href="#" class="btn-panel__btn">
											<span class="btn-panel__btn-icon">
												{{ mixins.icon('cancel') }}
											</span>
											Удалить
										</a>
									</div>
								</div>
							</label>
						</article>
					</div>
					<div class="col-md-6">
						<article class="article-item ritual-agent">
							<input class="input-checkbox" type="checkbox" name="verify" id="article4">
							<label class="ritual-agent__label" for="article4">
								<div class="article-item__article">
									<div class="post-thumb">
										<img src="img/blog-img.jpg" class="img-responsive" alt="" />
									</div>
									<h4 class="article-item__title title-m">
										Miscarriage and the Confusion of Sinful Grief: A Response
									</h4>
									<div class="cv">
										<span class="cv__date">
											<i class="fa fa-calendar"></i>
											23.02.18
										</span>
										<span class="cv__text">
											<i class="fa fa-comments-o"></i>
											Рубрика
										</span>
										<div class="cv__views">
											<span class="cv__views-icon">
												{{ mixins.icon('eye') }}
											</span>
											<span class="cv__views-counter">47</span>
										</div>
									</div>
								</div>
								<div class="btn-panel">
									<div class="btn-panel__col">
										<a href="#" class="btn-panel__btn">
											<span class="btn-panel__btn-icon">
												{{ mixins.icon('pen') }}
											</span>
											Редактировать 
										</a>
									</div>
									<div class="btn-panel__col">
										<a href="#" class="btn-panel__btn">
											<span class="btn-panel__btn-icon">
												{{ mixins.icon('cancel') }}
											</span>
											Удалить
										</a>
									</div>
								</div>
							</label>
						</article>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<article class="article-item ritual-agent">
							<input class="input-checkbox" type="checkbox" name="verify" id="article5">
							<label class="ritual-agent__label" for="article5">
								<div class="article-item__article">
									<div class="post-thumb">
										<img src="img/blog-img.jpg" class="img-responsive" alt="" />
									</div>
									<h4 class="article-item__title title-m">
										Miscarriage and the Confusion of Sinful Grief: A Response
									</h4>
									<div class="cv">
										<span class="cv__date">
											<i class="fa fa-calendar"></i>
											23.02.18
										</span>
										<span class="cv__text">
											<i class="fa fa-comments-o"></i>
											Рубрика
										</span>
										<div class="cv__views">
											<span class="cv__views-icon">
												{{ mixins.icon('eye') }}
											</span>
											<span class="cv__views-counter">47</span>
										</div>
									</div>
								</div>
								<div class="btn-panel">
									<div class="btn-panel__col">
										<a href="#" class="btn-panel__btn">
											<span class="btn-panel__btn-icon">
												{{ mixins.icon('pen') }}
											</span>
											Редактировать 
										</a>
									</div>
									<div class="btn-panel__col">
										<a href="#" class="btn-panel__btn">
											<span class="btn-panel__btn-icon">
												{{ mixins.icon('cancel') }}
											</span>
											Удалить
										</a>
									</div>
								</div>
							</label>
						</article>
					</div>
					<div class="col-md-6">
						<article class="article-item ritual-agent">
							<input class="input-checkbox" type="checkbox" name="verify" id="article6">
							<label class="ritual-agent__label" for="article6">
								<div class="article-item__article">
									<div class="post-thumb">
										<img src="img/blog-img.jpg" class="img-responsive" alt="" />
									</div>
									<h4 class="article-item__title title-m">
										Miscarriage and the Confusion of Sinful Grief: A Response
									</h4>
									<div class="cv">
										<span class="cv__date">
											<i class="fa fa-calendar"></i>
											23.02.18
										</span>
										<span class="cv__text">
											<i class="fa fa-comments-o"></i>
											Рубрика
										</span>
										<div class="cv__views">
											<span class="cv__views-icon">
												{{ mixins.icon('eye') }}
											</span>
											<span class="cv__views-counter">47</span>
										</div>
									</div>
								</div>
								<div class="btn-panel">
									<div class="btn-panel__col">
										<a href="#" class="btn-panel__btn">
											<span class="btn-panel__btn-icon">
												{{ mixins.icon('pen') }}
											</span>
											Редактировать 
										</a>
									</div>
									<div class="btn-panel__col">
										<a href="#" class="btn-panel__btn">
											<span class="btn-panel__btn-icon">
												{{ mixins.icon('cancel') }}
											</span>
											Удалить
										</a>
									</div>
								</div>
							</label>
						</article>
					</div>
				</div>
				<div class="article-item__btn-block">
					<button type="submit" class="article-item__btn btn btn_bold">
						Новый пост
					</button>
				</div>
			</form>
		</div>
		<!-- Start delete-account -->
			{% include "partials/user-account/_delete-account.html" %}
		<!-- End delete-account	 -->		
		<div class="bottom-image">
			<img src="img/rose-candle.png" alt="rose-angel">
		</div>
	</div>
</div>