<div class="paid-services">
	<div class="paid-services__title-block">
		<h4 class="paid-services__title title-s">
			<span class="paid-services__icon">
				{{ mixins.icon('moneybag') }}
			</span>
			<span class="paid-services__text">
				Платные услуги
			</span>
		</h4>
		<span class="paid-services__desc">
			Применить для выбранных объявлений
		</span>
	</div>
	<div class="paid-services__wrap">
		<ul class="paid-list">
			<li class="paid-list__item">
				<div class="paid-list__col">
					<input type="checkbox" class="paid-list__input" id="card1">
					<label for="card1" class="paid-list__label">
						Поднятие вверх списка
					</label>
				</div>
				<div class="paid-list__col">
					<p>
						(пояснительный текст к услуге идет тут в одну строку)
					</p>
				</div>
				<div class="paid-list__col">
					<span class="paid-list__col-text">
						150 ₽
					</span>
				</div>
			</li>
			<li class="paid-list__item">
				<div class="paid-list__col">
					<input type="checkbox" id="card2" class="paid-list__input">
					<label for="card2" class="paid-list__label">
						Топ объявление
					</label>
				</div>
				<div class="paid-list__col">
					<div class="select">
						<select name="year-company" id="period1" style="width: 100%" class="js-select">
							<option value="1">Неделя</option>
							<option value="2">Месяц</option>
							<option value="3">Год</option>
						</select>
					</div>
				</div>
				<div class="paid-list__col">
					<p>
						(пояснительный текст к услуге идет тут)
					</p>
				</div>
				<div class="paid-list__col">
					<span class="paid-list__col-text">
						150 ₽
					</span>
				</div>
			</li>
			<li class="paid-list__item">
				<div class="paid-list__col">
					<input type="checkbox" id="card3" class="paid-list__input">
					<label for="card3" class="paid-list__label">
						Платное объявление 
					</label>
				</div>
				<div class="paid-list__col">
					<div class="select">
						<select name="year-company" id="period2" style="width: 100%" class="js-select">
							<option value="1">Неделя</option>
							<option value="2">Месяц</option>
							<option value="3">Год</option>
						</select>
					</div>
				</div>
				<div class="paid-list__col">
					<p>
						(пояснительный текст к услуге идет тут)
					</p>
				</div>
				<div class="paid-list__col">
					<span class="paid-list__col-text">
						150 ₽
					</span>
				</div>
			</li>
			<li class="paid-list__item">
				<div class="paid-list__col">
					<input type="checkbox" id="card4" class="paid-list__input">
					<label for="card4" class="paid-list__label">
						Срочное объявление
					</label>
				</div>
				<div class="paid-list__col">
					<div class="select">
						<select name="year-company" id="period3" style="width: 100%" class="js-select">
							<option value="1">Неделя</option>
							<option value="2">Месяц</option>
							<option value="3">Год</option>
						</select>
					</div>
				</div>
				<div class="paid-list__col">
					<p>
						(пояснительный текст к услуге идет тут)
					</p>
				</div>
				<div class="paid-list__col">
					<span class="paid-list__col-text">
						150 ₽
					</span>
				</div>
			</li>
			<li class="paid-list__item">
				<div class="paid-list__col">
					<input type="checkbox" id="card5" class="paid-list__input">
					<label for="card5" class="paid-list__label">
						Продлить размещение
					</label>
				</div>
				<div class="paid-list__col">
					<div class="select">
						<select name="year-company" id="period4" style="width: 100%" class="js-select">
							<option value="1">Неделя</option>
							<option value="2">Месяц</option>
							<option value="3">Год</option>
						</select>
					</div>
				</div>
				<div class="paid-list__col">
					<p>
						(пояснительный текст к услуге идет тут)
					</p>
				</div>
				<div class="paid-list__col">
					<span class="paid-list__col-text">
						0 ₽
					</span>
				</div>
			</li>
			<li class="paid-list__item">
				<div class="paid-list__col">
					<span class="paid-list__col-text">
						Итого
					</span>
				</div>
				<div class="paid-list__col">
					<span class="paid-list__col-text">
						300 ₽
					</span>
				</div>
			</li>
		</ul>
		<div class="paid-services__footer">
			<div class="paid-info">
				<div class="paid-info__balance">
					На вашем балансе  
					<span class="paid-info__balance-sum">355 ₽</span>
				</div>
				<div class="paid-info__pay">
					Требуется дополнительно оплатить 
					<span class="paid-info__pay-sum">944 ₽</span>
				</div>
				<button type="submit" class="paid-info__btn btn btn_bold">
					Оплатить
				</button>
			</div>
		</div>
	</div>
</div>