 <form class="post-form memory-candle__form memory-form">
 	<div class="memory-form__title-block memory-form__title_bordered">
		<h4 class="memory-form__title title-sm">
			Информация о свече памяти
		</h4>
 		<button type="submit" class="memory-form__btn btn">
 			Сохранить изменения
 		</button>
 	</div>
	<div class="post-form__row row memory-form__info">
		<div class="post-form__col col-md-6 col-xs-12">
			<input class="post-form__input memory-form__input" type="text" placeholder="Ваше имя">
		</div>
		<div class="post-form__col col-md-6 col-xs-12">
			<input class="post-form__input memory-form__input" type="text" placeholder="Никнейм">
		</div>
	</div>
	<div class="post-form__row row memory-form__info">
		<div class="post-form__col col-md-6 col-xs-12">
			<div class="select">
				<select name="center" id="years" style="width: 100%" class="js-select">
					<option value="1">Центральный</option>
					<option value="2">2017</option>
					<option value="3">2016</option>
					<option value="4">2015</option>
					<option value="5">2014</option>
				</select>
			</div>
		</div>
		<div class="post-form__col col-md-6 col-xs-12">
			<input class="post-form__input memory-form__input" type="text" placeholder="Email">
		</div>
	</div>
	<div class="post-form__row row memory-form__info">
		<div class="post-form__col col-md-6 col-xs-12">
			<input class="post-form__input memory-form__input" type="text" placeholder="City">
		</div>
		<div class="post-form__col col-md-6 col-xs-12">
			<input class="post-form__input memory-form__input" type="text" placeholder="Phone">
		</div>
	</div>
</form>
 <form class="post-form memory-candle__form memory-form">
	<div class="memory-form__title-block memory-form__title_bordered">
		<h4 class="memory-form__title title-sm">
			Личная информация
		</h4>
 		<button type="submit" class="memory-form__btn btn">
 			Сохранить изменения
 		</button>
 	</div>
	<div class="post-form__row row memory-form__info">
		<div class="post-form__col col-md-6 col-xs-12">
			<input class="post-form__input memory-form__input" type="text" placeholder="City">
		</div>
		<div class="post-form__col col-md-6 col-xs-12">
			<input class="post-form__input memory-form__input" type="text" placeholder="Phone">
		</div>
	</div>
	<!-- <div class="post-form__row row">
		<div class="post-form__col col-md-12">
			<div class="form-radio memory-form__radio">
				<div class="form-radio__radio">
					<input type="radio" id="1" name="memory-candle">
					<label for="1">100 ₽ - 1 Месяц</label>
				</div>
				<div class="form-radio__radio">
					<input type="radio" id="2" name="memory-candle" checked>
					<label for="2">500 ₽- 1 Год</label>
				</div>
				<div class="form-radio__radio">
					<input type="radio" id="3" name="memory-candle">
					<label for="3">1 000 ₽ - Навсегда</label>
				</div>
			</div>
		</div>
	</div> -->
	<!-- <div class="post-form__row row memory-form__message">
		<div class="post-form__col col-md-6 col-xs-12">
			<label for="">Введите свое имя, чтобы оно отображалось в сообщении</label>
			<input class="post-form__input memory-form__input" type="text" id="name">
		</div>
		<div class="post-form__col col-md-12 col-xs-12">
			<label for="message">Ваш отзыв</label>
			<textarea class="post-form__textarea memory-form__textarea" id="message"></textarea>
		</div>
		<div class="post-form__col col-md-12 col-xs-12">
			<label class="memory-form__checkbox">
				<input type="checkbox">
				<div class="memory-form__checkbox-text">
					<span class="check fa fa-check"></span>
					Пожалуйста, поставьте галочку здесь, чтобы получить одноразовое электронное письмо за неделю до годовщины
				</div>
			</label>
		</div>
	</div>
	<h4 class="memory-form__title title-sm memory-form__title_bordered">
		Способ оплаты
	</h4>
	<div class="post-form__row row">
		<div class="post-form__col col-md-12">
			<div class="form-radio memory-form__radio">
				<div class="form-radio__radio">
					<input type="radio" id="1" name="memory-pay">
					<label for="1">Visa / Master card</label>
				</div>
				<div class="form-radio__radio">
					<input type="radio" id="2" name="memory-pay" checked>
					<label for="2">Сбербанк онлайн</label>
				</div>
				<div class="form-radio__radio">
					<input type="radio" id="3" name="memory-pay">
					<label for="3">Яндекс деньги</label>
				</div>
			</div>
		</div>
	</div> -->
</form>