<div class="choice-price">
	<div class="choice-price__container container">
		<div class="row">
			<div class="col-md-12">
				<div class="choice-price__wrap">
					<h2 class="choice-price__title title-l">Дополнительные услуги</h2>
					<div class="choice-price__description">Подзаголовок может быть тут</div>
					<ul class="choice-price__list">
						<li class="choice-price__list-title"> <span class="choice-price__lef-title">Наименование услуги</span> <span class="choice-price__right-title">Стоимость, ₽</span> </li>
						<li class="choice-price__item"> <span class="choice-price__lef-col">Название услуги может быть длинным</span> <span class="choice-price__right-col">1 000</span> </li>
						<li class="choice-price__item"> <span class="choice-price__lef-col">Название услуги 2</span> <span class="choice-price__right-col">2 000</span> </li>
						<li class="choice-price__item"> <span class="choice-price__lef-col">Наименование третьей дополнительной услуги еще длиннее</span> <span class="choice-price__right-col">3 500</span> </li>
						<li class="choice-price__item"> <span class="choice-price__lef-col">Дополнительная услуга 4</span> <span class="choice-price__right-col">10 000</span> </li>
						<li class="choice-price__item"> <span class="choice-price__lef-col">Название услуги может быть длинным</span> <span class="choice-price__right-col">500</span> </li>
						<li class="choice-price__item"> <span class="choice-price__lef-col">Название услуги 6</span> <span class="choice-price__right-col">4 500</span> </li>
						<li class="choice-price__item"> <span class="choice-price__lef-col">Наименование третьей доп услуги 7</span> <span class="choice-price__right-col">1 000</span> </li>
						<li class="choice-price__item"> <span class="choice-price__lef-col">Дополнительная услуга 8</span> <span class="choice-price__right-col">5 000</span> </li>
						<li class="choice-price__item"> <span class="choice-price__lef-col">Услуга 9</span> <span class="choice-price__right-col">1 000</span> </li>
						<li class="choice-price__item"> <span class="choice-price__lef-col">Еще одна услуга</span> <span class="choice-price__right-col">300</span> </li>
					</ul>
					<div class="visitors"> <button class="visitors__print-btn" type="button">
						 <span>{{ mixins.icon('printer') }}</span>
						 Распечатать
						 </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>