<div class="choice-slider">
	<!-- begin slider -->
	<div class="choice-slider__wrap">
		<h1 class="choice-slider__title title-l">Выбор кладбища</h1>
		<p> Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой
			то текст </p>
		<div class="choice__slider slider">
			<div class="slider__for js-slider-for">
				<div class="slider__slide js-lazy" data-src="img/hall.png">
					<h4 class="slider__title title-s">Название кладбища</h4>
				</div>
				<div class="slider__slide js-lazy" data-src="img/hall.png">
					<h4 class="slider__title title-s">Название кладбища</h4>
				</div>
				<div class="slider__slide js-lazy" data-src="img/hall.png">
					<h4 class="slider__title title-s">Название кладбища</h4>
				</div>
				<div class="slider__slide js-lazy" data-src="img/hall.png">
					<h4 class="slider__title title-s">Название кладбища</h4>
				</div>
				<div class="slider__slide js-lazy" data-src="img/hall.png">
					<h4 class="slider__title title-s">Название кладбища</h4>
				</div>
				<div class="slider__slide js-lazy" data-src="img/hall.png">
					<h4 class="slider__title title-s">Название кладбища</h4>
				</div>
				<div class="slider__slide js-lazy" data-src="img/hall.png">
					<h4 class="slider__title title-s">Название кладбища</h4>
				</div>
				<div class="slider__slide js-lazy" data-src="img/hall.png">
					<h4 class="slider__title title-s">Название кладбища</h4>
				</div>
			</div>
			<div class="slider__nav js-slider-nav">
				<div class="slider__slide-small js-lazy" data-src="img/hall.png"></div>
				<div class="slider__slide-small js-lazy" data-src="img/hall.png"></div>
				<div class="slider__slide-small js-lazy" data-src="img/hall.png"></div>
				<div class="slider__slide-small js-lazy" data-src="img/hall.png"></div>
				<div class="slider__slide-small js-lazy" data-src="img/hall.png"></div>
				<div class="slider__slide-small js-lazy" data-src="img/hall.png"></div>
				<div class="slider__slide-small js-lazy" data-src="img/hall.png"></div>
				<div class="slider__slide-small js-lazy" data-src="img/hall.png"></div>
			</div>
		</div>
	</div>
	<!-- end slider -->
</div>