<!-- begin agents -->
<div class="agencies">
	<div class="agencies__container container">
		{% for i in [1,2,3] %}
		<div class="agencies__row row">
			{% for i in [1,2] %}
			<div class="agencies__col col-md-6">
				<!-- begin agency -->
				<div class="agency">
					<div class="agency__head">
						<div class="agency__logo">
							<img src="./img/map-img.png" alt="img">
						</div>
						<div class="agency__link">
							<a href="#" class="btn btn_small btn_bold">Перейти<i class="fi flaticon-arrows"></i></a>
						</div>
						<div class="agency__rating">
							<span class="ratings">
								<span class="fi flaticon-favorite"></span>
	                            <span class="fi flaticon-favorite"></span>
	                            <span class="fi flaticon-favorite"></span>
	                            <span class="fi flaticon-favorite"></span>
	                            <span class="fi flaticon-favorite no"></span>
	                            <span class="ratings__appraisal">4.0</span>
                            </span>
						</div>
					</div>
					<div class="agency__content">
						<h5 class="agency__title">1. Название компании</h5>
						<div class="agency__contacts">
							<div class="row">
								<div class="col-md-6">
									<div class="contacts-item"><i class="fa fa-map-marker"></i>Хабаровск, Гоголя, 8</div>
									<div class="contacts-item"><i class="fi flaticon-black"></i> dmitryz5700@gmail.com</div>
								</div>
								<div class="col-md-6">
									<div class="contacts-item"><i class="fi flaticon-technology"></i>8 (111) 123 123</div>
									<div class="contacts-item"><i class="fi flaticon-technology"></i>8 (111) 123 123</div>
									<div class="contacts-item"><i class="fi flaticon-clock"></i>С 7.00 до 21.00, без выходных</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end agency -->
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>
<!-- end agents -->