<!-- begin check-list -->
<div class="check-list">
	<div class="check-list__container container">
		<h2 class="check-list__title-l title-l">Чек-лист</h2>
		<div class="check-list__description">Подзаголовок блока будет тут</div>
		<div class="check-list__row row">
			<div class="check-list__col col-md-6 col-sm-6">
				{% for i in range(1, 6) -%}
				 <div class="check-item">
				 	<div class="check-item__icon">{{ mixins.icon('check' )}}</div>
				 	<div class="check-item__wrap">
				 		<div class="check-item__title">Пожелание {{ i }}</div>
				 		<p>Описание пожеланию, соответствие (две-три строки текста будет тут Описание пожеланию, соответствие (две-три строки текста будет тутОписание пожеланию, соответствие (две-три строки текста будет тут</p>
				 	</div>
				 </div>
				{%- endfor %}
			</div>
			<div class="check-list__col col-md-6 col-sm-6">
				<div class="check-list__img">
					<img class="js-lazy" data-src="./img/check-list-img.png" alt="img">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end check-list -->