<!-- begin expenses -->
<div class="expenses">
	<div class="expenses__container container">
		<h3 class="expenses__title-l title-l">Затраты на похороны</h3>
		<div class="expenses__description">Средние цены по Хабаровску</div>
		<div class="pricing-2">
		    <div class="col-md-4 col-sm-4 no-padding">
		        <div class="plan">
		            <div class="plan-title">Basic</div>
		            <ul>
		                <li>Hearse and attendants at the funeral</li>
		                <li>Provision of advice on all matters relating to the funeral</li>
		                <li>One following limousine</li>
		                <li>A distinctive solid wood coffin, lined & fitted (sides, lid and mouldings)</li>
		            </ul>
		            <div class="plan-price">399<span>99</span>₽</div>
		            <a href="#" class="btn btn_dark btn padding-horizontal-40">Choose Plan</a>
		        </div>
		    </div>
		    <div class="col-md-4 col-sm-4 popular no-padding">
		        <div class="plan">
		            <div class="plan-title">Business</div>
		            <ul>
		                <li>Hearse and attendants at the funeral</li>
		                <li>Provision of advice on all matters relating to the funeral</li>
		                <li>One following limousine</li>
		                <li>A distinctive solid wood coffin, lined & fitted (sides, lid and mouldings)</li>
		            </ul>
		            <div class="plan-price">499<span>99</span>₽</div>
		            <a href="#" class="btn btn-default btn-md padding-horizontal-40">Choose Plan</a>
		        </div>
		    </div>
		    <div class="col-md-4 col-sm-4 no-padding">
		        <div class="plan">
		            <div class="plan-title">Ultimate</div>
		            <ul>
		                <li>Hearse and attendants at the funeral</li>
		                <li>Provision of advice on all matters relating to the funeral</li>
		                <li>One following limousine</li>
		                <li>A distinctive solid wood coffin, lined & fitted (sides, lid and mouldings)</li>
		            </ul>
		            <div class="plan-price">599<span>99</span>₽</div>
		            <a href="#" class="btn btn_dark btn padding-horizontal-40">Choose Plan</a>
		        </div>
		    </div>
		</div>
	</div>
</div>
<!-- end expenses -->
