<div class="first-section">
    <div class="container first-section__container">
        <div class="first-section__body">
            <div class="section-head first-section__head text-right">
                <h1 class="title-l first-section__title">Ритуальные услуги</h1>
            </div>
            <div class="first-section__img">
                <img class="js-lazy" data-src="./img/ritual-agent.png" alt="img">
            </div>
            <div class="first-section__text">
                <p class="mob-hide">Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст</p>
                <p>тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст</p>
            </div>
        </div>
    </div>
</div>