<div class="bg-high js-lazy" data-src="./img/grief/grief_bg.jpg">
    <div class="page-head">
        <div class="container page-head__container">
            <ul class="bcrumbs page-head__bcrumbs">
                <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
                <li><a href="#">Obituaries</a></li>
                <li>Past</li>
            </ul>
        </div>
    </div>
    <div class="grief">
        <div class="container grief__container">
            <div class="section-head grief__head text-center">
                <h1 class="title-l grief__title">Если случилось горе</h1>
                <p class="description grief__description">Подзаголовок страницы будет тут</p>
            </div>
            <div class="grief__body">
                <div class="grief__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum</p>
                </div>
                <div class="grief__img">
                    <img class="js-lazy" data-src="./img/grief/grief_img.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>