<!-- begin pages -->
<div class="pages">
    <div class="pages__container container">
        <div class="row">
            <aside class="col-md-3 col-sm-5">
                <div class="links">
                    <a href="#">Описание <i class="fi flaticon-arrows-1"></i></a>
                    <a class="active" href="#">О компании <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши услуги, тарифы <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши сотрудники <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши контакты <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Карточка мероприятия <i class="fi flaticon-arrows-1"></i></a>
                </div>
            </aside>
            <div class="col-md-9 col-sm-7">
                <!-- begin wind -->
                <div class="wind">
                    {{ mixins.windHead('Ритуальный агент') }}
                    <p>С потерей любимого человека трудно принять тот факт, что его нет больше рядом, и еще труднее взять себя в руки, чтобы прощаться с ним достойно. Мы с пониманием относимся к вашему горю и готовы оказать помощь.</p>
                    <p>В спектр услуг ритуального агентства «Диорама» входят следующие обязанности:</p>
                    <ul class="wind__list">
                        <li>реализация перевозки тела в покойницкую и на кладбище;</li>
                        <li>приобретение вещей для умершего человека и их доставка;</li>
                        <li>приобретение гроба и других панихидных атрибутов;</li>
                    </ul>
                    {{ mixins.readAll(null, 'mob-hide') }}
                    <div class="wind__bg" style="background-image: url(./img/wind-bg.jpg);"></div>
                </div>
                <!-- end wind -->
            </div>
        </div>
    </div>
</div>
<!-- end pages -->

<!-- begin pages -->
<div class="pages">
    <div class="pages__container container">
        <div class="row">
            <aside class="col-md-3 col-sm-5">
                <div class="links">
                    <a href="#">Описание <i class="fi flaticon-arrows-1"></i></a>
                    <a class="active" href="#">О компании <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши услуги, тарифы <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши сотрудники <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши контакты <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Карточка мероприятия <i class="fi flaticon-arrows-1"></i></a>
                </div>
            </aside>
            <div class="col-md-9 col-sm-7">
                <!-- begin wind -->
                <div class="wind">
                    {{ mixins.windHead('Ритуальный агент') }}
                    <!-- begin about-agency -->
                    <div class="about-agency">
                        <div class="about-agency__row row">
                            <div class="about-agency__col col-md-4">
                                <div class="about-agency__info">
                                    <div class="about-agency__info-wrap">
                                        <div class="about-agency__head">
                                            <div class="about-agency__logo"> <img src="./img/map-img.png" alt="img"> </div>
                                            <div class="about-agency__rating"> 
                                                <span class="ratings">
                                                    <span class="fi flaticon-favorite"></span>
                                                    <span class="fi flaticon-favorite"></span>
                                                    <span class="fi flaticon-favorite"></span>
                                                    <span class="fi flaticon-favorite"></span>
                                                    <span class="fi flaticon-favorite no"></span>
                                                    <span class="ratings__appraisal">4.0</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="about-agency__contact">
                                            <p>8 (111) 123 123 </p>
                                            <p>С 7.00 до 21.00, без выходных </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="about-agency__col col-md-8">
                                <h3 class="about-agency__title-s title-s">Название компании</h3>
                                <p>Южный Ангел с Вами</p>
                                <p>Предварительные выводы неутешительны: новая модель организационной деятельности позволяет выполнить важные задания по разработке стандартных подходов! Равным образом, синтетическое тестирование не дает нам иного выбора, кроме определения форм воздействия. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности прекрасно подходит для реализации кластеризации усилий. Многие известные </p>
                            </div>
                        </div>
                    </div>
                    <!-- end about-agency -->
                    {{ mixins.readAll(null, 'mob-hide') }}
                    <div class="wind__bg" style="background-image: url(./img/wind-bg.jpg);"></div>
                </div>
                <!-- end wind -->
            </div>
        </div>
    </div>
</div>
<!-- end pages -->

<!-- begin pages -->
<div class="pages">
    <div class="pages__container container">
        <div class="row">
            <aside class="col-md-3 col-sm-5">
                <div class="links">
                    <a href="#">Описание <i class="fi flaticon-arrows-1"></i></a>
                    <a class="active" href="#">О компании <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши услуги, тарифы <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши сотрудники <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши контакты <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Карточка мероприятия <i class="fi flaticon-arrows-1"></i></a>
                </div>
            </aside>
            <div class="col-md-9 col-sm-7">
                <!-- begin wind -->
                <div class="wind">
                    {{ mixins.windHead('Ритуальный агент') }}
                    
                </div>
                <!-- end wind -->
            </div>
        </div>
    </div>
</div>
<!-- end pages -->

<!-- begin pages -->
<div class="pages">
    <div class="pages__container container">
        <div class="row">
            <aside class="col-md-3 col-sm-5">
                <div class="links">
                    <a href="#">Описание <i class="fi flaticon-arrows-1"></i></a>
                    <a class="active" href="#">О компании <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши услуги, тарифы <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши сотрудники <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши контакты <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Карточка мероприятия <i class="fi flaticon-arrows-1"></i></a>
                </div>
            </aside>
            <div class="col-md-9 col-sm-7">
                <!-- begin wind -->
                <div class="wind">
                    {{ mixins.windHead('Ритуальный агент') }}
                    
                </div>
                <!-- end wind -->
            </div>
        </div>
    </div>
</div>
<!-- end pages -->