<!-- begin pages -->
<div class="pages">
    <div class="pages__container container">
        <div class="row">
            <aside class="col-md-3 col-sm-5">
                <div class="links">
                    <a href="#">Описание <i class="fi flaticon-arrows-1"></i></a>
                    <a class="active" href="#">О компании <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши услуги, тарифы <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши сотрудники <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши контакты <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Карточка мероприятия <i class="fi flaticon-arrows-1"></i></a>
                </div>
            </aside>
            <div class="col-md-9 col-sm-7">
               
            </div>
        </div>
    </div>
</div>
<!-- end pages -->