<!-- begin top -->
<div class="top">
	<div class="top__container container">
		<h3 class="top__title-l title-l">ТОП компаний</h3>
		<div class="top__description">Подзаголовок блока будет тут</div>
		<div class="top__row row">
			<div class="top__col col-md-9">
				{% for i in range(0, 3) -%}
				<!-- begin agency -->
				<div class="top__agency agency">
				    <div class="agency__table">
				        <div class="agency__table-cell">
				            <div class="agency__logo agency__logo_md">
				                <img class="js-lazy" data-src="./img/map-img.png" alt="img">
				            </div>
				            <div class="agency__stars">
				                <span class="ratings">
				                    <span class="fi flaticon-favorite"></span>
				                    <span class="fi flaticon-favorite"></span>
				                    <span class="fi flaticon-favorite"></span>
				                    <span class="fi flaticon-favorite"></span>
				                    <span class="fi flaticon-favorite no"></span>
				                    <span class="ratings__appraisal">4.0</span>
				                </span>
				            </div>
				        </div>
				        <div class="agency__table-cell agency__table-cell_lg">
				        	<div class="agency__top">
				        		<div class="agency__title">1. Название компании</div>
				        		<div class="agency__btn">
				        			<a href="#" class="btn btn_small">Перейти<i class="fi flaticon-arrows"></i></a>
				        		</div>
				        	</div>
				        	<div class="agency__row">
				        		<div class="agency__table-cell">
				        		    <div class="contacts-item"><i class="fa fa-map-marker"></i>Хабаровск, Гоголя, 8</div>
				        		    <div class="contacts-item"><i class="fi flaticon-black"></i>dmitryz5700@gmail.com</div>
				        		</div>
				        		<div class="agency__table-cell agency__table-cell_mob">
				        		    <div class="contacts-item"><i class="fi flaticon-technology"></i>8 (111) 123 123</div>
				        		    <div class="contacts-item"><i class="fi flaticon-clock"></i>С 7.00 до 21.00, без выходных</div>
				        		</div>	
				        	</div>
				        </div>
				    </div>
				</div>
				<!-- end agency -->
				{%- endfor %}
				<div class="banner"> <img class="js-lazy" data-src="img/banner1.png" alt="banner"> </div>
			</div>
			<div class="col-md-3">
				<div class="banner"> <img class="js-lazy" data-src="img/banner.png" alt="banner"> </div>
			</div>
		</div>
	</div>
</div>
<!-- end top -->
<div class="container"><div class="bottom-image"> <img class="js-lazy" data-src="img/rose-angel.png" alt="rose-angel"> </div></div>