<div class="m5-steps">
	<div class="container m5-steps__container">
		<div class="section-head m5-steps__head text-center">
			<h3 class="title-l m5-steps__title">Новая страница памяти - это просто</h3>
			<p class="description m5-steps__desription">Всего 5 шагов:</p>
		</div>
		<div class="m5-steps__text text-center">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp
		</div>
		<div class="top-steps m5-steps__steps">
			<div class="top-steps__steps-list">
				<div class="steps top-steps__steps">
					<div class="steps__box top-steps__item">
						<div class="steps__number top-steps__number">1</div>
						<div class="steps__text top-steps__text">
							<span class="steps__description top-steps__description">Шаг 1</span>
							<p>
								Проверьте, что необходимую Вам страницу еще не создали.
							</p>
						</div>
					</div>
					<div class="steps__box top-steps__item">
						<div class="steps__number top-steps__number">2</div>
						<div class="steps__text top-steps__text">
							<span class="steps__description top-steps__description">Шаг 2</span>
							<p>
								Зарегистрируйтесь как ответственное лицо по номеру телефона.
							</p>
						</div>
					</div>
					<div class="steps__box top-steps__item">
						<div class="steps__number top-steps__number">3</div>
						<div class="steps__text top-steps__text">
							<span class="steps__description top-steps__description">Шаг 3</span>
							<p>
								Заполните основные данные об усопшем, добавьте фото.
							</p>
						</div>
					</div>
					<div class="steps__box top-steps__item">
						<div class="steps__number top-steps__number">4</div>
						<div class="steps__text top-steps__text">
							<span class="steps__description top-steps__description">Шаг 4</span>
							<p>
								Первично наполните страницу памяти. (Некролог, карточка мероприятия)
							</p>
						</div>
					</div>
					<div class="steps__box top-steps__item">
						<div class="steps__number top-steps__number">5</div>
						<div class="steps__text top-steps__text">
							<span class="steps__description top-steps__description">Шаг 5</span>
							<p>
								Добавьте реквизиты, чтобы появилась возможность получать помощь.
							</p>
						</div>
					</div>
				</div>
				<div class="top-steps__bg mob-hide">
					<img class="js-lazy" data-src="./img/5-steps-bg.png" alt="img">
				</div>
			</div>
		</div>
	</div>
	<div class="container m5-steps__container text-center">
		<a href="#" class="btn">Создать страницу</a>
	</div>
</div>