<div class="commemorate">
	<div class="section-head commemorate__head text-center">
		<h3 class="title-l commemorate__title">Почтить память</h3>
		<p class="description commemorate__desription">Вы можете зажечь свечу памяти в этом разделе.....</p>
	</div>
	<div class="commemorate__text text-center">
		<p>
			Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то текст Тут какой-то текст 
			Тут какой-то текст Тут какой-то 
		</p>
	</div>
	<div class="container commemorate__container text-center js-lazy" data-src="background-image: url(./img/commemorate-bg.png)">    
		<a href="#" class="btn">Зажечь свечу</a>
	</div>
</div>