<div class="find-necrology">
    
        <div class="find-necrology__head text-center">
            <h3 class="title-l find-necrology__title">Найти и оставить некролог</h3>
            <p>Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то </p>
            
        </div>
    <div class="container find-necrology__container text-center"  style="background-image: url(./img/find-necrology-bg.png)">    
        <a href="#" class="btn">Найти некролог</a>
        <a href="#" class="btn">Написать некролог</a>
    </div>
</div>