<div class="order-flowers" style="background-image: url(./img/order-flowers-bg.png)">
		<div class="order-flowers__head text-center">
			<h3 class="title-l order-flowers__title">Заказать цветы</h3>
			<p>
				Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то
			</p>
		</div>
	<div class="container order-flowers__container text-center">    
		<a href="#" class="btn btn_big"><span><i class="fi flaticon-nature"></i></span> Заказать доставку цветов</a>
		<a href="#" class="btn btn_big"><span><i class="fi flaticon-nature"></i></span> Заказать благоустройство могилы</a>
	</div>
</div>
<div class="bottom-text">
	<div class="container">
		<div class="drop js-drop">
			<div class="drop__wrap js-drop-wrap">
				<div class="drop__show js-drop-shows">
					<h3 class="drop__title">Заголовок текста для СЕО</h3>
					<p>
						В нашей торгово-производственной фирме Студия Ангел вы можете воспользоваться услугами ритуального агента, который возьмет на себя все обязанности по подготовке и организации похорон ваших близких людей.
					</p>
					<p>
						В нашей торгово-производственной фирме Студия Ангел вы можете воспользоваться услугами ритуального агента, который возьмет на себя все обязанности по подготовке и организации похорон ваших близких людей.
					</p>
					<div class="our-contacts__list">
						<ul>
							<li>подготовку усопшего;</li>
							<li>получение необходимых;</li>
							<li>выбор и доставку;</li>
							<li>выбор места захоронения;</li>
						</ul>
					</div>
				</div>
				<div class="drop__hidden js-drop-hidden">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
			<div class="price-btn mob-hide">
			{{ mixins.readAll(null, 'mob-hide') }}
			</div>
		</div>
	</div>
	<div class="container"><div class="bottom-image"> <img src="img/rose-angel.png" alt="rose-angel"> </div>
	</div>
</div>