<div class="visitors">
    <button class="visitors__print-btn" type="button">
        <span>{{ mixins.icon('printer') }}</span>
        Распечатать
    </button>
    <ul class="counter">
        <li class="counter__item">
            Просмотры:
        </li>
        <li class="counter__item counter__item_icon">
            {{ mixins.icon('eye') }}
        </li>
        <li class="counter__item">
            Всего 100
        </li>
        <li class="counter__item">
            |
        </li>
        <li class="counter__item">
            За месяц 15
        </li>
    </ul>
</div>