<form class="post-form">
	<div class="post-form__row row">
		<div class="post-form__col col-md-6">
			<input class="post-form__input" type="text" id="name" value="" name="name">
			<label class="post-form__label" for="name">Ваше имя</label>
		</div>
		<div class="post-form__col col-md-6">
			<input class="post-form__input" type="text" id="email" value="" name="email">
			<label class="post-form__label" for="email">Email</label>
		</div>
		<div class="post-form__col col-md-12">
			<textarea class="post-form__textarea" id="message" name="message"></textarea>
			<label class="post-form__label" for="message">Комментарий</label>
		</div>
	</div>
	<button type="submit" class="btn btn-md">Отправить</button>
</form>