<div class="wrapper">
    <div class="clearfix"></div>
    <div class="page_head ">
        <div class="container">
            <ul class="bcrumbs pull-left">
                <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
                <li><a href="#">Obituaries</a></li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
    <div class="blog-content">
        <div class="container">
            <div class="blog-content_wrap">
                <div class="post-wrap">
                    <div class="section-head text-center">
                        <h3 class="title-m">Название статьи будет тут</h3>
                    </div>
                    <div class="row">
                        <aside class="col-md-3 col-sm-5 sidebar padding-aside bg-color">
                            <div class="side-widget">
                                <h5 class="title-s">Поиск по статьям</h5>
                                <form class="search color">
                                    <input type="search" placeholder="Поиск">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div class="side-widget">
                                <form class="side-form" action="/">
                                    <h5 class="title-s">Рубрики</h5>
                                    <ul class="side-cat">
                                        <li>
                                            <div class="cbox showin">
                                                <input class="input-checkbox" type="checkbox" name="verify" id="cbox1">
                                                <label for="cbox1">Arranging a funeral (5)</label>
                                            </div>
                                            <a class="hidein" href="#">
                                                <i class="fa fa-angle-right"></i>
                                            Arranging a funeral (5)
                                            </a>
                                        </li>
                                        <li>
                                            <div class="cbox showin">
                                                <input class="input-checkbox" type="checkbox" name="verify" id="cbox2">
                                                <label for="cbox2">Animals (10)</label>
                                            </div>
                                            <a class="hidein" href="#">
                                                <i class="fa fa-angle-right"></i>
                                            Animals (10)
                                            </a>
                                        </li>
                                        <li>
                                            <div class="cbox showin">
                                                <input class="input-checkbox" type="checkbox" name="verify" id="cbox3">
                                                <label for="cbox3">Assisted dying (0)</label>
                                            </div>
                                            <a class="hidein" href="#">
                                                <i class="fa fa-angle-right"></i>
                                            Assisted dying (0)
                                            </a>
                                        </li>
                                        <li>
                                            <div class="cbox showin">
                                                <input class="input-checkbox" type="checkbox" name="verify" id="cbox4">
                                                <label for="cbox4">Assisted Suicide (1)</label>
                                            </div>
                                            <a class="hidein" href="#">
                                                <i class="fa fa-angle-right"></i>
                                            Assisted Suicide (1)
                                            </a>
                                        </li>
                                        <li>
                                            <div class="cbox showin">
                                                <input class="input-checkbox" type="checkbox" name="verify" id="cbox5">
                                                <label for="cbox5">Attitude to dead bodies (30)</label>
                                            </div>
                                            <a class="hidein" href="#">
                                                <i class="fa fa-angle-right"></i>
                                            Attitude to dead bodies (30)
                                            </a>
                                        </li>
                                        <li>
                                            <div class="cbox showin">
                                                <input class="input-checkbox" type="checkbox" name="verify" id="cbox6">
                                                <label for="cbox6">Attitude to death (10)</label>
                                            </div>
                                            <a class="hidein" href="#">
                                                <i class="fa fa-angle-right"></i>
                                            Attitude to death (10)
                                            </a>
                                        </li>
                                        <li>
                                            <div class="cbox showin">
                                                <input class="input-checkbox" type="checkbox" name="verify" id="cbox7">
                                                <label for="cbox7">Atheism (4)</label>
                                            </div>
                                            <a class="hidein" href="#">
                                                <i class="fa fa-angle-right"></i>
                                            Atheism (4)
                                            </a>
                                        </li>
                                        <li>
                                            <div class="cbox showin">
                                                <input class="input-checkbox" type="checkbox" name="verify" id="cbox8">
                                                <label for="cbox8">Bastards (5)</label>
                                            </div>
                                            <a class="hidein" href="#">
                                                <i class="fa fa-angle-right"></i>
                                            Bastards (5)
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="side-btn">
                                        <button class="btn">Применить</button>
                                    </div>
                                </form>
                            </div>
                            <div class="side-widget width-img-angel hidein">
                                <img src="img/angel-statue.jpg" alt="angel-statue">
                            </div>
                            <div class="side-widget hidein">
                                <h5 class="title-s">Недавние публикации</h5>
                                <ul class="side-posts">
                                    <li class="margin-bottom-30">
                                        <div class="posts-image" style="background-image: url(img/aside-post-img.png);">
                                        </div>
                                        <p>
                                            Что такое сглаз и как от него избавится?
                                        </p>
                                        <span class="meta">Имя Фаилия</span>
                                    </li>
                                    <li class="margin-bottom-30">
                                        <div class="posts-image" style="background-image: url(img/post-img.png);">
                                        </div>
                                        <p>
                                            Что снится к любви и наслаждению, а что – к разлуке и печали
                                        </p>
                                        <span class="meta">Имя Фаилия</span>
                                    </li>
                                    <li>
                                        <div class="posts-image" style="background-image: url(img/aside-post-img.png);">
                                        </div>
                                        <p>
                                            Что такое сглаз и как от него избавится?
                                        </p>
                                        <span class="meta">Имя Фаилия</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="side-widget hidein">
                                <div class="banner">
                                    <img src="img/banner.png" alt="banner">
                                </div>
                            </div>
                        </aside>
                        <div class="col-md-9 col-sm-7">
                            <div class="article-box">
                                <article>
                                    <div class="post-thumb"><img src="img/blog-img.jpg" class="img-responsive" alt="" /></div>
                                    <div class="post-meta">
                                        <span><i class="fa fa-calendar"></i> 13.03.18</span>
                                        <span><i class="fi fi flaticon-people"></i> Имя Фамилия</span>
                                        <span><i class="fa fa-comments-o"></i> Рубрика</span>
                                    </div>
                                    <hr>
                                    <p>
                                        I stumbled upon an article entitled Miscarriage and the Confusion of Sinful Grief that was posted at the Reformed Christian website "The Gospel Coalition".Jamie Carlson (who recently miscarried) wrote the post as a reflection on sin and grief.
                                    </p>
                                    <blockquote>
                                        <span class="quote">{{ mixins.icon('quote') }}</span>
                                        Цитата в таком виде: I think the purest of souls, those with the most fragile of hearts, must be meant for a short life. They can't be tethered or held in your palm.
                                    </blockquote>
                                    <p>
                                        This is not the first time the lack of sanitary conditions for moms at the Oscars has been made public either. In 2013, Adele told a reporter she couldn’t talk because she was.
                                    </p>
                                </article>     
                                <article>   
                                    <h5 class="title-s">Подзаголовок статьи</h5>
                                    <p>
                                        While the lack of sanitary pumping locations is a hurdle most moms encounter, especially when returning to work, it is a struggly most people assume that the Hollywood elite wouldn’t relate to. Time for the Oscars to start supporting moms especially, as we’ve seen from the red carpet, there’s going to be a lot of new fabulous celebrity moms at next year’s show.
                                    </p>
                                    <p>
                                        And that is how Spaghetti Toes Tumblr was born.
                                    </p>
                                    <p>
                                        You can visit the Tumblr page, which combines either things Martin or his wife have said to their toddler daughter or things that she has said to them.
                                    </p>
                                    <p>
                                        The playful designs soon took off and this allowed for Spaghetti Toes to become a book! However, we are most excited about the family’s flourishing Etsy shop.
                                    </p>
                                </article>
                            </div>
                            <div class="social-block">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5 pull-right">
                                        <!-- Start social -->
                                        {% include "partials/post/_social.html" %}
                                        <!-- End social -->
                                    </div>
                                </div>
                            </div>
                            <div class="single-meta">
                                <div class="row">
                                    <div class="col-md-8 col-sm-7 hidden-xs">
                                        <i class="flaticon-shop"></i> &nbsp;Tags: &nbsp;<a href="#">funeral</a>, <a href="#">memorial</a><span class="hidden-sm">, <a href="#">black</a>, <a href="#">roses</a></span>
                                    </div>
                                    <div class="col-md-4 col-sm-5">
                                        <div class="social pull-right">
                                            <!-- <a href="#"><i class="fi flaticon-social"></i></a>
                                            <a href="#"><i class="fi flaticon-social-1"></i></a>
                                            <a href="#"><i class="fi flaticon-play"></i></a>
                                            <a href="#"><i class="fi flaticon-vimeo"></i></a>
                                            <a href="#"><i class="fi flaticon-vimeo"></i></a>
                                            <a href="#"><i class="fi flaticon-vimeo"></i></a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="side-widget hidein">
                                <div class="banner">
                                    <img src="img/banner1.png" alt="banner">
                                </div>
                            </div>
                            <div class="related-comments facilities">
                                <h2>Комментарии (2)</h2>
                                <div class="team-info no-border">
                                    <div class="col-md-3">
                                        <div class="posts-image posts-image_mod" style="background-image: url(img/aside-post-img.png);">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="staff-title"><span>Имя Фамилия</span>13.03.18</div>
                                        <p class="padding-top-20 padding-bottom-15">I like to call Funeral Home my home. It was in Sun Prairie, Wisconsin where I graduated from high school in 1969 and lettered in football at Sun prairie High school.</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="team-info no-border">
                                    <div class="col-md-3">
                                        <div class="posts-image posts-image_mod" style="background-image: url(img/aside-post-img.png);">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="staff-title"><span>Имя Фамилия</span>13.03.18</div>
                                        <p class="padding-top-20 padding-bottom-15">Thank you for visiting Funeral Home. As a member of the family and leadership team, I want to make myself available to visit with you at your convenience for any need you may have.</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="blog-comment-form">
                                <h2>Оставить комментарий</h2>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" placeholder="Ваше имя">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" placeholder="Email">
                                        </div>
                                    </div>
                                    <textarea placeholder="Комментарий"></textarea>
                                    <button type="submit" class="btn btn-md padding-horizontal-40">Отправить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-image">
                        <img src="img/rose-angel.png" alt="rose-angel">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>