{% set servicesCards = [
    {
        img: 'associated-goods-1.png',
        title: 'Урны для праха'
    },
    {
        img: 'associated-goods-2.png',
        title: 'Гробы'
    },
    {
        img: 'associated-goods-3.png',
        title: 'Памятники для могилы'
    }
] %}



<div class="page-head">
    <div class="container page-head__container">
        <ul class="bcrumbs page-head__bcrumbs">
            <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
            <li><a href="#">Obituaries</a></li>
            <li>Past</li>
        </ul>
    </div>
</div>

<div class="goods-services">
    <div class="goods-services__head">
        <h3 class="goods-services__title">
            <span>Сопутствующие товары</span>
            Ритуальные услуги
        </h3>
        <p>
            Подзаголовок страницы
        </p>
    </div>

    <div class="goods-services__container container associated-goods">
        <div class="goods-services__row row">
            <div class="goods-services__col col-md-9 col-sm-9">
                <div class="goods-services__list">
                    {% for i in [1,2,3] %}
                
                        <div class="associated-goods__row row">
            
                            {% for item in servicesCards %}
                                
                            <div class="associated-goods__col col-md-4 col-sm-4">
                                <a href="#" class="associated-goods__card services-card">
                                    <div class="services-card__img">
                                        <img src="./img/{{item.img}}" alt="img">
                                    </div>
                                    <div class="services-card__title title-s">
                                        {{item.title}} (<span>5</span>)
                                    </div>
                                </a>
                            </div>
            
                            {% endfor %}
                            
                        </div>
        
                    {% endfor %}
                </div>
                <div class="banner"> <img src="img/banner1.png" alt="banner"> </div>
            </div>
            <div class="goods-services__col col-md-3 col-sm-3">
                    <div class="side-widget width-img-angel hidein margin-bottom-50"> <img src="img/angel-statue.jpg" alt="angel-statue"> </div>
                    <div class="contact-side text-center margin-bottom-30">
                        <div class="contact-side__text">Хотите добавиться?<span>Контакты</span></div>
                        <h6 class="contact-side__tel">+7 (421) 251-63-03</h6>
                        <p><i class="fi flaticon-black"></i> &nbsp;info@doverie27.ru</p>
                    </div>
                    <div class="banner"> <img src="img/banner.png" alt="banner"> </div>
            </div>
        </div>
        
        <div class="bottom-image">
                <img src="img/rose-angel.png" alt="rose-angel">
            </div>
    </div>
</div>