{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script type="text/javascript" src="js/app.js"></script>
    <script src="js/lib/vendor/jquery.min.js"></script>
    <script src="js/lib/vendor/bootstrap.min.js"></script>
    <script src="js/lib/vendor/slick/slick.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/froogaloop.js"></script>
    <script src="js/lib/vendor/lity/lity.min.js"></script>
    <script src="js/lib/main.js"></script>
    <script src="js/lib/mc/jquery.ketchup.all.min.js"></script>
    <script src="js/lib/mc/main.js"></script>
    <!-- END scripts -->

  </body>
</html>
