.blog-content_wrap
	color: $brown_orange
	padding-top: 35px
	+sm
		padding-top: 15px
		padding-bottom: 15px

.icon-house
	fill: $brown

.blog-content_wrap .section-head
	margin-bottom: 55px
	+sm
		margin-bottom: 15px

.blog-content_wrap .side-widget
	margin-bottom: 35px
	+sm
		margin-bottom: 0
		padding-bottom: 22px

.blog-content_wrap .side-cat
	color: $brown_orange

.blog-content_wrap article hr
	margin: 11px 0 22px

.bg-color
	+sm
		background-color: $white_brown_bg

.width-img-angel
	max-width: 292px
	font-size: 0
	+sm
		display: none
	img
		max-width: 100%

.posts-image
	position: absolute
	top: 0
	left: 0
	width: 70px
	height: 70px
	border-radius: 50%
	background-color: $white_brown_bg
	background-repeat: no-repeat
	background-size: cover
	background-position: 50% 50%

.bottom-image
	width: 100%
	font-size: 0
	img
		position: relative
		margin-top: -45px
		max-width: 100%
		z-index: -1
	+sm
		display: none	

.blog-content_wrap .post-meta span
	color: #9e9990
	&:not(:last-child)
		margin-right: 50px
		+sm
			font-size: 13px
			margin-right: 15px

.blog-content_wrap article .post-meta span i
	font-size: 13px
	color: #9e9990
	margin-right: 4px

.aside-position
	position: relative
	margin-top: -65px
	+md
		margin-top: -40px
	+sm
		margin-top: 0
		padding-top: 10px
		margin-bottom: 20px

.post-thumb
	margin-bottom: 14px

.color input
	color: $brown

.search .fa-search
	color: $brown

.sidebar .side-widget .color
	background-color: $gray_brown
	+sm
		background-color: $white
		border: 1px solid rgba(#cec1b2,1)
		border-radius: 3px

.color input:-ms-input-placeholder 
	color: $brown

.side-btn
	.btn
		min-width: 100px
		margin: 0 auto

.blog-content_wrap .side-widget h5
	margin-bottom: 40px
	padding-bottom: 0
	+sm
		margin-bottom: 16px

.artical-btn
	margin-bottom: 30px
	+sm
		margin-bottom: 15px

.blog-content_wrap .row article
	margin-bottom: 25px
	border-bottom: 1px solid $silver
	+sm
		margin-bottom: 15px

.blog-content_wrap .side-form .side-cat li
	margin-bottom: 20px
	+sm
		padding-left: 0

.side-form button
	display: none
	+sm
		display: block

.side-form .side-cat
	margin-bottom: 25px	

.side-form i
	+sm
		display: none

.blog-content_wrap article h4
	margin-top: 0

.blog-content_wrap article h4 a
	color: #61594e

.blog-content_wrap article h4 a:hover
	color: #61594e

.blog-content_wrap article p
	font-family: $tahoma
	color: $brown_orange
	font-size: 15px

.blog-content_wrap .side-widget .search input
	color: #62594f