.m5-steps
    padding: 50px 0 95px
    +sm
        padding: 15px 0 35px
    &__container
    &__head
        margin-bottom: 25px
    &__title
    &__text
        max-width: 780px
        margin: 0 auto
    &__steps
        padding-top: 40px
        +sm
            padding-top: 20px
        .steps
            margin-bottom: 35px
            +sm
                margin-bottom: 15px