.funeral
    &__head
        margin-bottom: 60px
        .section-head
            max-width: 970px
    &__text
        margin-bottom: 60px
        p
            max-width: 970px
            text-align: center
            margin: 0 auto
    &__map
        margin-bottom: 70px
    &__tile
        margin-bottom: 60px
    &__group
        .product-reviews__details
            visibility: visible
            opacity: 1
            font-weight: bold
            span
                color: $brown_orange
    &__item
        margin-bottom: 10px
    &__selects
        margin-bottom: 30px
        display: flex
        align-items: center
        justify-content: space-around
        +sm
            flex-direction: column
            .select
                margin-bottom: 20px
    .bottom-text
        p
            margin-bottom: 30px