.agent
	width: 100%
	table-layout: fixed
	display: table
	&__col-sm
		width: 160px
		vertical-align: middle
		display: table-cell
	&__col-md
		padding-left: 34px
		vertical-align: middle
		display: table-cell
	&__title
		margin: 0 auto 15px
		max-width: 107px
		color: #65594d
		font-family: $cormorant_infant
		font-size: 20px
		font-weight: 700
		text-align: center
		line-height: 1.1
	&__img
		margin: 0 auto
		width: 70px
		height: 70px
		border-radius: 50%
		background-color: #f3eee8
		background-position: 50% 50%
		background-size: cover
		display: block
	&__row
		margin: 0 -15px
		+clr
	&__col
		float: left
		width: 50%
		padding: 0 15px
		&:last-child
			text-align: right