
.select2-container--default
    .select2-results__options
        padding: 10px 55px 10px 25px
    .select2-results__option
        padding: 0
        line-height: 34px
        &:not(:last-child)
            border-bottom: 1px solid #f5f5f5
    .select2-results__option[aria-selected=true]
        background: none
    .select2-results__option--highlighted[aria-selected]
        background: none
        color: inherit
        text-decoration: underline
    .select2-dropdown
        border-radius: 0
        border: none
        box-shadow: 0px 2px 5.82px 0.18px rgba(0, 0, 0, 0.21)




.select
    width: 232px
    +sm
        width: 100%
    .select2-selection--single
        background-color: #efece6
        border: none
        height: 33px
        .select2-selection__rendered
            padding-left: 34px
            line-height: 33px
            color: $brown_orange
            +sm
                padding-left: 15px
        .select2-selection__arrow
            height: 31px
.select_sm-bordered
    .select2-selection--single
        +sm
            border: 1px solid #c0b1a1
    
.all-companies
    padding-top: 36px
    +sm
        padding-top: 10px
    &__tile,
    &__list
        margin-bottom: 60px
        +sm
            margin-bottom: 45px
    &__item
        margin-bottom: 10px
        +sm
            margin-bottom: 4px
    &__head
        margin-bottom: 43px
        +sm
            margin-bottom: 5px
    &__top
    &__title
        line-height: 0.9
        margin-bottom: 7px
    .side-block
        margin-bottom: 30px
        +sm
            padding-bottom: 12px
            border-bottom: 1px solid #c0b1a1
            margin-bottom: 15px
        h5
            margin-bottom: 12px
            border: none
    .side-form
        margin-bottom: 50px
        +sm
            padding-bottom: 12px
            margin-bottom: 0
        .title-m
            font-size: 30px
            font-weight: bold
            +sm
                font-size: 16px!important
        .title-s
            +sm
                font-size: 14px!important
        button
            display: block
    .rating-filter
        +sm
            .title-s
                margin-bottom: 12px
    .services-filter
        +sm
            .title-s
                margin-bottom: 12px
    .bottom-text
        margin-bottom: 40px
        +sm
            margin-bottom: 25px
    .read-all
        margin-bottom: 30px
.top-bar
    .shop-sort-wrap
        padding: 4px 17px 4px 28px
        background-color: $white_brown_bg
    .ps-options
        display: flex
        align-items: center
        margin-bottom: 0
        span
            width: auto
            margin-right: 22px
            font-size: 13px
            color: $brown_orange
    .ps-select
        background-color: #fff
        width: 90px
        height: 31px
        select
            color: $brown_orange
            font-size: 13px
            text-align: center
            padding: 0 39px
            height: 31px
        i
            line-height: 31px
    .shop-sort
        font-family: Flaticon
.companies-group
    +md
        .col-xs-6:nth-child(even)
            .companies-item
                margin-left: -15px
        .col-xs-6:nth-child(odd)
            .companies-item
                margin-right: -15px
.companies-item
    display: block
    padding: 7px 10px 25px
    &__wrap
        display: flex
        flex-direction: column
        align-items: flex-start
    &__text
        display: flex
        flex-direction: column
        align-items: flex-start
    &__name
        margin-bottom: 4px
        +sm
            order: 2
            margin-bottom: 15px
    &__type
        font-size: 14px
        color: #b4aa96
        margin-bottom: 20px
        +sm
            order: 1
            margin-bottom: 5px
    &__descr
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        margin-bottom: 16px
        flex-wrap: wrap
        +sm
            flex-direction: column
            align-items: flex-start
            order: 3
    &__region
        color: #b4aa96
        font-size: 12px
    &:hover
        box-shadow: 3px 3px 16px 0 rgba(0,0,0,.2)
        .product-reviews__details
            visibility: visible
            opacity: 1
    
    .btn
        order: 4
    .sf-thumb
        height: 152px
        line-height: 150px
        text-align: center
        border: 1px solid #e4e4e4
        width: 100%
        font-size: 0
        margin-bottom: 28px
        background-position: 50% 50%
        background-size: cover
        background-repeat: no-repeat
        +sm
            height: 130px
            line-height: 128px
            margin-bottom: 12px
        &__wrap
            display: inline-block
            vertical-align: middle
            line-height: 1
            max-height: 100%
        &:after
            display: none
        img
            max-height: 148px
            max-width: 100%
            display: block
            width: auto
            +sm
                max-height: 124px
    &_list
        margin-bottom: 16px
        padding: 10px
        &:last-child
            margin-bottom: 60px
        .companies-item__wrap
            flex-direction: row
            +sm
                flex-direction: column
        .companies-item__name
            margin-bottom: 2px
            +sm
                order: 1
        .companies-item__type
            margin-bottom: 22px
            +sm
                order: 2
        .companies-item__descr
            margin-bottom: 18px
            +sm
                flex-direction: row
        p
            line-height: 1.6
            margin-bottom: 25px
            +sm
                order: 3
        .sf-thumb
            max-width: 270px
            margin: 0 25px 0 0
            +sm
                width: 130px
                margin: 0 auto
                margin-bottom: 25px
    .product-reviews
        display: flex
        align-items: center
        margin-right: 5px
        +sm
            margin: 0 0 10px
        &__details
            visibility: hidden
            transition: opacity .4s, visibility .4s
            opacity: 0
            span
                font-size: 12px
                color: #c3beb6
            .icon-users
                fill: #c3beb6
                font-size: 10px
        .pr-ratings
            font-size: 0
            margin-right: 5px
            i
                font-size: 9px
                color: $brown_orange
                top: 0
                margin-right: 1px

.flaticon-favorite
    font-family: Flaticon
.rating-filter
    color: $brown_orange
    margin-bottom: 60px
    +sm
        padding-bottom: 12px
        border-bottom: 1px solid #c0b1a1
        margin-bottom: 15px
    &__wrap
        +sm
            columns: 2
            column-gap: 17px
    input
        margin-right: 19px
        appearance: none
        width: 9px
        height: 9px
        border-radius: 50%
        box-shadow: 0 0 0 2px $brown_orange
        &:checked
            border: 3px solid #fff
            background-color: $brown_orange
    &__radio:not(:last-child)
        margin-bottom: 32px
        +sm
            margin-bottom: 15px
    .pr-ratings
        margin-right: 0
        +sm
            i
                display: inline

.services-filter
    color: $brown_orange
    margin-bottom: 50px
    +sm
        padding-bottom: 15px
        border-bottom: 1px solid #c0b1a1
        margin-bottom: 11px
        .checkbox-f
            +sm
                display: inline-block
    &__wrap
        +sm
            columns: 2
            column-gap: 15px
.checkbox-f
    position: relative
    display: block
    width: 100%
    padding-left: 5px
    user-select: none
    &:not(:last-child)
        margin-bottom: 20px
        +sm
            margin-bottom: 10px
    input
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%)
    &__text
        position: relative
        padding-left: 45px
        padding-right: 20px
        display: flex
        align-items: center
        cursor: pointer
        +sm
            padding-left: 17px
            padding-right: 0
            font-size: 13px
        &:hover
            text-decoration: underline
        &:before
            content: ""
            position: absolute
            width: 13px
            height: 13px
            border: 1px solid #cbcbcb
            right: 0
            top: 50%
            transform: translateY(-50%)
            background-color: #e1e1e1
            +sm
                right: auto
                left: 0
                top: 3px
                transform: none
        &:after
            content: ""
            position: absolute
            width: 9px
            height: 9px
            border: 1px solid rgb(193, 193, 193)
            // box-shadow: inset 3px 4.45px 0.55px rgba(0,0,0,.3)
            box-shadow: inset 3px 3px 5px rgba(0,0,0,.3)
            right: 2px
            top: 50%
            transform: translateY(-50%)
            background-color: #e1e1e1
            +sm
                right: auto
                left: 2px
                top: 5px
                transform: none
    &__img
        position: absolute
        width: 24px
        left: 0
        top: 0
        font-size: 0
        text-align: center
        +sm
            display: none
        img
            vertical-align: middle
    input:checked + span
        font-weight: bold
        &:after
            background-color: $brown_orange

.new-company
    margin-bottom: 235px
    &:hover
        .new-company__text
            background-color: $brown_orange
            color: #fff
    &__text
        padding: 17px 0 17px 100px
        position: relative
        background-color: $white_brown_bg
        transition: background-color .3s, color .3s
    &__img
        position: absolute
        width: 71px
        left: 0
        top: 0
        bottom: 0
        background-color: $gray_brown
        display: flex
        align-items: center
        justify-content: space-around

.bottom-text
    line-height: 1.6
    span
        color: #ada8a1
        +sm
            color: inherit

