.aside
	// position: fixed
	// width: 300px
	will-change: min-height
	&__container
		transform: translate(0, 0)
		transform: translate3d(0, 0, 0)
		will-change: position, transform
.vip-company__row
	position: relative