.variants
	border-bottom: 1px solid #bfbab4
	margin-bottom: 35px
	&__title
		color: #65594d
		margin-bottom: 36px
	&__block
		margin-bottom: 40px
		p
			font-size: 16px
			padding-left: 35px
	&__block-title
		font-size: 16px
		font-family: $tahoma
		font-weight: 600
		margin-bottom: 18px
		i
			font-size: 22px
			margin-right: 10px	

.delivery
	.wind__title
		margin-bottom: 36px
	.person__img
		width: 100%
		border: none
		box-shadow: none
		height: 72px
		text-align: center
		margin-bottom: 36px
		font-size: 70px
	.sberbank-icon
		margin-top: 24px
		width: 172px
		max-height: 72px
		background-repeat: no-repeat
	.person__icon
		.icon
			fill: #65594d
	.person__name-wrap
		margin-bottom: 0		
	.person__name
		font-size: 16px
		text-transform: none
			