.feedback
	&__contact
		display: flex
		+sm
			flex-wrap: wrap
	&__contact-col
		position: relative
		max-width: 255px
		padding: 0 10px 10px
		&:first-child
			margin-right: 10px
			&:after
				position: absolute
				content: ''
				right: -10px
				top: 0
				width: 2px
				height: 80%
				background-color: #c7bfb7
				+sm
					display: none
		&:last-child
			margin-left: 10px
		p span
			font-size: 20px
			font-weight: 600

.feedback-form
	margin-left: 15px
	margin-right: 15px
	&__image
		position: relative
		width: 100%
		margin-left: -60px
		img
			max-width: 100%
	.post-form
		// flex-wrap: no-wrap
		margin-top: 45px
		border: 2px solid #eaeaea
		padding: 20px 45px 30px
		text-align: center
		&__row
			margin-left: 0
			margin-right: 0
		&__icon
			display: block
			margin-bottom: 15px
			.icon	
				font-size: 63px
				fill: #e6ddd0
		&__title
			font-size: 36px
			margin-bottom: 15px
		&__input,
		&__textarea
			padding-left: 0
			background: none
			border-bottom: 2px solid #eaeaea
			&:focus ~ .post-form__label
				opacity: 0
				+sm
					opacity: 0
		&__input
		&__textarea
			height: 75px
			margin-bottom: 30px
		&__label
			left: 0
			+sm
				top: 12px	