.find-necrology
    padding-top: 45px
    background-color: $white_brown_bg
    &__head
        margin: 0 auto
        margin-bottom: 30px
        max-width: 1030px
        padding: 0 15px

    &__title
        margin-bottom: 30px
    &__container
        padding-bottom: 25%
        background-size: contain
        background-position: 50% 100%
        background-repeat: no-repeat
        a:not(:last-child)
            margin-right: 30px