.footer
	background-color: #e6ddd0
	overflow: hidden
	+sm
		font-size: 14px
	&__top
		padding: 24px 0 25px
		щр	
		+sm
			padding: 8px 0 10px
	&__bottom
		position: relative
		z-index: 1
		text-align: center
		font-size: 14px
		font-weight: 400
		color: $white 
		font-weight: 300 
		background-color: #65594d
		+font-smoothing
		+sm
			text-align: left
			color: #65594d 
			z-index: 0
			background-color: transparent 
	&__up
		position: fixed
		left: 0
		z-index: 100
		text-align: right
		bottom: 115px
		width: 100%
		pointer-events: none
		+md
			display: none
	&__wrapper
		padding: 8px 0
		+sm
			border-top: 1px solid #71655a 
	&__container
		position: relative
		@media (min-width: 768px)
			width: 100%
	&__bg
		position: absolute
		bottom: -80px
		left: 25px
		width: 220px
		height: 249px
		pointer-events: none
		background: url("../img/footer-bg.png") 
		background-size: contain
		background-repeat: no-repeat
		+sm
			top: 0
			left: 50%
			bottom: auto 
			margin-left: -84px
	.title-sm
		margin: 12px 0 18px
		color: #65594d
		+md
			margin-top: 30px

.block
	position: relative
	+clr
	&:not(:first-child)
		margin-top: 10px
	&__img
		float: left
		margin-right: 29px
		width: 71px
		height: 71px
		border-radius: 50%
		background-size: cover
		background-position: 50% 50%
	&__wrap
		font-size: 15px
		max-width: 256px 
	&__name,
	&__title
		color: #65594d
		font-size: 15px
		font-family: $tahoma
		display: inline
		border-bottom: 1px solid transparent 
		&:hover
			border-color: currentColor 
	&__name
		font-weight: 700
	&__label
		color: #a29a91
		&:not(:first-child)
			margin-top: 5px
	&__date
		color: #65594d
	&__title
		color: #65594d
		font-size: 15px
		font-weight: 400
.footer-logo
	max-width: 202px
	display: block
	+sm
		margin: 0 auto
	img
		max-width: 100%
		display: block

.footer-list
	margin-top: 22px
	font-size: 0
	+sm
		margin-top: 15px
	&__item
		display: block
		+sm
			width: 50%
			vertical-align: top
			display: inline-block
		&:not(:first-child)
			margin-top: 8px
			+sm
				margin-top: 0
	&__link
		color: #857e76
		font-size: 15px
		font-weight: 400
		transition: font-weight .3s
		+sm
			font-size: 14px
			letter-spacing: -0.05em 
		&:hover
			font-weight: 700 

.copy
	font-size: 14px
	font-weight: 400
	color: #c8bdad
	+sm
		color: #65594d 
		display: block

.btn-up
	margin-right: -30px
	font-size: 0
	pointer-events: initial
	opacity: 0
	visibility: hidden
	transition: opacity .4s, visibility .4s
	background-color: transparent 
	&.is-show
		visibility: visible
		opacity: 1