.funeral-info
    padding: 75px 0 440px
    background-position: 50% 100%
    background-size: contain
    background-repeat: no-repeat
    &__container
    &__head
    &__title
        line-height: 0.9
        margin-bottom: 17px
    &__person
        display: flex
        flex-direction: column
    &__photo
        position: relative
        img
            display: block
            width: 100%
    &__img
        position: absolute
        width: 89px
        height: 80px
        left: 0
        bottom: 0
        +md
            width: 45px
            height: 40px
        +sm
            width: 89px
            height: 80px
        img
            display: block
            width: 100%
        &_1
            width: 133px
            height: 65px
            left: auto
            right: 0
            +md
                width: 67px
                height: 33px
            +sm
                width: 133px
                height: 65px
    &__general
        padding-top: 25px
        font-family: $cormorant_infant
        font-weight: 600
        font-size: 24px
        span
            font-family: $tahoma
            font-size: 15px
            font-weight: normal
    &__details
        span
            font-weight: 700
    &__personal-info
    &__list
        margin-bottom: 25px
        .agent
            border-top: 1px solid #f3f1ea
            padding: 18px 0 10px
            &:hover
                .agent__title
                    display: block
            &__title
                display: none
            .address
                margin-left: 40px
    &__counter
        margin-top: 50px
