.key-questions
    &__container
    .section-head
        margin-bottom: 35px
        .title-l
            margin-bottom: 7px
    &__list

    .key-item
        position: relative
        min-height: 170px
        margin-bottom: 100px
        +clr
        &:nth-child(even)
            .key-item__body
                padding: 0 100px 20px 20px
                float: right
                text-align: left
        &__body
            width: 41%
            padding: 0 20px 20px 100px
            float: left
            text-align: right
        &__title
            font-size: 24px
            margin-bottom: 25px
        &__text
        &__img
            position: absolute
            top: 50%
            left: 50%
            width: 170px
            height: 170px
            transform: translate(-50%, -50%)
            background-size: cover
            background-position: 50% 50%
            border-radius: 50%
