.navigation-page .list-inline>li
	padding: 0

.navigation-page .page-nav
	padding-top: 0
	border-top: 0
	color: $brown_orange
	font-size: 15px
	+sm
		font-size: 14px

.page-nav .list-inline
	display: flex
	align-items: center
	justify-content: center

.navigation-page .page-nav ul li:first-child
	margin-right: 44px
	+sm
		margin-right: 7px

.navigation-page .page-nav ul li:last-child
	margin-left: 44px
	+sm
		margin-left: 7px

.btn-nav
	padding: 5px 4px
	background: none
	+sm
		border: 1px solid $gray_brown
		border-radius: 5px