.content_wrap .side-widget h5
	padding-bottom: 8px

.block-content

.mob-show
	display: none
	+sm
		display: block
.mob-hide
	+sm
		display: none

					

.article-box
	.margin_top	
		+sm
			margin-top: 15px

.post-wrap
	+sm
		padding-bottom: 15px				

.post-wrap .article-box article
	border-bottom: none
	&:hover
		box-shadow: none

.post-wrap .section-head
	margin-bottom: 25px

.post-wrap .post-thumb
	margin-bottom: 23px

.post-wrap article hr
	margin: 11px 0 40px

.post-wrap article h5
	margin-bottom: 22px
	+sm
		font-size: 21px

.post-wrap .related-comments
	margin-bottom: 52px
	+sm
		margin-bottom: 20px

.article-box blockquote
	position: relative
	margin: 45px 0 32px 37px
	font-family: $cormorant_infant
	line-height: 1.25
	font-style: italic
	font-weight: 500
	font-size: 24px
	padding-left: 22px
	border-left: 2px solid #f3f3f3
	+sm
		margin: 15px 0 15px 27px
		padding-left: 12px
		font-size: 18px
	.quote
		position: absolute
		top: -8px
		left: -38px
		+sm
			left: -28px

.article-box .quote .icon-quote
	fill: $brown_orange
	font-size: 19px

.social-block
	display: flex
	align-items: center
	justify-content: flex-end
	margin: 47px 0 25px
	+sm
		justify-content: center
		margin: 15px 0

.related-comments h5
	padding-bottom: 8px
	border-bottom: 1px solid $silver
	margin-bottom: 28px
	+sm
		padding-bottom: 0
		margin-bottom: 20px
		border-bottom: none


.posts-image_mod
	width: 136px
	height: 136px
	+md
		width: 85px
		height: 85px
 
.related-comments
	&.is-open
		.arrow-up
			transform: rotate(180deg)
	.title-s_mod
	+sm
		cursor: pointer
	.team-info
		padding-bottom: 0
		margin-bottom: 18px
	.staff-title
		color: #c9c2b4
		+md
			padding-left: 110px

.post-wrap .team-info p
	padding-top: 20px
	padding-bottom: 15px
	+md
		padding-top: 30px

.post-wrap .bottom-image img
	margin-top: -90px

.post-wrap .padding_top
	padding-top: 15px
	+md
		padding: 0


.comment-form
	&__title
		padding-bottom: 8px
		border-bottom: 1px solid $silver
		margin-bottom: 37px
		+sm
			cursor: pointer
			padding-bottom: 0
			border-bottom: none
	&.is-open
		.arrow-up
			transform: rotate(180deg)
			
.arrow-up
	display: inline-block
	opacity: 0
	transform: rotate(0deg)
	transition: transform .3s
	+sm
		opacity: 1
		margin-left: 10px