<div class="page-head">
    <div class="container page-head__container">
        <ul class="bcrumbs page-head__bcrumbs">
            <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
            <li><a href="#">Obituaries</a></li>
            <li>Past</li>
        </ul>
    </div>
</div>


<div class="author-top">
    <div class="author-top__container container">
        <div class="author-top__head section-head text-center">
            <h1 class="title-l author-top__title">Страница автора</h1>
            <p>Подзаголовок страницы будет тут</p>
        </div>
        <div class="row author-top__row">
            <div class="col-md-3 col-sm-3 author-top__col">
                <div class="author-top__person person-info">
                    <div class="person-info__photo">
                        <img src="./img/memory-item.jpg" alt="photo">
                    </div>
                    <div class="person-info__general text-center">
                        <p>
                            Фамилия Имя Отчество
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 author-top__details">
                <div class="author-top__personal-info">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="contacts-item"> 
                                <i class="fa fa-map-marker"></i> Адрес: 
                                <span>
                                    Хабаровск, Гоголя, 8
                                </span>
                            </div>
                            <div class="contacts-item"> 
                                <i class="fa fa-phone"></i> Телефон: 
                                <span>
                                    8 (111) 123 123 
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="contacts-item"> 
                                <i class="fa fa-skype"></i> Скайп: 
                                <span>
                                    username1234
                                </span>
                            </div>
                            <div class="contacts-item"> 
                                <i class="fi flaticon-black"></i> E-mail: 
                                <span>
                                    dmitryz5700@gmail.com
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 author-top__site-info">
                            <p>
                                На сайте с: 12.09.17
                            </p>
                            <p>
                                Последний визит: 12.09.17
                            </p>
                            <p>
                                Всего отзывов: 15
                            </p>
                            <p>
                                Всего статей: 11
                            </p>
                        </div>
                    </div>
                </div>
                <div class="author-top__text">
                    <p>
                        Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
                    </p>
                    <p>
                        Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>