<div class="author-blogs">
    <div class="container author-blogs__container">
            <h3 class="author-blogs__title">Все компании автора</h3>

            <div class="row">
                {% for i in range(0, 4) %}
                    
                <div class="col-md-6">
                    <article>
                        <h4 class="title-m"><a href="#">Miscarriage and the Confusion of Sinful Grief: A Response</a></h4>
                        <div class="post-thumb"><img data-src="img/blog-img.jpg" class="img-responsive js-lazy" alt="" /></div>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> 13.03.18</span>
                            <span><i class="fi flaticon-people"></i> Имя Фамилия</span>
                            <span><i class="fa fa-comments-o"></i> Рубрика</span>
                        </div>
                        <hr>
                        <p>I stumbled upon an article entitled Miscarriage and the Confusion of Sinful Grief that was posted at the Reformed Christian website "The Gospel Coalition".Jamie Carlson (who recently miscarried) wrote the post as a reflection on sin and grief. </p>
                        <div class="artical-btn">
                            <a href="blog-single.html" class="btn btn-md">Читать статью</a>
                        </div>
                    </article>
                </div>
                
                {% endfor %}
            </div>

            
            <div class="banner">
                <img class="js-lazy" data-src="img/banner1.png" alt="banner">
            </div>
    </div>
</div>

<div class="container">
    <div class="bottom-image">
        <img class="js-lazy" data-src="img/rose-angel.png" alt="rose-angel">
    </div>
</div>