<div class="bg-high" style="background-image: url(../img/grief/grief_bg.jpg)">
    <div class="page-head">
        <div class="container page-head__container">
            <ul class="bcrumbs page-head__bcrumbs">
                <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
                <li><a href="#">Obituaries</a></li>
                <li>Past</li>
            </ul>
        </div>
    </div>

    <div class="grief">
        <div class="container grief__container">
            <div class="section-head grief__head text-center">
                <h1 class="title-l grief__title">Если случилось горе</h1>
                <p class="description grief__description">Подзаголовок страницы будет тут</p>
            </div>
            <div class="grief__body">
                <div class="grief__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    <p class="mob-hide">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum</p>
                </div>
                <div class="grief__img">
                    <img src="./img/grief/grief_img.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grief grief-2">
    <div class="container grief__container">
        <div class="section-head grief__head grief-2__head text-center">
            <h3 class="title-l grief__title grief-2__title">Ритуальные услуги</h3>
            <p class="description grief__description">Подзаголовок страницы будет тут</p>
        </div>
        <div class="grief__body grief-2__body">
            <div class="grief__img grief-2__img">
                <img src="./img/grief/grief_img-2.png" alt="img">
            </div>
            <div class="grief__text grief__text_reverse grief-2__text">
                <p class="mob-hide">Удобная навигация позволит быстро найти ритуального агента, организатора похорон и тд........</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                <div class="grief__footer"><a href="#" class="btn btn-prymery-hover">Перейти в интернет-магазин</a></div>
            </div>
        </div>
    </div>
</div>

<div class="cemetery-selection" style="background-image: url(./img/grief/grief_bg-2.jpg)">
    <div class="container cemetery-selection__container">
        <div class="section-head cemetery-selection__head text-center">
            <h3 class="title-l cemetery-selection__title">Удобный и понятный подбор кладбища</h3>
            <p class="description cemetery-selection__desription">Выбор зала для прощания, церкви, кладбища, ресторана для поминания</p>
        </div>
        <div class="cemetery-selection__body text-center">
            <p class="cemetery-selection__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
            <a href="#" class="btn btn-prymery-hover">Выбрать кладбище</a>
        </div>
        <div class="cemetery-selection__map mob-hide">
            <div class="cemetery-selection__col-left">
                <div class="links">
                    <a href="#">Описание <i class="fi flaticon-arrows-1"></i></a>
                    <a class="active" href="#">Карта кладбища<i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">О компании <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Слайдер фото <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши услуги, тарифы <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Наши контакты <i class="fi flaticon-arrows-1"></i></a>
                    <a href="#">Карточка мероприятия <i class="fi flaticon-arrows-1"></i></a>
                </div>
            </div>
            <div class="cemetery-selection__col-right">
                <div class="cemetery-selection__img-map" style="background-image: url(img/map.png);"></div>
            </div>
        </div>
    </div>
</div>

<div class="full-services">
    <div class="container full-services__container">
        <div class="section-head full-services__head text-center">
            <h3 class="title-l full-services__title">Полный спектр услуг</h3>
            <p class="description full-services__desription mob-hide">Выбор зала для прощания, церкви, кладбища, ресторана для поминания</p>
        </div>
        <div class="full-services__body text-center mob-hide">
            <p class="full-services__text narrow-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
            <a href="#" class="btn btn-prymery-hover">Выбрать зал для прощания</a>
        </div>
    </div>
    <div class="full-services__img mob-hide">
        <div class="container full-services__container">
            <img src="./img/grief/grief_img-3.png" alt="img">
        </div>
    </div>

    <div class="full-services__find-church find-church">
        <div class="container full-services__container find-church__container">
            <div class="find-church__body">
                <div class="find-church__title title-l">Найдите церковь</div>
                <div class="find-church__text text-plus-button">
                    <div class="find-church__img">
                        <img src="./img/grief/church.png" alt="img">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    </p>
                    <a href="#" class="btn btn-prymery-hover">Выбрать церковь</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="full-services__find-hall find-hall" style="background-image: url(./img/grief/grief_bg-3.jpg)">
    <div class="container find-hall__container">
        <div class="find-hall__title title-l">Зал для прощания и поминальный обед</div>
        <div class="find-hall__body">
            <div class="find-hall__text text-plus-button">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
                <a href="#" class="btn btn-prymery-hover">Выбрать зал для прощания</a>
            </div>
            <div class="find-hall__text text-plus-button">
                <p class="mob-hide">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
                <a href="#" class="btn btn-prymery-hover">Выбрать ресторан и меню</a>
            </div>
        </div>
    </div>
</div>


<div class="one-place">
    <div class="container one-place__container">
        <div class="section-head one-place__head text-center">
            <h3 class="title-l one-place__title">Все необходимые товары в одном месте</h3>
            <p class="description one-place__desription">Подзаголовок страницы будет тут</p>
        </div>
        <div class="one-place__body text-center">
            <p class="one-place__text narrow-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
            <a href="#" class="btn btn-prymery-hover">Перейти в интернет-магазин</a>
        </div>
        <div class="one-place__img">
            <img src="./img/grief/item-1.jpg" alt="img">
        </div>
                
    </div>
</div>

<div class="companies">
    <div class="container companies__container">
        <!-- begin map -->
        <div class="map-wrap">
            <div class="map-wrap__container container">
                <h3 class="map-wrap__title-l title-l mob-hide">Компании города в сфере "Ритуал"</h3>
                <div class="map-wrap__select mob-hide">
                    <div class="select">
                        <select name="region" id="region" style="width: 100%" class="js-select">
                            <option value="1">Железнодорожный</option>
                            <option value="2">Индустриальный</option>
                            <option value="3">Кировский</option>
                            <option value="4">Краснофлотский</option>
                            <option value="5">Центральный</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="js-map map" id="mapInfobox" data-center-lat="-34.097" data-center-lng="150.644"></div>
            {% set tamplate = '<div class="baloon mob-hide">
                <!-- <button class="baloon__close js-infobox-close"></button> -->
                <div class="baloon__content">
                    <div class="baloon__row">
                        <div class="baloon__col">
                            {{? baloon.img }}
                            <div class="baloon__img"><img src="{{=baloon.img}}" alt="{{=baloon.imgAlt}}"></div>
                            {{?}}
                            {{? baloon.title }}
                            <div class="baloon__title">{{=baloon.title}}</div>
                            {{?}}
                            {{? baloon.linkText }}
                            <div class="baloon__footer">
                                <a href="{{=baloon.linkUrl}}" class="btn btn_small">{{=baloon.linkText}}<i class="fi flaticon-arrows"></i></a>
                            </div>
                            {{?}}
                        </div>
                        <div class="baloon__col">
                            {{? baloon.address }}
                                <div class="baloon__item"><i class="fa fa-map-marker"></i>{{=baloon.address}}</div>
                            {{?}}
                            {{? baloon.address }}
                                <div class="baloon__item"><i class="fi flaticon-technology"></i>{{=baloon.phone}}</div>
                            {{?}}
                            {{? baloon.address }}
                                <div class="baloon__item"><i class="fi flaticon-black"></i>{{=baloon.email}}</div>
                            {{?}}
                            {{? baloon.address }}
                                <div class="baloon__item"><i class="fi flaticon-clock"></i>{{=baloon.time}}</div>
                            {{?}}
                        </div>
                    </div>
                </div>
            </div>' %}
            {% set array = '[
                    {
                        "content": {
                            "title": "1. Название компании",
                            "linkUrl": "#",
                            "linkText": "Перейти",
                            "img": "./img/map-img.png",
                            "imgAlt": "img",
                            "address": "Хабаровск, Гоголя, 8",
                            "phone": "8 (111) 123 123",
                            "email": "dmitryz5700@gmail.com",
                            "time": "С 7.00 до 21.00, без выходных",
                            "list": [
                                {
                                    "bla": "bla"
                                },
                                {
                                    "bla": "bla"
                                }
                            ]
                        },
                        "marker": {
                            "id": 2,
                            "position": {
                                "lat": -34.397,
                                "lng": 151.044
                            },
                            "icon": {
                                "default": "img/marker.png",
                                "active": "img/marker.png",
                                "size": {
                                    "x": 50,
                                    "y": 64
                                },
                                "centering": {
                                    "x": 20,
                                    "y": 58
                                }
                            }
                        }
                    },
                    {
                        "content": {
                            "title": "1. Название компании",
                            "linkUrl": "#",
                            "linkText": "Перейти",
                            "img": "./img/map-img.png",
                            "imgAlt": "img",
                            "address": "Хабаровск, Гоголя, 8",
                            "phone": "8 (111) 123 123",
                            "email": "dmitryz5700@gmail.com",
                            "time": "С 7.00 до 21.00, без выходных",
                            "list": [
                                {
                                    "bla": "bla"
                                },
                                {
                                    "bla": "bla"
                                }
                            ]
                        },
                        "marker": {
                            "id": 3,
                            "position": {
                                "lat": -34.397,
                                "lng": 151.444
                            },
                            "icon": {
                                "default": "img/marker.png",
                                "active": "img/marker.png",
                                "size": {
                                    "x": 50,
                                    "y": 64
                                },
                                "centering": {
                                    "x": 20,
                                    "y": 58
                                }
                            }
                        }
                    }
                ]' %}
            <script type="text/template" class="js-mapInfobox">
                {{ tamplate | safe }}
            </script>
            <script>
                document.addEventListener('DOMContentLoaded', function(){
                    window.mapInfobox.add({{array | safe}})
                });
            </script>
        </div>
        <!-- end map -->
        {% include "partials/agents/_agencies.html" %}
        <div class="bottom-image hidein">
            <img src="img/rose-angel.png" alt="rose-angel">
        </div>
    </div>
</div>


