<div class="bg-high" style="background-image: url(../img/grief/grief_bg.jpg)">
    <div class="page-head">
        <div class="container page-head__container">
            <ul class="bcrumbs page-head__bcrumbs">
                <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
                <li><a href="#">Obituaries</a></li>
                <li>Past</li>
            </ul>
        </div>
    </div>

    <div class="grief">
        <div class="container grief__container">
            <div class="section-head grief__head text-center">
                <h3 class="title-l grief__title">Если случилось горе</h3>
                <p class="description grief__description">Подзаголовок страницы будет тут</p>
            </div>
            <div class="grief__body">
                <div class="grief__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                    <p class="mob-hide">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum</p>
                </div>
                <div class="grief__img">
                    <img src="./img/grief/grief_img.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grief grief-2">
    <div class="container grief__container">
        <div class="section-head grief__head grief-2__head text-center">
            <h3 class="title-l grief__title grief-2__title">Ритуальные услуги</h3>
            <p class="description grief__description">Подзаголовок страницы будет тут</p>
        </div>
        <div class="grief__body grief-2__body">
            <div class="grief__img grief-2__img">
                <img src="./img/grief/grief_img-2.png" alt="img">
            </div>
            <div class="grief__text grief__text_reverse grief-2__text">
                <p class="mob-hide">Удобная навигация позволит быстро найти ритуального агента, организатора похорон и тд........</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                <div class="grief__footer"><a href="#" class="btn btn-prymery-hover">Перейти в интернет-магазин</a></div>
            </div>
        </div>
    </div>
</div>

<div class="cemetery-selection" style="background-image: url(./img/grief/grief_bg-2.jpg)">
    <div class="container cemetery-selection__container">
        <div class="section-head cemetery-selection__head text-center">
            <h3 class="title-l cemetery-selection__title">Удобный и понятный подбор кладбища</h3>
            <p class="description cemetery-selection__desription">Выбор зала для прощания, церкви, кладбища, ресторана для поминания</p>
        </div>
        <div class="cemetery-selection__body text-center">
            <p class="cemetery-selection__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
            <a href="#" class="btn btn-prymery-hover">Выбрать кладбище</a>
        </div>
        <div class="cemetery-selection__map mob-hide"></div>
    </div>
</div>

<div class="full-services">
    <div class="container full-services__container">
        <div class="section-head full-services__head text-center">
            <h3 class="title-l full-services__title">Полный спектр услуг</h3>
            <p class="description full-services__desription mob-hide">Выбор зала для прощания, церкви, кладбища, ресторана для поминания</p>
        </div>
        <div class="full-services__body text-center mob-hide">
            <p class="full-services__text narrow-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
            <a href="#" class="btn btn-prymery-hover">Выбрать зал для прощания</a>
        </div>
    </div>
    <div class="full-services__img mob-hide">
        <div class="container full-services__container">
            <img src="./img/grief/grief_img-3.png" alt="img">
        </div>
    </div>

    <div class="full-services__find-church find-church">
        <div class="container full-services__container find-church__container">
            <div class="find-church__body">
                <div class="find-church__title title-l">Найдите церковь</div>
                <div class="find-church__text text-plus-button">
                    <div class="find-church__img">
                        <img src="./img/grief/church.png" alt="img">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    </p>
                    <a href="#" class="btn btn-prymery-hover">Выбрать церковь</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="full-services__find-hall find-hall" style="background-image: url(./img/grief/grief_bg-3.jpg)">
    <div class="container find-hall__container">
        <div class="find-hall__title title-l">Зал для прощания и поминальный обед</div>
        <div class="find-hall__body">
            <div class="find-hall__text text-plus-button">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
                <a href="#" class="btn btn-prymery-hover">Выбрать зал для прощания</a>
            </div>
            <div class="find-hall__text text-plus-button">
                <p class="mob-hide">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
                <a href="#" class="btn btn-prymery-hover">Выбрать ресторан и меню</a>
            </div>
        </div>
    </div>
</div>


<div class="one-place">
    <div class="container one-place__container">
        <div class="section-head one-place__head text-center">
            <h3 class="title-l one-place__title">Все необходимые товары в одном месте</h3>
            <p class="description one-place__desription">Подзаголовок страницы будет тут</p>
        </div>
        <div class="one-place__body text-center">
            <p class="one-place__text narrow-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <b>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a</b>liquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
            <a href="#" class="btn btn-prymery-hover">Перейти в интернет-магазин</a>
        </div>
        <div class="one-place__img">
            <img src="./img/grief/item-1.jpg" alt="img">
        </div>
                
    </div>
</div>

<div class="companies">
    <div class="container companies__container">
        <div class="section-head companies__head text-center">
            <div class="title-l companies__title">Компании города в сфере "Ритуал"</div>
            <div class="companies__cities select-primary mob-hide">
                <select name="cities" size="1">
                    <option value="Железнодорожный" selected>Железнодорожный</option>
                    <option value="Кировский">Кировский</option>
                    <option value="Приамурский">Приамурский</option>
                </select>
        </div>
        </div>
    </div>
</div>