.icon-about {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-bank {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-banknote {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-candle {
  width: 0.39em;
  height: 1em;
  fill: initial;
}
.icon-card {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.icon-certificates {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-church {
  width: 0.63em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-delivery {
  width: 1.79em;
  height: 1em;
  fill: initial;
}
.icon-document {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-eye {
  width: 1.68em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-feedback {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-flaticon {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-full {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-google {
  width: 1.6em;
  height: 1em;
  fill: initial;
}
.icon-house {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mark {
  width: 0.66em;
  height: 1em;
  fill: initial;
}
.icon-people {
  width: 0.7em;
  height: 1em;
  fill: initial;
}
.icon-photo {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-printer {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-products {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-quote {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-rose {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
.icon-sales {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-send-button {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-smile {
  width: 1.48em;
  height: 1em;
  fill: initial;
}
.icon-square {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-tile {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tombstone {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-up {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-users {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-vacances {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-zoom {
  width: 1em;
  height: 1em;
  fill: none;
}
