$icons: (0:0)
$icons: map-merge($icons,('facebook': (X: -102px, Y:-36px, W: 10px, H: 19px, TW: 129px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook@2x': (X: -72px, Y:0px, W: 20px, H: 38px, TW: 129px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('icon8-forward': (X: 0px, Y:0px, W: 26px, H: 86px, TW: 129px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('icon8-prev': (X: -36px, Y:0px, W: 26px, H: 86px, TW: 129px, TH: 86px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('send-button': (X: -102px, Y:0px, W: 27px, H: 26px, TW: 129px, TH: 86px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
  display: inline-block
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: floor($height/2)
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  
  display: inline-block

//
//.icon-facebook
//  width: 10px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -102px -36px
//
//.icon-facebook@2x
//  width: 20px
//  height: 38px
//  background-image: url('../img/sprite.png')
//  background-position: -72px 0px
//
//.icon-icon8-forward
//  width: 26px
//  height: 86px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-icon8-prev
//  width: 26px
//  height: 86px
//  background-image: url('../img/sprite.png')
//  background-position: -36px 0px
//
//.icon-send-button
//  width: 27px
//  height: 26px
//  background-image: url('../img/sprite.png')
//  background-position: -102px 0px
//