.icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-house {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-send-button {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-up {
  width: 1em;
  height: 1em;
  fill: initial;
}
