<div class="category-goods">
	<div class="container category-goods__container">
		<div class="category-goods__row row">
			<div class="category-goods__col col-md-3 col-sm-3 sidebar">
				<a href="#">
					<div class="big-icon-btn">
						<i class="fi flaticon-people"></i> Вызвать 
						ритуального агента
					</div>
				</a>
				<div class="side-widget category-main__catalogue">
					<h5 class="title-s">Каталог</h5>
					<ul class="catalogue">
						{% for i in range(0,5) %}
						<li class="catalogue__item"><a href="#"><i class="fa fa-angle-right"></i>Категория</a>
							<ul class="catalogue__subcategory">
								<li><a href="#"><i class="fa fa-angle-right"></i>Подкатегория</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i>Подкатегория</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i>Подкатегория</a></li>
								<li><a href="#"><i class="fa fa-angle-right"></i>Подкатегория</a></li>
							</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
				{# <div class="side-widget category-range">
					<h5 class="title-s">Диапазон цен</h5>
					<div class="s_range">
						<div id="sliderRange"></div>
						<div class="range_v">
							<input type="text" id="price1" name="price1" title="" value="$45" class="input" />
							<div class="range_sep"></div>
							<input type="text" id="price2" name="price2" title="" value="$79" class="input" />
						</div>
					</div>
					<div class="category-range__btn">
						<a class="btn" href="#">Применить</a>
					</div>
				</div> #}
				<a href="#">
					<div class="big-icon-btn">
						<i class="fi flaticon-nature"></i>Послать цветы
					</div>
				</a>
			</div>
			<div class="category-goods__col col-md-9 col-sm-9">
				<div class="wind__row row">
					<div class="col-md-12">
						<div class="all-companies__top top-bar mob-hide">
							<div class="shop-sort-wrap">
								<div class="ps-options pull-left">
									<span>Показывать по:</span>
									<div class="ps-select">
										<i class="fa fa-caret-down"></i>
										<select>
											<option>4</option>
											<option>5</option>
											<option selected>6</option>
										</select>
									</div>
								</div>
								<div class="shop-sort">
									<a href="#" class="active"><i class="flaticon-squares"></i></a>
									<a href="#"><i class="flaticon-signs-1"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row margin-bott">	
					{% for i in range(0, 6) %}
					<div class="col-md-4 col-sm-6 col-xs-6">
						<a href="#" class="all-companies__item companies-item">
							<div class="companies-item__wrap">
								<div class="sf-thumb">
									<div class="sf-thumb__wrap">
										<img src="./img/all-companies/logo-1.jpg" alt="img">
									</div>
								</div>
								<div class="companies-item__text">
									<h4 class="title-s_mod companies-item__name">Наименование товара</h4>
									<div class="companies-item__type">
										<div class="product-prices">
											<div class="product-single-price">690 ₽
											</div>
											<div class="product-single-price">
												<img src="img/logo1.png" alt="map-img">
											</div>
										</div>
									</div>
									<div class="companies-item__descr">
										<div class="product-reviews">
											<span class="pr-ratings">
												<i class="flaticon-favorite"></i>
												<i class="flaticon-favorite"></i>
												<i class="flaticon-favorite"></i>
												<i class="flaticon-favorite"></i>
												<i class="flaticon-favorite"></i>
											</span>
											<div class="product-reviews__details mob-hide">
												<span>5.0</span>
												<span>{{ mixins.icon('users') }}</span>
												<span>(1)</span>
											</div>
										</div>
									</div>
								</div>
								<div class="companies-item__btn">
									<button type="button" class="btn"><i class="fi flaticon-web"></i> &nbsp;Купить</button>
								</div>    
							</div>
						</a>
					</div>
					{% endfor %}
				</div>	
				<!-- Start page-nav -->
					{% include "partials/blogs/_page-nav.html" %}
				<!-- End page-nav -->
				<div class="row margin-top">
					<div class="col-md-12">
						<div class="all-companies__top top-bar mob-hide">
							<div class="shop-sort-wrap">
								<div class="ps-options pull-left">
									<span>Показывать по:</span>
									<div class="ps-select">
										<i class="fa fa-caret-down"></i>
										<select>
											<option>4</option>
											<option>5</option>
											<option selected>6</option>
										</select>
									</div>
								</div>
								<div class="shop-sort">
									<a href="#" class="active"><i class="flaticon-squares"></i></a>
									<a href="#"><i class="flaticon-signs-1"></i></a>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="row">
					<div class="col-md-12">	
					{% for i in range(0, 4) %}
					<!-- <div class="col-md-4 col-sm-6 col-xs-6"> -->
						<a href="#" class="funeral__item companies-item companies-item_list">
							<div class="companies-item__wrap">
								<div class="sf-thumb" style="background-image: url(./img/wreath-2.png)">
								</div>
								<div class="companies-item__text">
									<h4 class="title-s companies-item__name">Название компании</h4>
									<div class="companies-item__type">
										<div class="product-prices">
											<div class="product-single-price">690 ₽<span> 890 ₽</span>
											</div>
											<div class="product-single-price">
												<img src="img/logo1.png" alt="map-img">
											</div>
										</div>
									</div>
									<p>Текст текст текст Текст текст текстТекст текст текстТекст текст текстТекст текст текстТекст текст текст</p>
									<div class="companies-item__descr">
										<div class="product-reviews">
											<span class="pr-ratings">
												<i class="flaticon-favorite"></i>
												<i class="flaticon-favorite"></i>
												<i class="flaticon-favorite"></i>
												<i class="flaticon-favorite"></i>
												<i class="flaticon-favorite"></i>
											</span>
											<div class="product-reviews__details mob-hide">
												<span>5.0</span>
												<!-- <span>{{ mixins.icon('users') }}</span>
												<span>(1)</span> -->
											</div>
										</div>
									</div>
									<button type="button" class="btn"><i class="fi flaticon-web"></i> &nbsp;Купить</button>
								</div>
							</div>
						</a>
					<!-- </div> -->
					{% endfor %}
					</div>
					<div class="col-md-12">
					<!-- Start page-nav -->
						{% include "partials/blogs/_page-nav.html" %}
					<!-- End page-nav -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
