<nav class="navigation-page">
    <ul class="page-nav">
        <li><button class="page-nav__btn left-btn" type="button"><i class="fa fa-angle-left"></i> &nbsp;Предыдущая</button></li>
        <li class="page-nav__item active"><a class="page-nav__link" href="#">1</a></li>
        <li class="page-nav__item"><a class="page-nav__link" href="#">2</a></li>
        <li class="page-nav__item"><a class="page-nav__link" href="#">3</a></li>
        <li><button class="page-nav__btn right-btn" type="button">Следующая&nbsp; <i class="fa fa-angle-right"></i></button></li>
    </ul>
</nav>