<div class="ad-ban">
        <div class="ad-ban__container container">
            <div class="ad-ban__wrap text-center">
                <div class="ad-ban__head section-head">
                    <h2 class="ad-ban__title title-l title-l_smaller">Размещение рекламных баннеров</h2>
                </div>
                <div class="ad-ban__button">
                    <a href="#" class="btn btn_big">Разместить баннер</a>
                </div>
            </div>
            <div class="ad-ban__text">
                <p>
                    Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то тексттут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текс т какой то текст тут какой то текст тут какой то тут какой то текст ут какой то текст тут какой то т
                </p>
                <div class="download mob-hide">
                        {{ mixins.icon('download') }}<a href="./img/1.png" target="_blank">Скачать прайс-лист</a>
                </div>
                
            </div>
            <div class="ad-ban__img">
                <img class="js-lazy" data-src="./img/12345.png" alt="img">
            </div>
        </div>
    </div>