<div class="info-placement">
    <div class="info-placement__container container">
        <div class="info-placement__head section-head text-center">
            <h2 class="info-placement__title title-l">Размещение информации о компании (бесплатная)</h2>
        </div>

        <div class="row info-placement__row">
            <div class="col-md-6 info-placement__col">
                <div class="info-placement__text">
                    <p>
                        Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то тексттут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текс т какой то текст тут какой то текст тут какой то тут какой то текст ут какой то текст тут какой тото текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текс т какой то текст тут какой то текст тут какой то тут какой то текст ут какой то текст тут какой то т т
                    </p>
                    <a href="#" class="btn btn_big md-hide">Разместить</a>
                </div>
            </div>
            <div class="col-md-6 info-placement__col">
                <div class="info-placement__img">
                    <img class="js-lazy" data-src="./img/info-placement.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>