<div class="page-head">
    <div class="container page-head__container">
        <ul class="bcrumbs page-head__bcrumbs">
            <li><a href="#"><span class="showin">{{ mixins.icon('house') }}</span><span class="hidein">Home</span></a></li>
            <li><a href="#">Obituaries</a></li>
            <li>Past</li>
        </ul>
    </div>
</div>

<div class="portal-services">
    <div class="portal-services__container container">
        <div class="portal-services__head section-head text-center">
            <h1 class="portal-services__title title-l">Все компании</h1>
            <p>Подзаголовок страницы</p>
        </div>

        
		<div class="drop js-drop">
			<div class="drop__wrap js-drop-wrap">
				<div class="drop__show js-drop-shows">
					<p>
						Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой Тут какой-то текст Тут какой-то текст Тут какой-то текст Тут какой-то
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div class="drop__hidden js-drop-hidden">
					<div class="our-contacts__list">
						<ul>
							<li>Пункт списка 1</li>
							<li>Еще один пункт списка 2</li>
							<li>Пункт списка 3</li>
							<li>Еще один пункт списка 4</li>
						</ul>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
			<div class="price-btn">
			    <!-- begin read-all -->
                <div class="read-all">
                    <a href="#" class="read-all__link js-open-drop" data-text-open="Больше информации" data-text-close="Меньше информации">
                        <span class="drop__btn-text js-drop-btn-text">Больше информации</span>
                        <span class="fi flaticon-arrows"></span>
                    </a>
                </div>
                <!-- end read-all -->
			</div>
		</div>
    </div>
</div>