<div class="raise-top">
        <div class="raise-top__container container">
    
            <div class="row raise-top__row">
                <div class="col-md-4 col-sm-4 col-xs-4 raise-top__col">
                    <div class="raise-top__img"><img src="./img/raise-top.png" alt="img"></div>
                </div>
                <div class="col-md-8 raise-top__col">
                    <div class="raise-top__head section-head">
                        <h2 class="raise-top__title title-l">Поднятие в ТОП</h2>
                    </div>
                    <div class="raise-top__text">
                        <p>
                            Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
                        </p>
                        <p>
                            тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст ут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
                        </p>
                        <a href="#" class="btn btn_big">Поднять в ТОП</a>
                    </div>
                </div>
            </div>
        </div>
    </div>