<div class="rates">

    <!-- begin expenses -->
    <div class="expenses">
        <div class="expenses__container container">
            <h3 class="expenses__title-l title-l">Тарифы на размещение компании</h3>
            <div class="pricing-2">
                <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="plan">
                        <div class="plan-title">Базовый</div>
                        <ul>
                            <li>Hearse and attendants at the funeral</li>
                            <li>Provision of advice on all matters relating to the funeral</li>
                            <li>One following limousine</li>
                            <li>A distinctive solid wood coffin, lined & fitted (sides, lid and mouldings)</li>
                        </ul>
                        <div class="plan-price">399<span>99</span>₽</div>
                        <a href="#" class="btn btn_dark btn padding-horizontal-40">Choose Plan</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 popular">
                    <div class="plan-head">лучшее предложение</div>
                    <div class="plan">
                        <div class="plan-title">Бизнес</div>
                        <ul>
                            <li>Hearse and attendants at the funeral</li>
                            <li>Provision of advice on all matters relating to the funeral</li>
                            <li>One following limousine</li>
                            <li>A distinctive solid wood coffin, lined & fitted (sides, lid and mouldings)</li>
                        </ul>
                        <div class="plan-price">499<span>99</span>₽</div>
                        <a href="#" class="btn btn-default btn-md padding-horizontal-40">Choose Plan</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="plan">
                        <div class="plan-title">Оптимальный</div>
                        <ul>
                            <li>Hearse and attendants at the funeral</li>
                            <li>Provision of advice on all matters relating to the funeral</li>
                            <li>One following limousine</li>
                            <li>A distinctive solid wood coffin, lined & fitted (sides, lid and mouldings)</li>
                        </ul>
                        <div class="plan-price">599<span>99</span>₽</div>
                        <a href="#" class="btn btn_dark btn padding-horizontal-40">Choose Plan</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end expenses -->

    <div class="rates__table mob-hide">
        <div class="container">
            <ol class="rates__table_head">
                <li></li>
                <li>Базовый</li>
                <li>Бизнес</li>
                <li>Оптимальный</li>
            </ol>
            <ul>
                <li>Круглосуточная онлайн поддержка</li>
                <li><i class="fi flaticon-check"></i></li>
                <li><i class="fi flaticon-check"></i></li>
                <li><i class="fi flaticon-check"></i></li>
            </ul>
            <ul>
                <li>Глубокая проработка профиля компании</li>
                <li></li>
                <li><i class="fi flaticon-check"></i></li>
                <li><i class="fi flaticon-check"></i></li>
            </ul>
            <ul>
                <li>Еженедельное поднятие в поиске</li>
                <li></li>
                <li></li>
                <li><i class="fi flaticon-check"></i></li>
            </ul>
            <ul>
                <li>Круглосуточная онлайн поддержка</li>
                <li><i class="fi flaticon-check"></i></li>
                <li><i class="fi flaticon-check"></i></li>
                <li><i class="fi flaticon-check"></i></li>
            </ul>
            <ul>
                <li>Глубокая проработка профиля компании</li>
                <li><i class="fi flaticon-check"></i></li>
                <li><i class="fi flaticon-check"></i></li>
                <li></li>
            </ul>
            <ul>
                <li>Еженедельное поднятие в поиске</li>
                <li><i class="fi flaticon-check"></i></li>
                <li></li>
                <li><i class="fi flaticon-check"></i></li>
            </ul>
        </div>
    </div>


    <div class="hidein">
            <div class="banner">
                <img class="js-lazy" data-src="img/banner1.png" alt="banner">
            </div>
        </div>
</div>

<div class="container">
        <div class="bottom-image">
                <img class="js-lazy" data-src="img/rose-angel.png" alt="rose-angel">
            </div>
    </div>