<div class="ritual-board">
    <div class="ritual-board__container container">
        <div class="ritual-board__text">
            <p>
                Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то тексттут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текс т какой то текст тут какой то текст тут какой то тут какой то текст ут какой то текст тут какой то т
            </p>
        </div>
        <div class="ritual-board__wrap">
            <div class="ritual-board__head section-head">
                <h2 class="ritual-board__title title-l title-l_smaller">Доска ритуальных объявлений</h2>
            </div>
            <div class="ritual-board__button">
                <img class="mob-hide js-lazy" data-src="./img/ritual-board-3.png" alt="img">
                <a href="#" class="btn btn_big">Подать объявление</a>
            </div>
        </div>
        <div class="ritual-board__img ritual-board__img_1">
            <img class="js-lazy" data-src="./img/ritual-board-1.jpg" alt="img">
        </div>
        <div class="ritual-board__img ritual-board__img_2 mob-hide">
            <img class="js-lazy" data-src="./img/ritual-board-2.png" alt="img">
        </div>
    </div>
</div>