<div class="vip-placement">
    <div class="vip-placement__container container">
        <div class="vip-placement__row">
            <div class="vip-placement__img-wrap">
                <div class="vip-placement__img">
                    <img class="js-lazy" data-src="./img/vip-placement.png" alt="img">
                </div>
            </div>
            <div class="vip-placement__col vip-placement__descr">
                <div class="vip-placement__head section-head">
                    <h2 class="vip-placement__title title-l">Сделайте страницу Вашей компании самой интересной и яркой</h2>
                </div>
                <div class="vip-placement__text">
                    <p>
                        Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то тексттут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текс т какой то текст тут какой то текст тут какой то тут какой то текст ут какой то текст тут какой тото текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текс т какой то текст тут какой то текст тут какой то тут какой то текст ут какой то текст тут какой то т т
                    </p>
                    <a href="#" class="btn btn_big">Разместить</a>
                </div>
            </div>
        </div>
    </div>
</div>