<div class="memory-goods">
	<div class="memory-goods__container container">
		<div class="row memory-goods__row">
			<div class="col-md-3 col-sm-3 memory-goods__col">
				<div class="page-of-memory__person person-info">
					<div class="person-info__photo">
						<img class="js-lazy" data-src="./img/memory-item.jpg" alt="photo">
						<div class="person-info__img">
							<img class="js-lazy" data-src="./img/candles.gif" alt="img">
						</div>
						<div class="person-info__img person-info__img_1">
							<img class="js-lazy" data-src="./img/ribbon.png" alt="img">
						</div>
					</div>
					<div class="person-info__general text-center">
						<p>
							Фамилия Имя Отчество
						</p>
						<span>
							1937 - 1991
						</span>
					</div>
				</div>
				<div class="links">
					<a href="#">Основное <i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Некрологи<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Свеча памяти<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Фотоальбом<i class="fi flaticon-arrows-1"></i></a>
					<a class="active" href="#">Заказать цветы<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Заказать уход<i class="fi flaticon-arrows-1"></i></a>
				</div>
			</div>
			<div class="col-md-9 col-sm-9 memory-goods__col">
				<div class="funeral__tile">
					<div class="funeral__top top-bar mob-hide">
						<div class="shop-sort-wrap">
							<div class="ps-options pull-left">
								<span>Показывать по:</span>
								<div class="ps-select">
									<i class="fa fa-caret-down"></i>
									<select>
										<option>4</option>
										<option>5</option>
										<option selected>6</option>
									</select>
								</div>
							</div>
							<div class="shop-sort">
								<a href="#" class="active"><i class="flaticon-squares"></i></a>
								<a href="#"><i class="flaticon-signs-1"></i></a>
							</div>
						</div>
					</div>
					<div class="companies-group funeral__group">
						<div class="row">
							{% for i in range(0, 6) %}
							<div class="col-md-4 col-sm-6 col-xs-6">
								<a href="#" class="funeral__item companies-item">
									<div class="companies-item__wrap">
										<div class="sf-thumb">
											<div class="sf-thumb__wrap">
												<img class="js-lazy" data-src="./img/wreath-1.png" alt="img">
											</div>
										</div>
										<div class="companies-item__text">
											<h4 class="title-s companies-item__name">
												Наименование товара
											</h4>
											<div class="companies-item__type">
												<div class="product-prices">
													<div class="product-single-price">
														690 ₽
														<span> 890 ₽</span>
													</div>
													<div class="product-single-price">
														<img class="js-lazy" data-src="img/logo1.png" alt="map-img">
													</div>
												</div>
											</div>
											<div class="companies-item__descr">
												<div class="product-reviews">
													<span class="pr-ratings">
														<i class="flaticon-favorite"></i>
														<i class="flaticon-favorite"></i>
														<i class="flaticon-favorite"></i>
														<i class="flaticon-favorite"></i>
														<i class="flaticon-favorite"></i>
													</span>
													<div class="product-reviews__details mob-hide">
														<span>5.0</span>
														<!-- <span>{{ mixins.icon('users') }}</span>
														<span>(1)</span> -->
													</div>
												</div>
											</div>
										</div>
										<div class="companies-item__btn">
											<span class="btn">
												<i class="fi flaticon-web"></i> 
												&nbsp;Купить
											</span>
										</div>
									</div>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
					<!-- Start page-nav -->
					{% include "partials/blogs/_page-nav.html" %}
					<!-- End page-nav -->
				</div>
				<div class="bottom-image">
					<img class="js-lazy" data-src="img/rose-candle.png" alt="rose-angel">
				</div>
			</div>
		</div>
		<div class="row memory-goods__row">            
			<div class="col-md-3 col-sm-3 memory-goods__col">
				<div class="page-of-memory__person person-info">
					<div class="person-info__photo">
						<img class="js-lazy" data-src="./img/memory-item.jpg" alt="photo">
						<div class="person-info__img">
							<img class="js-lazy" data-src="./img/candles.gif" alt="img">
						</div>
						<div class="person-info__img person-info__img_1">
							<img class="js-lazy" data-src="./img/ribbon.png" alt="img">
						</div>
					</div>
					<div class="person-info__general text-center">
						<p>
							Фамилия Имя Отчество
						</p>
						<span>
							1937 - 1991
						</span>
					</div>
				</div>
				<div class="links">
					<a href="#">Основное <i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Некрологи<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Свеча памяти<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Фотоальбом<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Заказать цветы<i class="fi flaticon-arrows-1"></i></a>
					<a class="active" href="#">Заказать уход<i class="fi flaticon-arrows-1"></i></a>
				</div>
			</div>
			<div class="col-md-9 col-sm-9 memory-goods__col">
				<div class="funeral__list">
					<div class="funeral__top top-bar mob-hide">
						<div class="shop-sort-wrap">
							<div class="ps-options pull-left">
								<span>Показывать по:</span>
								<div class="ps-select">
									<i class="fa fa-caret-down"></i>
									<select>
										<option selected>4</option>
										<option>5</option>
										<option>6</option>
									</select>
								</div>
							</div>
							<div class="shop-sort">
								<a href="#">
									<i class="flaticon-squares"></i>
								</a>
								<a href="#" class="active">
									<i class="flaticon-signs-1"></i>
								</a>
							</div>
						</div>
					</div>
					{% for i in range(0, 4) %}
						<!-- <div class="col-md-4 col-sm-6 col-xs-6"> -->
						<a href="#" class="funeral__item companies-item companies-item_list">
							<div class="companies-item__wrap">
								<div class="sf-thumb js-lazy" data-src="background-image: url(./img/wreath-2.png)">
								</div>
								<div class="companies-item__text">
									<h4 class="title-s companies-item__name">Название компании</h4>
									<div class="companies-item__type">
										<div class="product-prices">
											<div class="product-single-price">690 ₽<span> 890 ₽</span>
											</div>
											<div class="product-single-price">
												<img class="js-lazy" data-src="img/logo1.png" alt="map-img">
											</div>
										</div>
									</div>
									<p>
										Текст текст текст Текст текст текстТекст текст текстТекст текст текстТекст текст текстТекст текст текст
									</p>
									<div class="companies-item__descr">
										<div class="product-reviews">
											<span class="pr-ratings">
												<i class="flaticon-favorite"></i>
												<i class="flaticon-favorite"></i>
												<i class="flaticon-favorite"></i>
												<i class="flaticon-favorite"></i>
												<i class="flaticon-favorite"></i>
											</span>
											<div class="product-reviews__details mob-hide">
												<span>5.0</span>
												<!-- <span>{{ mixins.icon('users') }}</span>
												<span>(1)</span> -->
											</div>
										</div>
									</div>
									<span class="btn">
										<i class="fi flaticon-web"></i> 
										&nbsp;Купить
									</span>
								</div>
							</div>
						</a>
						<!-- </div> -->
					{% endfor %}
					<!-- Start page-nav -->
					{% include "partials/blogs/_page-nav.html" %}
					<!-- End page-nav -->
				</div>
				<div class="bottom-image">
					<img class="js-lazy" data-src="img/rose-candle.png" alt="rose-angel">
				</div>
			</div>
		</div>
	</div>
</div>