<div class="memory-candle">
	<div class="memory-candle__container container">
		<div class="row memory-candle__row">
			<div class="col-md-3 col-sm-3 memory-candle__col">
				<div class="page-of-memory__person person-info">
					<div class="person-info__photo">
						<img src="./img/memory-item.jpg" alt="photo">
						<div class="person-info__img">
							<img src="./img/candles.gif" alt="img">
						</div>
						<div class="person-info__img person-info__img_1">
							<img src="./img/ribbon.png" alt="img">
						</div>
					</div>
					<div class="person-info__general text-center">
						<p>
							Фамилия Имя Отчество
						</p>
						<span>
							1937 - 1991
						</span>
					</div>
				</div>
				<div class="links">
					<a href="#">Основное <i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Некрологи<i class="fi flaticon-arrows-1"></i></a>
					<a class="active" href="#">Свеча памяти<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Фотоальбом<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Заказать цветы<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Заказать уход<i class="fi flaticon-arrows-1"></i></a>
				</div>
			</div>
			<div class="col-md-9 col-sm-9 memory-candle__col">
				<div class="memory-candle__text">
					<p>
						Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
					</p>
					<p>
						Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то те
					</p>
				</div>
				<form class="post-form memory-candle__form memory-form">
					<h4 class="memory-form__title title-sm memory-form__title_bordered">
						Информация о свече памяти
					</h4>
					<div class="post-form__row row">
						<div class="post-form__col col-md-12">
							<div class="form-radio memory-form__radio">
								<div class="form-radio__radio">
									<input type="radio" id="1" name="memory-candle">
									<label for="1">100 ₽ - 1 Месяц</label>
								</div>
								<div class="form-radio__radio">
									<input type="radio" id="2" name="memory-candle" checked>
									<label for="2">500 ₽- 1 Год</label>
								</div>
								<div class="form-radio__radio">
									<input type="radio" id="3" name="memory-candle">
									<label for="3">1 000 ₽ - Навсегда</label>
								</div>
							</div>
						</div>
					</div>
					<div class="post-form__row row memory-form__message">
						<div class="post-form__col col-md-6 col-xs-12">
							<label for="">Введите свое имя, чтобы оно отображалось в сообщении</label>
							<input class="post-form__input memory-form__input" type="text" id="name">
						</div>
						<div class="post-form__col col-md-12 col-xs-12">
							<label for="message">Ваш отзыв</label>
							<textarea class="post-form__textarea memory-form__textarea" id="message"></textarea>
						</div>
						<div class="post-form__col col-md-12 col-xs-12">
							<label class="memory-form__checkbox">
								<input type="checkbox" checked>
								<div class="memory-form__checkbox-text">
									<span class="check fa fa-check"></span>
									Пожалуйста, поставьте галочку здесь, чтобы получить одноразовое электронное письмо за неделю до годовщины
								</div>
							</label>
						</div>
					</div>
					<h4 class="memory-form__title title-sm memory-form__title_bordered">
						Способ оплаты
					</h4>
					<div class="post-form__row row">
						<div class="post-form__col col-md-12">
							<div class="form-radio memory-form__radio">
								<div class="form-radio__radio">
									<input type="radio" id="1" name="memory-pay">
									<label for="1">Visa / Master card</label>
								</div>
								<div class="form-radio__radio">
									<input type="radio" id="2" name="memory-pay" checked>
									<label for="2">Сбербанк онлайн</label>
								</div>
								<div class="form-radio__radio">
									<input type="radio" id="3" name="memory-pay">
									<label for="3">Яндекс деньги</label>
								</div>
							</div>
						</div>
					</div>
					<h4 class="memory-form__title title-sm memory-form__title_bordered">
							Личная информация
						</h4>
					<div class="post-form__row row memory-form__info">
						<div class="post-form__col col-md-6 col-xs-12">
							<input class="post-form__input memory-form__input" type="text" placeholder="First name">
						</div>
						<div class="post-form__col col-md-6 col-xs-12">
							<input class="post-form__input memory-form__input" type="text" placeholder="Last Name">
						</div>
					</div>
					<div class="post-form__row row memory-form__info">
						<div class="post-form__col col-md-6 col-xs-12">
							<input class="post-form__input memory-form__input" type="text" placeholder="Address">
						</div>
						<div class="post-form__col col-md-6 col-xs-12">
							<input class="post-form__input memory-form__input" type="text" placeholder="Email">
						</div>
					</div>
					<div class="post-form__row row memory-form__info">
						<div class="post-form__col col-md-6 col-xs-12">
							<input class="post-form__input memory-form__input" type="text" placeholder="City">
						</div>
						<div class="post-form__col col-md-6 col-xs-12">
							<input class="post-form__input memory-form__input" type="text" placeholder="Phone">
						</div>
					</div>
					<div class="necrology-form__btn"><button class="btn btn_bold btn_big" type="submit">Далее</button></div>
				</form>
				<div class="bottom-image">
					<img src="img/rose-candle.png" alt="rose-angel">
				</div>
			</div>
		</div>
	</div>
</div>