<div class="page-head">
	<div class="container page-head__container">
		<ul class="bcrumbs page-head__bcrumbs">
			<li>
				<a href="#">
					<span class="showin">{{ mixins.icon('house') }}</span>
					<span class="hidein">Home</span>
				</a>
			</li>
			<li>
				<a href="#">Obituaries</a>
			</li>
			<li>Past</li>
		</ul>
	</div>
</div>
<div class="page-of-memory">
	<div class="page-of-memory__container container">
		<div class="page-of-memory__head section-head text-center">
			<h1 class="title-l page-of-memory__title">Страница памяти</h1>
			<p>Подзаголовок страницы будет тут</p>
		</div>
		<div class="row page-of-memory__row">
			<div class="col-md-3 col-sm-3 page-of-memory__col">
				<div class="page-of-memory__person person-info">
					<div class="person-info__photo">
						<img class="js-lazy" data-src="./img/memory-item.jpg" alt="photo">
						<div class="person-info__img">
							<img class="js-lazy" data-src="./img/candles.gif" alt="img">
						</div>
						<div class="person-info__img person-info__img_1">
							<img class="js-lazy" data-src="./img/ribbon.png" alt="img">
						</div>
					</div>
					<div class="person-info__general text-center">
						<p>
							Фамилия Имя Отчество
						</p>
						<span>
							1937 - 1991
						</span>
					</div>
				</div>
				<div class="links">
					<a class="active" href="#">Основное<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Некрологи<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Свеча памяти<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Фотоальбом<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Заказать цветы<i class="fi flaticon-arrows-1"></i></a>
					<a href="#">Заказать уход<i class="fi flaticon-arrows-1"></i></a>
				</div>
			</div>
			<div class="col-md-9 col-sm-9 page-of-memory__details">
				<div class="page-of-memory__personal-info">
					<div class="contacts-item">
						<i class="fi flaticon-people"></i>
						Полное имя: 
						<span>Фамилия Имя Отчество (девичья Фамилия)</span>
					</div>
					<div class="contacts-item">
						<i class="fa fa-calendar"></i>
						Даты жизни: 
						<span>Вт. 03-12-1954 - Вт. 03-12-2016</span>
					</div>
					<div class="contacts-item">
						<i class="fa fa-id-card"></i>
						Возраст: 
						<span>62</span>
					</div>
				</div>
				<div class="page-of-memory__necrologue necrologue">
					<h5 class="necrologue__title title-sm">
						Памяти Иванова Сергея Петровича
					</h5>
					<p>
						Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
					</p>
					<p>
						Тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст тут какой то текст
					</p>
				</div>
				<div class="page-of-memory__list">
					<div class="agent">
						<div class="agent__col-sm">
							<div class="agent__title">
								Время и место похорон
							</div>
							<div class="agent__img js-lazy" data-src="background-image: url(./img/img.png);">
							</div>
						</div>
						<div class="agent__col-md">
							<div class="agent__row">
								<div class="contacts-item">
									<i class="fa fa-map-marker"></i>
									Адрес: 
									<a href="#">
										<span class="underlined">
											Россия, г. Москва, ул. Название, 53
										</span>
										<span class="address js-tooltip" data-tooltip-content="#tooltip_content-1">
											{{mixins.icon('pointer-advice')}}
										</span>
									</a>
								</div>
								<div class="contacts-item">
									<i class="fa fa-calendar"></i>
									Дата: 
									<span>Вт. 04-12-2016</span>
								</div>
								<div class="contacts-item">
									<i class="fa fa-clock-o fa-flip-horizontal"></i>
									Время проведения: 
									<span>12:00</span>
								</div>
							</div>
						</div>
					</div>
					<div class="agent">
						<div class="agent__col-sm">
							<div class="agent__title">Церковь</div>
							<div class="agent__img js-lazy" data-src="background-image: url(./img/church.png);">
							</div>
						</div>
						<div class="agent__col-md">
							<div class="agent__row">
								<div class="contacts-item">
									<i class="fa fa-map-marker"></i>
									Адрес: 
									<a href="#">
										<span class="underlined">
											Россия, г. Москва, ул. Название, 53
										</span>
										<span class="address js-tooltip" data-tooltip-content="#tooltip_content-1">
											{{mixins.icon('pointer-advice')}}
										</span>
									</a>
								</div>
								<div class="contacts-item">
									<i class="fa fa-calendar"></i>
									Дата: 
									<span>Вт. 04-12-2016</span>
								</div>
								<div class="contacts-item">
									<i class="fa fa-clock-o fa-flip-horizontal"></i>
									Время проведения: 
									<span>12:00</span>
								</div>
							</div>
						</div>
					</div>
					<div class="agent">
						<div class="agent__col-sm">
							<div class="agent__title">
								Поминальный обед
							</div>
							<div class="agent__img js-lazy" data-src="background-image: url(./img/dish-img.png);">
							</div>
						</div>
						<div class="agent__col-md">
							<div class="agent__row">
								<div class="contacts-item">
									<i class="fa fa-map-marker"></i>
									Адрес: 
									<a href="#">
										<span class="underlined">
											Россия, г. Москва, ул. Название, 53
										</span>
										<span class="address js-tooltip" data-tooltip-content="#tooltip_content-1">
											{{mixins.icon('pointer-advice')}}
										</span>
									</a>
								</div>
								<div class="contacts-item">
									<i class="fa fa-calendar"></i>
									Дата: 
									<span>Вт. 04-12-2016</span>
								</div>
								<div class="contacts-item">
									<i class="fa fa-clock-o fa-flip-horizontal"></i>
									Время проведения: 
									<span>12:00</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row funeral-info__counter">
					<div class="col-md-12 col-sm-12">
						<!-- Start counter -->
						{% include "partials/post/_counter.html" %}
						<!-- End counter -->
					</div>
					<div class="bottom-image">
						<img class="js-lazy" data-src="img/rose-candle.png" alt="rose-angel">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tooltip_templates">
		<div id="tooltip_content-1">
			<div class="hint">
				<div class="hint-map">Посмотреть на карте</div>
			</div>
		</div>
	</div>
</div>